{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<p>
    <div class="d-flex flex-column align-items-center h-100 w-100 justify-content-center">
        <a href="/"><img class="mb-5" src="{% static 'media/logo.svg' %}" alt="wott-logo"></a>
        {% blocktrans %}
            <h4 class="wott-alert-full wott-alert-box wott-border-radius-lg wott-blue p-3 w-50">
                We have sent you an e-mail with a link to reset your password. Please check
                your e-mail and click the link to continue.
            </h4>
        {% endblocktrans %}
    </div>
</p>
{% endblock %}


{# This is used by django.contrib.auth #}
