{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
<div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center" id="change-password">
  <div class="wott-card wott-box-shadow p-4">
    <div class="wott-card-body">
  
      <h4 class="mb-4 font-weight-bold">{% trans "Enter your new password below to reset your password:" %}</h4>
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="wott-btn-medium btn-wott-primary border-0 mt-4 ml-0" type="submit" value="{% trans 'Set password' %}" />
      </form>

    </div>
  </div>
</div>

{% else %}
<div class="d-flex flex-column align-items-center h-100 w-100 justify-content-center">
  <h4 class="wott-alert-full wott-alert-box wott-border-radius-lg p-4 w-auto">Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a></h4>
</div>
{% endif %}
<style>
  #change-password input {
    height: 50px !important;
    border: 2px solid #cddef7;
    border-radius: 8px;
    width: 500px;
  }

  #change-password label {
    font-size: 1rem;
    font-weight: 600;
    display: block;
  }

  #change-password ul {
    white-space: normal;
    padding: 10px;
    background-color: #e9edf7;
    list-style-type: none;
    width: 500px;
    color: #2460c8;
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
</style>
{% endblock %}

{# This is used by django.contrib.auth #}
