{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load static %}

{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %}WoTT - {% trans "Register for an account" %}{% endblock %}

{% block content %}
  <div id="register-container" style="background-image: url({% static 'media/login-bg.png' %});">
    <main class="main w-75 wott-rounded-lg m-auto d-flex align-items-center position-relative">
      <div id="server-container-register">
        <img id="server-image-content" src="{% static 'media/server.png' %}" alt="server"/>
      </div>
      <div class="container h-100">
    
        <div id="register-head" class="d-flex bg-white">
          <h1 id="register-title">Register</h1>
          <picture class="d-flex align-items-center align-items-end">
            <img src="{% static '/media/logo.png' %}" alt=""/>
          </picture> 
        </div>

        <div class="p-0 mb-0">
          <form id="register-form" class="d-flex" method="post" action="">
            {% csrf_token %}
            <div class="box-left">
              <div class="form-group required">
                <label class="wott-label" for="id_email">Your Email Address <span class="wott-blue">(*)</span></label>
                {% render_field form.email class+="form-control wott-form-control wott-rounded-lg" placeholder="E-mail" %}
              </div>
              <div class="form-group required">
                <label class="wott-label" for="id_password1">Password <span class="wott-blue">(*)</span></label>
                {% render_field form.password1 class+="form-control wott-form-control wott-rounded-lg" placeholder="Password" %}
              </div>
              <div class="form-group required">
                <label class="wott-label" for="id_password2">Password Confirmation</label>
                {% render_field form.password2 class+="form-control wott-form-control wott-rounded-lg" placeholder="Password confirmation" %}
              </div>
              <div class="form-group required">
                <label class="wott-label" for="id_payment_plan">Select your Payment Plan</label>
                {% render_field form.payment_plan class+="form-control wott-form-control wott-rounded-lg custom-select" %}
              </div>
            </div>
            <div class="box-right">
              <div class="form-group">
                <label class="wott-label" for="id_name">Your Name</label>
                {% render_field form.first_name class+="form-control wott-form-control wott-rounded-lg" placeholder="Name (optional)" %}
              </div>
              <div class="form-group">
                <label class="wott-label" for="id_company">Company</label>
                {% render_field form.company class+="form-control wott-form-control wott-rounded-lg" placeholder="Company (optional)" %}
              </div>
              <div class="form-group pb-2">
                <label class="wott-label" for="id_phone">Your Phone</label>
                {% render_field form.phone class+="form-control wott-form-control wott-rounded-lg" placeholder="Phone Number (optional)" %}
              </div>
              <div class="form-group mt-5">
                {% buttons %}
                  <button type="submit" class="btn btn-lg btn-primary wott-btn wott-btn-full btn-wott-primary">{% trans 'Get Started' %}</button>
                {% endbuttons %}
              </div>
            </div>
          </form>
        </div>

      </div>
    </main>
  </div>
{% endblock content %}