{% extends 'base.html' %}

{%  block content %}
<div class="container">
  <div class="page-header">
    <h1>Web of Trusted Things</h1>
    <nav class="nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/accounts/logout/">Logout</a>
    </nav>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 col-sm-12">
      <hr class="mt-0 mb-4">
      {% block app_content %}
      {% endblock app_content %}
    </div>
  </div>
</div>
{%  endblock content %}