<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <title>{% block title %}WoTT{% endblock title %}</title>

    <link rel="stylesheet" href="{% static WEBPACK_BUNDLE.css %}">
    {% block css %}
    {% endblock %}

    <script src="{% static WEBPACK_BUNDLE.js %}"></script>
    {% block js %}
    {% endblock %}

  </head>
  <body>

  {% block content %}
  {% endblock content %}
  {% block scripts %}
  {% endblock scripts %}
  </body>
</html>
