{% extends "profile_base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block profile_content %}

  <div class="inner-profile-tab">
    {% if github_authorized %}
      {% if form.repo.field.choices.1 %} {# if choices are not empty (first element is a None) #}
      <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group is-valid">
          <label class="wott-label" for="{{ form.repo.id_for_label }}">Choose your GitHub Repository</label>
          <div class="wott-form-group d-flex pr-4">
            {% render_field form.repo class+="custom-select form-control wott-form-control wott-rounded-lg" %}
            <button class="btn btn-wott-primary wott-btn-small" type="button" id="refresh-repos-btn" onclick="refreshRepos()">
              <i class="fas fa-sync"></i>
            </button>
          </div>
        </div>
        {% buttons %}
          <button type="submit" class="btn wott-btn btn-wott-primary mr-3">Save changes</button>
          <button type="button" class="btn wott-btn btn-wott-secondary" onclick="installGithub()">Install App</button>
        {% endbuttons %}
      </form>
      {% else %}
        <h2 class="mb-4 api-title font-weight-bold py-2">Install wott-bot</h2>
        <button type="button" class="btn wott-btn btn-wott-secondary" onclick="installGithub()">Install App</button>
      {% endif %}
    {% elif github_authorized is False %}
      <h2 class="mb-4 api-title font-weight-bold py-2">Authorize access to GitHub</h2>
      <button onclick="authorizeGithub()" class="btn wott-btn btn-wott-primary">Authorize</button>
    {% else %}
      <h2 class="mb-4 api-title font-weight-bold py-2">GitHub Integration is not available.</h2>
    {% endif %}
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
  function authorizeGithub() {
    let w = window.open("{{ github_auth_url }}", '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');
  }

  let popupCheckInterval = null;
  function installGithub() {
    if(popupCheckInterval)
        return;
    let w = window.open("{{ github_inst_url }}", '_blank', 'location=yes,status=yes');
    popupCheckInterval = setInterval(() => {
        if(w.closed) {
            clearInterval(popupCheckInterval);
            location.reload();
        }
    }, 100);
  }

  async function refreshRepos() {
    let select = $('#id_repo'),
        refresh_btn = $('#refresh-repos-btn');
    refresh_btn.attr('disabled', true);
    $.ajax({
        url: './?partial=1',
        type: 'GET',
        success: (data) => {
            console.log(data);
            select.html(data);
            refresh_btn.attr('disabled', false);
        },
        error: console.error
    })
  }
  </script>
{% endblock %}
