{% extends "profile_base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block profile_content %}
  <div id="profile-tab" class="border-left-0 inner-profile-tab">
    <form method="POST" action="">
    {% csrf_token %}
      <div class="form-group">
        <label class="wott-label" for="{{ form.username.id_for_label }}">{{ form.username.label }} <span class="wott-blue">(*)</span></label>
        {% render_field form.username class+="form-control wott-form-control wott-rounded-lg" placeholder=form.username.label %}
      </div>
      <div class="form-group">
        <label class="wott-label" for="{{ form.payment_plan.id_for_label }}">{{ form.payment_plan.label }}</label>
        {% render_field form.payment_plan class+="form-control wott-form-control wott-rounded-lg custom-select" %}
      </div>
      <div class="form-group">
        <label class="wott-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {% render_field form.email class+="form-control wott-form-control wott-rounded-lg" placeholder=form.email.label %}
      </div>
      <div class="d-flex">
        <div class="form-group w-50 pr-3">
          <label class="wott-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
          {% render_field form.first_name class+="form-control wott-form-control wott-rounded-lg" placeholder=form.first_name.label %}
        </div>
        <div class="form-group w-50 pl-3">
          <label class="wott-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
          {% render_field form.last_name class+="form-control wott-form-control wott-rounded-lg" placeholder=form.last_name.label %}
        </div>
      </div>
      <div class="d-flex">
        <div class="form-group w-50 pr-3">
          <label class="wott-label" for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>
          {% render_field form.company class+="form-control wott-form-control wott-rounded-lg" placeholder=form.company.label %}
        </div>
        <div class="form-group w-50 pl-3">
          <label class="wott-label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
          {% render_field form.phone class+="form-control wott-form-control wott-rounded-lg" placeholder=form.phone.label %}
        </div> 
      </div>
      {% buttons %}
        <button id="btn-profile-update" type="submit" class="wott-btn btn-wott-primary mb-0 py-0">Save changes</button>
      {% endbuttons %}
    </form>
    
  </div>
{% endblock %}