{% extends "profile_base.html" %}
{% load bootstrap4 %}

{% block profile_content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">GitHub Repository</h5>
    </div>
    <div class="card-body">
      {% if github_authorized %}
      <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" onclick="installGithub()">Install App</button>
        {% endbuttons %}
      </form>
      {% elif github_authorized is False %}
        <button onclick="authorizeGithub()" class="btn btn-primary">Authorize GitHub</button>
      {% else %}
        GitHub Integration is not available.
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
  function authorizeGithub() {
    let w = window.open("{{ github_auth_url }}", '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');
  }

  let popupCheckInterval = null;
  function installGithub() {
    if(popupCheckInterval)
        return;
    let w = window.open("{{ github_inst_url }}", '_blank', 'location=yes,status=yes');
    popupCheckInterval = setInterval(() => {
        if(w.closed) {
            clearInterval(popupCheckInterval);
            location.reload();
        }
    }, 100);
  }
  </script>
{% endblock %}
