{% extends "admin_base.html" %}

{% load bootstrap4 %}

{% load static %}
{% load highlight_selector %}

{% block title %}WoTT - Dashboard{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Settings</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  <div class="container-fluid">

    <div id="inner-settings" class="row wott-box-shadow">
      <div id="settings-nav" class="card mb-0 border-0 h-auto col-md-3 pr-0">
        <div class="border-0 bg-white pl-2 py-2 my-2">
          {% include "menu_item.html" with tab=tab_account url='profile' image='/media/account-unselected.png' image_selected='/media/account.png' label="Account" %}
          {% include "menu_item.html" with tab=tab_password url='profile_password' image='/media/password.png' image_selected='/media/password-selected.png' label="Password" %}
          {% include "menu_item.html" with tab=tab_api_token url='profile_token' image='/media/api-token.png' image_selected='/media/api-selected.png' label="API Token" %}
          {% include "menu_item.html" with tab=tab_github_integration url='github_integration' image='/media/github.png' image_selected='/media/github-selected.png' label="GitHub Integration" beta_badge=True %}
          {% include "menu_item.html" with tab=tab_slack_integration url='slack_integration' image='/media/slack.png' image_selected='/media/slack-selected-blue.png' label="Slack Integration"%}
          {% include "menu_item.html" with tab=tab_payment_plan url='payment_plan' image='/media/payment.png' image_selected='/media/payment-selected.png' label="Payment Plan" %}
        </div>
      </div>

      <div class="col-md-9 py-0">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="account" role="tabpanel">
            {% block profile_content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
