{% extends "profile_base.html" %}
{% load bootstrap4 %}

{% block profile_content %}

  <div class="inner-profile-tab">
    {% if github_authorized %}
    <form method="POST" action="">
      {% csrf_token %}
      <!-- {% bootstrap_form form %} -->
      <div class="form-group is-valid">
        <label class="wott-label" for="id_repo">Choose your GitHub Repository</label>
        <select name="repo" class="custom-select form-control wott-form-control wott-rounded-lg" title="" id="id_repo">
          <option value="" selected=""></option>
          <option value="1">fake/fake</option>
        </select>
      </div>
      {% buttons %}
        <button type="submit" class="btn wott-btn btn-wott-primary mr-3">Save changes</button>
        <button type="button" class="btn wott-btn btn-wott-secondary" onclick="installGithub()">Install App</button>
      {% endbuttons %}
    </form>
    {% elif github_authorized is False %}
      <h2 class="mb-4 api-title font-weight-bold py-2">Authorize access to GitHub</h2>
      <button onclick="authorizeGithub()" class="btn wott-btn btn-wott-primary">Authorize</button>
    {% else %}
      <h2 class="mb-4 api-title font-weight-bold py-2">GitHub Integration is not available.</h2>
    {% endif %}
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
  function authorizeGithub() {
    let w = window.open("{{ github_auth_url }}", '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');
  }

  let popupCheckInterval = null;
  function installGithub() {
    if(popupCheckInterval)
        return;
    let w = window.open("{{ github_inst_url }}", '_blank', 'location=yes,status=yes');
    popupCheckInterval = setInterval(() => {
        if(w.closed) {
            clearInterval(popupCheckInterval);
            location.reload();
        }
    }, 100);
  }
  </script>
{% endblock %}
