{% extends "profile_base.html" %}
{% load bootstrap4 %}

{% block profile_content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Billing</h5>
    </div>
    <div class="card-body">
      <form method="POST" action="" id="id_payments_form">
        {% bootstrap_form_errors form type='non_fields' %}
        {% csrf_token %}
        {% bootstrap_field form.payment_plan %}
        {% bootstrap_field form.subscription_status %}
        {% bootstrap_field form.current_period_ends %}
        {% bootstrap_field form.total_sum %}
        {% bootstrap_field form.nodes_number %}
        {% bootstrap_field form.nodes_number_hidden %}
        {% bootstrap_field form.payment_method_id %}
        <div class="card-form-group form-group d-none">
          <label for="id_card_element">Credit or debit card</label>
          <div id="id_card_element"></div>
          <div id="id_card_errors" role="alert" style="color:red;"></div>
        </div>
        {% buttons %}
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
      let payment_plan_id = $('#id_payment_plan').val();  // Remember initial payment_plan field value.
      let nodes_number = $('#id_nodes_number').val();  // Remember initial nodes_number field value.
      let form = document.getElementById('id_payments_form');
      let errorElement = document.getElementById('id_card_errors');
      let handle_stripe_submission = false;
      let price_per_node = {{ PRICE_PER_NODE }};

      const style = {
          base: {
              color: '#32325d',
              fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
              fontSmoothing: 'antialiased',
              fontSize: '16px',
              '::placeholder': {
                  color: '#aab7c4'
              }
          },
          invalid: {
              color: '#fa755a',
              iconColor: '#fa755a'
          }
      };

      if (payment_plan_id !== '1') {
          $('#id_nodes_number').removeAttr('disabled');
      }

      // Create a Stripe client.
      let stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
      // Create an instance of Elements.
      let elements = stripe.elements();
      // Create an instance of the card Element.
      let card = elements.create('card', {style: style});

      // Add an instance of the card Element into the `id_card_element` <div>.
      card.mount('#id_card_element');

      // Handle real-time validation errors from the card Element.
      card.on('change', (event) => {
          if (event.error) {
              errorElement.textContent = event.error.message;
          } else {
              errorElement.textContent = '';
          }
      });

      $('#id_payment_plan').change(function () {
          let new_payment_plan_id = $(this).val();
          if (new_payment_plan_id === '2') {
              $('#id_nodes_number').removeAttr('disabled');
              if ($('#id_nodes_number').val() === '') {
                  $('#id_nodes_number').val(1);
                  $('#id_total_sum').val(price_per_node);
              }
              if (payment_plan_id === '1') {  // Enabled standard plan.
                  $('.card-form-group').removeClass('d-none');  // Unhide card section.
                  handle_stripe_submission = true;
              }
          } else if (new_payment_plan_id === '1') {
              $('.card-form-group').addClass('d-none');  // Hide card section.
              $('#id_nodes_number').val(nodes_number);
              if (nodes_number)
                  $('#id_total_sum').val(nodes_number * price_per_node);
              else
                  $('#id_total_sum').val('');
              $('#id_nodes_number').attr('disabled', true);
              handle_stripe_submission = false;
          }
      });

      // Update the total sum field value.
      $('#id_nodes_number').change(function () {
          //alert($(this).val());
          $('#id_total_sum').val($(this).val() * price_per_node);
      });

      // Handle form submission.
      $(form).on('submit', (event) => {
          let nodes_number_hidden = $('#id_nodes_number').val();
          if (nodes_number_hidden === '')
              nodes_number_hidden = 1;
          $('#id_nodes_number_hidden').val(nodes_number_hidden);
          if (handle_stripe_submission) {
              event.preventDefault();
              stripe.createPaymentMethod({type: 'card', card: card}).then(function (result) {
                  if (result.error) {
                      // Inform the user if there was an error.
                      errorElement.textContent = result.error.message;
                  } else {
                      // Save Stripe payment id to the hidden field.
                      var hiddenInput = form.elements["payment_method_id"];
                      hiddenInput.setAttribute('value', result.paymentMethod.id);
                      // Submit the form.
                      form.submit();
                  }
              });
          }
      });
  </script>
{% endblock %}