{% extends "profile_base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block profile_content %}
  <div id="password-change-box" class="inner-profile-tab">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label class="wott-label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
        {% render_field form.old_password class+="form-control wott-form-control wott-rounded-lg custom-select" %}
      </div>
      <div class="form-group">
        <label class="wott-label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        {% render_field form.new_password1 class+="form-control wott-form-control wott-rounded-lg custom-select" %}
      </div>
      <div class="form-group">
        <label class="wott-label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        {% render_field form.new_password2 class+="form-control wott-form-control wott-rounded-lg custom-select" %}
      </div>
      {% buttons %}
        <button type="submit" class="wott-btn btn-wott-primary mb-0 mt-2 py-0">Save changes</button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}