{% extends "profile_base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block profile_content %}
  <div id="password-change-box" class="inner-profile-tab">
    <form method="POST">
      {% csrf_token %}

      {% for field in form %}
        {% include "form_field.html" with field=field %}
      {% endfor %}

      {% buttons %}
        <button type="submit" class="wott-btn btn-wott-primary mb-0 mt-2 py-0">Save changes</button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}