{% extends "profile_base.html" %}
{% load bootstrap4 %}

{% block profile_content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">API token</h5>
    </div>
    <div class="card-body">
      {% if user.auth_token %}
        <div class="form-group"><b><samp id="token-code">{{ user.auth_token }}</samp></b></div>
        <a href="{% url 'revoke_api_token' %}" class="btn btn-danger">Revoke token</a>
      {% else %}
        <a href="{% url 'generate_api_token' %}" class="btn btn-primary">Generate token</a>
      {% endif %}
    </div>
  </div>
{% endblock %}