.badge {
  color: $white;
  font-size: .8rem;
}

.wott-list-group-item-with-badge {
  display: flex;
}

.wott-badge-position {
  position: absolute;
  top: 14px;
  right: 8px !important;
  padding: 9px 3px;
  text-align: left;
  border-radius: 100px;
  font-size: 0.7em;
  margin: auto;
}

.wott-badge-pill {
  padding: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ef2f20;
  font-weight: 700;
  font-size: .65rem;
  line-height: .85rem;
  margin-left: 5%;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.wott-badge-text {
  display: inline-block;
}