.chart {
  margin: auto;
  position: relative;
  width: 100%;
  min-height: 300px;

  &-xs {
    min-height: 150px;
  }

  &-sm {
    min-height: 200px;
  }

  &-lg {
    min-height: 350px;
  }

  &-xl {
    min-height: 500px;
  }

  canvas {
    max-width: 100%;
  }
}

// Wott charts rules

.wott-chart-small-info {
  font-size: .21em;
  fill: white;
  font-weight: 800;
}

.wott-chart-medium-info {
  font-size: .21em;
  fill: white;
  font-weight: 800;
}

.wott-chart-big-info {
 font-family: Muli;
 font-size: .75em;
 fill: white;
 font-weight: 700;
}

.wott-chart-light-text {
  fill: #7CACFF;
}
