.High {
  color: #EF2F20;
} 

.Medium {
  color: #EF8F20;
} 

.Low {
  color: #23BED6;
} 

.cve-tab {
  th {
    font-size: .6rem;
    font-weight: 700;;
  }
  
  tr {
    padding: 1rem;
    font-size: .9rem;
    margin: 0;
    background-color: white;
  }
  
  .bullet-lg {
    font-size:1.5rem;
    @include mQ(1150px) {
      font-size: 1.2rem;
    }
  }

  
  select {
    border: 0;
    background: transparent;
    padding-left: 1px;
  }
  
  thead {
    border-radius: 8px;
    background-color: #EDF1FE;
  }
}
.top-section {
  display: flex;
  width: 100%;
  height: auto;
}

.left-container {
  width: 100%;
  height: 237px;
  display: flex;
  background-color:white;
}

/* USE THIS SELECTOR FOR FURTHER IMPROVEMNTS ON THE LAYOUT
/* .right-container {
  width: 30%;
  height: 237px;
  background-color:blue;
} */

.inner-left-box {
  width: 65%;
  height:100%;
  padding: 20px 2.2rem;
}

.inner-right-box {
  width: 35%;
  height:100%;
  padding-right: 25px;
}

.title-left-box {
  font-weight: 700;
  margin-bottom: 0;
  margin-top:10px;
  font-size: 1.3rem;
}

.cards-container {
  width: 100%;
  height:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-card {
  width: 31%;
  height: 65%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 2.1rem;
  border-radius: 8px;
  background-color: #EDF1FE;
}

.mini-card h1 {
  margin: 0;
  padding: 2px 0 5px;
  font-weight: 600;
}

.title-mini-card {
  font-size: .7rem;
  font-weight: 700;
}

.legend-mini-card {
  font-size: .6rem;
  font-weight: 700;
  @include mQ(1250px) {
    font-size: .5rem;
  }
  @include mQ(1090px) {
    font-size: .45rem;
  }
}


.border-table {
  border-bottom:1.5px solid #EDF1FE;
}

.small-text {
  font-size: .9rem;
  @include mQ(1250px) {
    font-size: .8rem;
  }
  @include mQ(1150px) {
    font-size: .7rem;
  }
}

#solve-header {
  padding-left: 3rem;
  @include mQ(1850px) {
    padding-left: 5rem;
  }
  @include mQ(1750px) {
    padding-left: 4.5rem;
  }
  @include mQ(1650px) {
    padding-left: 4rem;
  }
  @include mQ(1650px) {
    padding-left: 4rem;
  }
  @include mQ(1550px) {
    padding-left: 3.5rem;
  }
  @include mQ(1250px) {
    padding-left: 1.7rem;
  }
  @include mQ(1150px) {
    padding-left: 1.2rem;
  }
  @include mQ(1090px) {
    padding-left: .9rem;
  }
}

#solve-cel {
  padding-left: 3rem;
  @include mQ(1250px) {
    padding-left: 2.5rem;
  }
  @include mQ(1150px) {
    padding-left: 2.3rem;
  }
}

.medium-text {
  font-size: .9rem;
  @include mQ(1350px) {
    font-size: .8rem;
  }
  @include mQ(1150px) {
    font-size: .72rem;
  }
}

.font-strong {
  font-weight: 800;
}


/* GRAPH CLASSES */

.chart-text {
  font: 14px/1.2em "Muli", Arial, sans-serif;
  fill: black;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.45em);
  -ms-transform: translateY(-0.45em);
  -webkit-transform: translateY(-0.45em);
  transform: translateY(-0.45em);
}

.chart-label {
  font-size: 0.12em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(.5em);
  -ms-transform: translateY(5em);
  -webkit-transform: translateY(.5em);
  transform: translateY(.5em);
}


.chart-label2 {
  font-size: 0.12em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(1.8em);
  -ms-transform: translateY(1.8em);
  -webkit-transform: translateY(1.8em);
  transform: translateY(1.8em);
}

.chart-label3 {
  font-size: 0.12em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(3.2em);
  -ms-transform: translateY(3.2em);
  -webkit-transform: translateY(3.2em);
  transform: translateY(3.2em);
}

// POPOVER

.popover-box {
  padding: 2rem 1.5rem;
  color: #495057;
  position: fixed !important;
  width: 60% !important;
  max-height: 510px !important;
  overflow-y: scroll !important;
  overflow-x: hidden;
  top: 0px !important;
  left: 0px !important;
  transform: translate(40%, 25%);
  background-color: white !important;
  border-radius: 8px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  pointer-events: all;
  z-index: 0;
  word-wrap: break-word;
}


.popover-box a {
  font-size: 1rem;
  font-weight: 700;
  max-width: 100px;
  width: 100px;
  white-space: normal;
  margin: 1em 9.4rem 0.5rem 2.1rem;
  @include mQ(1850px) {
    margin: 1rem 8.7rem .8rem 2rem;
  }
  @include mQ(1750px) {
    margin: 1rem 6rem .8rem 2rem;
  }
  @include mQ(1550px) {
    margin: 1rem 5.5rem .8rem 2rem;
  }
  @include mQ(1440px) {
    margin: .8rem 4.4rem .8rem 2rem;
  }
  @include mQ(1400px) {
    margin: .8rem 4.8rem .8rem 2rem;
  }
  @include mQ(1300px) {
    margin: .8rem 3.4rem .8rem 2rem;
  }
  @include mQ(1200px) {
    margin: .8rem 2rem .8rem 2rem;
  }
  @include mQ(1150px) {
    margin: .8rem 4.2rem .8rem 2rem;
  }
  @include mQ(1090px) {
    margin: .8rem 2rem .8rem 2rem;
  }
}

.popover-title {
  width: 100%;
  padding: 0.5rem 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popover-title-line {
  width: 100vw;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 8px;
  margin-bottom: 25px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
}


.instructions-box {
  overflow-x: scroll;
  transform: translate(40%,93%)
}

.instructions-box {
  pre {
    font-size: .8rem;
    padding-right: 1rem;
  }
}