.form-control-no-border {
  border: 0;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.wott-form-control {
  height: 62px;
  border: 2px solid #cddef7;
}
