.navbar {
  border-bottom: $navbar-border-bottom;
  padding: 2.45rem 2.5rem;
  @include media-breakpoint-down(lg) {
    padding: 2rem 1.5rem;
  }

  h1 {
    font-size: 2.1rem; 
    font-weight: bolder;
    margin-top: 5px;
    @include mQ($browser-width-md) {
      font-size: 1.8rem;
      margin-top: 10px;
    }
  }

  .navbar-nav {
    width: auto;
    background-color: #E9EDF8;
    border-radius : $border-radius;
  }

  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  .nav-linkq {
    display: flex;
  }
  
  a.nav-linkq {
    text-decoration: none;
  }

  #username-box {
    color: #252B36 !important;
    font-weight: 700;
    padding: 1rem 1.5rem;
  }
  
  .icon-container {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: #dde3f3;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dropdown-toggle:after {
        border-width: 2px 2px 0px 0px;
        display: inline-block;
        padding: 2.5px;
        transform: rotate(45deg);
        color: #1751B7;
        vertical-align: .1em !important;
    }
  }

  #username-box {
    color: #252B36 !important;
    font-weight: 700;
    padding: 1rem 1.5rem;
  }
  
  .icon-container {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: #dde3f3;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-icon,
.nav-flag {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  color: $gray-600;
  transition: $transition-appearance-fast;
  line-height: 1.4;

  &:after {
    display: none !important;
  }

  &:hover,
  &.active {
    color: $primary;
  }

  svg,
  .feather {
    width: 20px;
    height: 20px;
  }
}

.nav-item {
  display: flex;
  padding: 0px;;

  .circle-red {
    background: #f00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .indicator {
    background: $primary;
    box-shadow: $box-shadow;
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: 0.675rem;
    color: $white;
  }

  &:hover .indicator {
    top: -4px;
  }

  a:focus {
    outline: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar .avatar {
    max-height: 47px;
  }
}

@include media-breakpoint-down(xs) {
  .navbar {
    padding: 0.75rem;
  }

  .nav-icon {
    padding: .1rem .75rem;
  }

  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }

  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100%;
  }

  .nav-item .nav-link:after {
    display: none;
  }
}

.nav-flag img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}