#register-form {
  .box-right {
    border-bottom-right-radius: $wott-border-radius-lg;
    padding-right: 7.5rem;
    @include media-breakpoint-down(lg) {
      padding-right: 3.5rem;
    }
  }

  .box-left {
    border-bottom-left-radius: $wott-border-radius-lg;
    padding-left: 7.5rem;
    @include media-breakpoint-down(lg) {
      padding-left: 3.5rem;
    }
  } 

  .box-right, .box-left {
    padding: 7vh 3.98rem;
    background-color: #f4f6fb;
    z-index: 1;
  }

  .wott-label{
    font-size: 1.1rem !important;
    margin-bottom: 14px !important;
    font-weight: 600 !important;
  }

  .box-bottom {
    background-color:#f4f6fb;
    border-radius: $wott-border-radius-lg;
  }

  .input-fields-box li {
    list-style: none;
  }

  .wott-btn {
    border: 0;
  }
}

#register-title {
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 600;
  padding-left: 6.75rem;
  @include media-breakpoint-down(lg) {
    padding-left: 2.75rem;
  }
} 

#server-container-register {
  position: absolute;
  top: 45%;
  right: -160px; 
  width: 24%;
  @include mQ(1300px) {
    right: -147px;
    width: 25%;
  }
  @include mQ(1120px) {
    right: -121px;
    width: 25%;
  }
}

#register-head {
  padding: 2.95rem 1.25rem;
  border-top-right-radius: $wott-border-radius-lg;
  border-top-left-radius: $wott-border-radius-lg;
  justify-content: space-between;

  picture {
    margin-right: 5%;
  }
}


#register-container {
  .main {
      overflow-y: visible;
  }
}