.sidebar {
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  background-image: linear-gradient(to bottom, white , #DCE6FF);
}

.sidebar-content {
  background-image: linear-gradient(to bottom, white , #DCE6FF);
  border-right: .5px solid #CDDEF7;
}

.sidebar-sticky {

  .logo-image {
    width: 75%;
    @include mQ($browser-width-md) {
      width: 85%;
    }
  }

  .sidebar-nav {
    padding: 4vh 0;
    list-style: none;

    li {
      background-color: transparent;

      h4 {
        color: $wott-nav;
        margin-bottom: 0;
        font-size: 0.95rem;
        font-weight: 600;
        width:65%;
        @include mQ($browser-width-md) {
          font-size: 0.8rem;
        }
        @include media-breakpoint-down(lg) {
          width: 60%;
        }
      }

      img {
        margin-right: 15px;
        @include mQ($browser-width-md) {
          width: 8%;
        }
      }
    }
  }

  .sidebar-content {
    height: 73vh;
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;

    #admin-inst-btn {
      width: 83%;
      padding: 13px;
      margin: auto;
      font-size: $font-size-lg;
      border-radius: $border-radius; 

      img {
        margin-left: 15px;
        margin-bottom: 3px;
      }
    }
  }
 
  .sidebar-bottom {
    height: 27vh;
    background-image: linear-gradient(90deg, rgb(238,241,255), rgb(234,238,255));
    color: $wott-nav;
    position: fixed;
    bottom: 0;
    width: $sidebar-width;
    padding: 4.5vh 0;
    
    h2 {
      font-size:$font-size-xl;
      padding: 0 25px;
      font-weight: 700;
      margin-bottom: 0;
      @include mQ($browser-width-md) {
        font-size: 1rem;
      }
    }

    .sidebar-bottom-box {
      padding: 2.5vh 1.5rem 1vh;
    }
  
    .sidebar-bottom-item {
      display: flex;
      justify-content: space-between;
    }

    #action-solved-block {
      padding-top: .5vh;
    }

    p {
      font-size: $font-size-lg;
      color: $sidebar-link-color;
      display: inline;
      font-weight: 600;
      margin-bottom: .9vh;
      padding-top: 1.5vh;
      @include mQ($browser-width-md) {
        font-size: 0.8rem;
      }
    }

    #trust-score {
      color: #0E85FF;
    }

    #action-solved {
      color: #0AB8D4;
    }
  }
}

// Icons
.sidebar-link .feather,
.sidebar-link svg {
  margin-right: .75rem;
  color: $white;
  font-weight: bolder;
}

// Parents
.sidebar-link,
a.sidebar-link {
  display: flex;
  align-items: center;
  padding: $sidebar-link-padding-y $sidebar-link-padding-x;
  padding-right: 0px;
  color: $sidebar-link-color;
  background: $sidebar-link-bg;
  transition: $transition-appearance-fast;
  position: relative;
  text-decoration: none;
}

.sidebar-link:focus {
  outline: 0;
}

.sidebar-link:hover,
.sidebar-item.active > .sidebar-link,
.sidebar-item.active .sidebar-link:hover {
  color: $sidebar-link-hover-color;
  background: $sidebar-link-hover-bg;
}

// Children
.sidebar-dropdown .sidebar-link {
  padding-left: 2.75rem;
  color: $sidebar-link-child-color;
  background: $sidebar-link-child-bg;
}

.sidebar-dropdown .sidebar-link:hover,
.sidebar-dropdown .sidebar-item.active .sidebar-link,
.sidebar-dropdown .sidebar-link:hover {
  color: $sidebar-link-child-hover-color;
  background: $sidebar-link-child-hover-bg;
  
}

.sidebar-item.active > .sidebar-link {
  border-right: 5px solid #2460C7;
  background: $white;
  color: #2460C8;

  h4 {
    color: #2460C8;
  }
}

//Graphics

#trust-graph-100 {
  background-color: #A8D3FF;

}

#trust-graph-100, #action-solved-graph {
  width: 100%;
  height: 12px;
  position: relative;
  border-radius: 30px;
}

#trust-graph-var, #action-solved-var {
  height: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#trust-graph-var {
  background-color: #0E85FF;
}

#action-solved-graph {
  background-color: #A6F3FF;
}

#action-solved-var {
  background-color: #33D3EC;
}

// Chevron
.sidebar [data-toggle="collapse"] {
  position: relative;
}

.sidebar [data-toggle="collapse"]:before {
  content: " ";
  border: solid;
  border-width: 0 .1rem .1rem 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  position: absolute;
  top: 1.2rem;
  right: 1.25rem;
}

.sidebar [aria-expanded="true"]:before,
.sidebar [data-toggle="collapse"]:not(.collapsed):before {
  transform: rotate(-135deg);
  top: 1.4rem;
}

// Sidebar brand
.sidebar-brand {
  font-weight: $sidebar-brand-font-weight;
  font-size: $sidebar-brand-font-size;
  padding: $sidebar-brand-padding-y $sidebar-brand-padding-x;
  color: $sidebar-brand-color;
  display: block;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $sidebar-brand-color;
  }

  &:focus {
    outline: 0;
  }

  svg,
  .feather {
    color: $primary;
    height: 24px;
    width: 24px;
    margin-left: -0.15rem;
    margin-right: 0.375rem;
  }
}