.card {
	> .dataTables_wrapper .table.dataTable,
	> .table,
	> .table-responsive .table,
	> .table-responsive-sm .table,
	> .table-responsive-md .table,
	> .table-responsive-lg .table,
	> .table-responsive-xl .table {
		border-right: 0;
		border-bottom: 0;
		border-left: 0;
		margin-bottom: 0;

		td:first-child,
		th:first-child {
			border-left: 0;
			padding-left: $spacer*1.25;
		}

		td:last-child,
		th:last-child {
			border-right: 0;
			padding-right: $spacer*1.25;
		}

		tr:first-child td,
		tr:first-child th {
			border-top: 0;
		}

		tr:last-child td {
			border-bottom: 0;
		}
	}

	.card-header + .table {
		border-top: 0;
	}
}

.table-action {
	a {
		color: $gray-600;

		&:hover {
			color: $gray-900;
		}
	}

	.feather {
		width: 18px;
		height: 18px;
	}
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.card > .dataTables_wrapper {
	.table.dataTable {
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	}

	.dataTables_info {
		padding: 1rem 1.25rem;
	}

	.dataTables_paginate {
		padding: 0.6rem 1.25rem;
	}
}

.dt-bootstrap4 {
	width: calc(100% - 2px);
}


// Wott table rules

.wott-table {
  width: 100%;
  border-radius: $wott-border-radius-lg;
	background-color: white;
	tr {
		padding: 1rem;
		font-size: .9rem;
		margin: 0;
	}
	thead {
		border-radius: $wott-border-radius-lg;
		background-color: #edf1fe;
	}

	.wott-table-label-lg {
		padding: 1rem 1rem 1rem 1.5rem;
		white-space: nowrap;
		font-weight: 700;
		width: auto;
		font-size: 1.1rem
	}
	
	.wott-table-label {
		padding: 1rem .5rem 1rem 1.5rem;
		font-weight: 700;
		width: 20%;
		font-size: 1.1rem;
	}
	
	.wott-no-label {
		label {
			display: none;
		}
	}
	
	.wott-form-input-right {
		width: 80%;
		margin-bottom: 0 !important;
		padding-right: 1rem;
	}

	.wott-textarea-small {
		.form-control {
			height: 62px !important;
		}
	}
}

.wott-table-title {
	font-size: 1.8rem;
	font-weight: 700;
	padding: 0 2.5rem;
	margin-bottom: 0;
}

.wott-table-pr {
	padding-right: 2rem;
}

.wott-table-py {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.wott-table-content {
	background-color: white !important;
	border-radius: 8px;
}












