.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}

b, strong {
	font-weight: $font-weight-bold;
}

pre.snippet {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.wott-instructions-text {
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}
