.wott-card {
  background-color: white;
  border-radius: $wott-border-radius-lg;
}

.wott-card-title {
  border-top-left-radius: $wott-border-radius-lg;
  border-top-right-radius: $wott-border-radius-lg;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid #edf1fe;
  color: black;
}

.hr-create-policy {
  border: 1px solid transparent;
  border-top: 1px solid rgba(0,0,0,.1);
}


.black-link {
  color: black;
}

.black-link:hover {
  color: black;
}

// for rounded grafics text
.graph-less-25 {
  color:#2460c8 !important;
  margin-left: 2.4rem !important;
  display: flex;
  margin-top: 0px !important;
}

// for warnings. used in dashboard,
.wott-warn-box {
  padding: 10px;
  background-color: #e9edf7;
  color: #2460c8 !important;
  font-size: .85rem !important;
  margin: 1rem !important;
  border-radius: 8px;
  padding: 20px;
  font-weight: 600;
}

// easy-wott-colors

.wott-blue {
  color: $wott-blue;
}

.wott-danger {
  color: #FF5649;
}

// Fonts and text rules

.wott-medium-text {
  font-size: 1.1rem !important;
  margin-bottom: 14px;
  font-weight: 600
}

.wott-small-text {
  font-size: .8rem !important;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1rem !important;
}