// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Theme variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Theme mixins
@import "mixins/button";
@import "mixins/modal";
@import "mixins/switch";
@import "mixins/tabs";
@import "mixins/wizard";

// 3rd party plugins
@import "~apexcharts/src/assets/apexcharts";
@import "~bootstrap-daterangepicker/daterangepicker";
@import "~bootstrap-markdown/css/bootstrap-markdown.min";
@import "~datatables.net-bs4/css/dataTables.bootstrap4";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4";
@import "~dragula/dist/dragula";
@import "~jvectormap-next/jquery-jvectormap";
@import "~quill/dist/quill.bubble";
@import "~quill/dist/quill.snow";
// @import "~select2/src/scss/core";
@import "~simplebar/dist/simplebar";
@import "~smartwizard/dist/css/smart_wizard";
@import "~smartwizard/dist/css/smart_wizard_theme_arrows";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import "~toastr/toastr";
@import "~fullcalendar/dist/fullcalendar";

// 3rd party plugin styles
@import "vendor/datatables-select";
@import "vendor/datetimepicker";
@import "vendor/fullcalendar";
@import "vendor/highlight";
@import "vendor/markdown";
@import "vendor/quill";
// @import "vendor/select2";
@import "vendor/simplebar";
@import "vendor/toastr";
@import "vendor/wizard";

// Theme utilities
@import "utilities/borders";
@import "utilities/cursors";
@import "utilities/overflow";

// Theme components
@import "accordion";
@import "alert";
@import "avatar";
@import "badge";
@import "buttons";
@import "card";
@import "chart";
@import "dropdown";
@import "feather";
@import "footer";
@import "forms";
@import "hamburger";
@import "modal";
@import "navbar";
@import "reboot";
@import "progress";
@import "sidebar";
@import "tables";
@import "tabs";
@import "timeline";
@import "type";
@import "wrapper";
@import "content";
@import "main";
@import "ie";

@import '~highlight.js/styles/dark';
@import '~select2/select2.css'