// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap');

// Theme variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~jquery-confirm/css/jquery-confirm";

// Theme mixins
@import "mixins/button";
@import "mixins/modal";
@import "mixins/switch";
@import "mixins/tabs";
@import "mixins/wizard";
@import "mixins/mediaQ";

// 3rd party plugins
@import "~apexcharts/src/assets/apexcharts";
@import "~bootstrap-daterangepicker/daterangepicker";
@import "~datatables.net-bs4/css/dataTables.bootstrap4";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4";
@import "~dragula/dist/dragula";
@import "~jvectormap-next/jquery-jvectormap";
@import "~quill/dist/quill.bubble";
@import "~quill/dist/quill.snow";
@import "~simplebar/dist/simplebar";
@import "~smartwizard/dist/css/smart_wizard";
@import "~smartwizard/dist/css/smart_wizard_theme_arrows";
@import "~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
@import "~toastr/toastr";
@import "~fullcalendar/dist/fullcalendar";

// 3rd party plugin styles
@import "vendor/datatables-select";
@import "vendor/datetimepicker";
@import "vendor/fullcalendar";
@import "vendor/highlight";
@import "vendor/markdown";
@import "vendor/quill";
@import "vendor/simplebar";
@import "vendor/toastr";
@import "vendor/wizard";

// Theme utilities
@import "utilities/borders";
@import "utilities/cursors";
@import "utilities/overflow";

// Theme components
@import "accordion";
@import "actions";
@import "alert";
@import "avatar";
@import "badge";
@import "billing";
@import "buttons";
@import "card";
@import "chart";
@import "cve";
@import "dashboard";
@import "dropdown";
@import "feather";
@import "footer";
@import "forms";
@import "hamburger";
@import "login";
@import "label";
@import "modal";
@import "nodes";
@import "navbar";
@import "policies";
@import "profile";
@import "reboot";
@import "progress";
@import "register";
@import "shadow";
@import "sidebar";
@import "tables";
@import "tabs";
@import "timeline";
@import "type";
@import "wrapper";
@import "wott-components";
@import "content";
@import "main";
@import "ie";

@import '~highlight.js/styles/dark';

@import '~Select2/select2.css';
@import './tagulous.css';

@import "~shepherd.js/dist/css/shepherd.css";
