  /* tagulous tags styling */
  .select2-container-multi .select2-choices .select2-search-choice {
    background-color: #256164;
    background-image: linear-gradient(0.25turn, #f5f9fc, #f5f9fc);
    /*background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1)*/
  }
  .select2-container-multi.select2-container-disabled {
    width: 100%;
  }
  .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice{
    /*background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1)*/
    background-image: linear-gradient(0.25turn, #f5f9fc, #f5f9fc);
  }
  .select2-container.select2-container-multi.form-control {
    padding: 0 !important;
  }
  input[failed]{
    border-color: red;
  }

 