{% extends "admin_base.html" %}

{% block title %}WoTT - Recommended Actions{% endblock title %}

{% block dashboard_title %}<h1>Recommended Actions</h1>{% endblock dashboard_title %}

{% block admin_content %}
  <div class="row">
    <div class="col-xs-12 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">
        <button class="btn btn-success btn-lg">Enable automatic actions</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 mt-3 w-100">
      {% for action in actions %}
        <div class="alert alert-primary alert-outline alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                  onclick="dismissAction({{ action.id }})">
            <span aria-hidden="true">×</span>
          </button>
          <div class="alert-message">
            <h4 class="alert-heading">{{ action.title }}</h4>
            <p>{{ action.description }}</p>
            <hr>
            <div class="btn-list text-center">
              {% for button_text, button_type in action.actions %}
                <button class="btn btn-{{ button_type }} ml-2 mr-2" type="button" data-dismiss="alert"
                        aria-label="{{ button_text }}"
                        onclick="submitAction({{ action.id }}, '{{ button_text }}')">{{ button_text }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  <script>
    /**
     * Generate the Action Url
     * @param actionId
     * @param actionType
     * @returns {string} Action Url.
     */
    function getActionUrl(actionId, actionType) {
      return "{% url 'action' 123 'xx' %}"
        .replace(123, actionId)
        .replace('xx', actionType);
    }

    /**
     * Submit an action to the web server
     * @param actionId
     * @param actionType
     * @return {void}
     */
    function submitAction(actionId, actionType) {
      $.post(getActionUrl(actionId, actionType))
    }

    /**
     * Dismiss an action. Used by the close icon on the alerts.
     * @param actionId
     */
    function dismissAction(actionId) {
      submitAction(actionId, 'DISMISS')
    }
  </script>
{% endblock scripts %}

