{% extends "admin_base.html" %}

{% block title %}WoTT - Recommended Actions{% endblock title %}

{% block dashboard_title %}
  <h1>Recommended Actions{% if device_name %} for {{ device_name }}{% endif %}</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  <div class="row">
    <div class="mb-3 mt-3 w-100" id="alert-container">
      {% for action in actions %}
        <div class="alert alert-primary alert-outline alert-dismissible alert-recommended" role="alert">
          {% ifnotequal action.snoozing_info.0 0 %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    onclick="snoozeAction('{{ action.snoozing_info.0 }}', {{ action.snoozing_info.1 }})">
              <span aria-hidden="true">×</span>
            </button>
          {% endifnotequal %}
          <div class="alert-message">
            <h3 class="alert-heading">
              {{ action.title|safe }}
              {% if action.issue_url %}
                <a href="{{ action.issue_url }}"><i class="fab fa-github"></i></a>
              {% endif %}
            </h3>
            <p>{{ action.description|safe }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row" style="display: none; margin-top: -1rem;" id="success-card">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Well Done!</h5>
      </div>
      <div class="card-body">
        <p><i class="align-middle mr-2" data-feather="check"></i>No recommended tasks.</p>
      </div>
    </div>
  </div>
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  <script>

    /**
     * Snooze an action. Used by the close icon on the alerts.
     * @param id - action id
     * @param devices - list of device ids
     */
    function snoozeAction(id, devices) {
      $.ajax({
          url: '/snooze-action/',
          type:"POST",
          data: JSON.stringify({
              action_id: id,
              device_ids: devices
          }),
          contentType: "application/json; charset=utf-8",
          dataType: "json"
      });
    }
  </script>
  <script>
    // Listen to mutations to the DOM. If there are no alerts then show a message.
    var targetNode = document.getElementById( 'alert-container');
    var successNode = document.getElementById('success-card');
    var config = {
      childList: true
    };

    /**
     * Show the Success message.
     */
    function showSuccessCard() {
      successNode.style.display = 'block'
    }

    /**
     * Callback to count number of alerts on page and display success message.
     */
    function countAlerts() {
      var alertCount = targetNode.childElementCount;
      if (alertCount === 0) {
        showSuccessCard()
      }
    }

    var observer = new MutationObserver(countAlerts);
    observer.observe(targetNode, config);
    // Initial count on load
    countAlerts();
  </script>
{% endblock scripts %}

