{% extends "base.html" %}
{% load static %}
{% load highlight_selector %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block title %}WoTT - Dashboard{% endblock title %}

{% block content %}
  <div class="wrapper">
    <nav class="sidebar sidebar-sticky">
      <div class="sidebar-content  js-simplebar">
        <a class="sidebar-brand" href="{% url 'root' %}">
          <img src="{% static '/logo-small.png' %}" width="190" alt="WoTT">
        </a>

        {% with url_name=request.resolver_match.url_name %}
            <ul class="sidebar-nav">
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'root' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-root" href="{% url 'root' %}">Dashboard </a>
                </li>
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'global_policies' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-policies" href="{% url 'global_policies' %}">Global Policies</a>
                </li>
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'claim-device' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-claim-device" href="{% url 'claim-device' %}">Claim Node</a>
                </li>
                <li class="sidebar-item {% if url_name|is_menu_highlight_id:'actions' %}active{% endif %}">
                    <a class="sidebar-link" id="sidebar-recommended-actions" href="{% url 'actions' %}">Recommended Actions
                      <span class="badge badge-pill badge-danger ml-2">{{ user.profile.actions_count }}</span></a>
                </li>
            </ul>
        {% endwith %}

      </div>
    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light bg-white">
        <a class="sidebar-toggle d-flex mr-2">
          <i class="hamburger align-self-center"></i>
        </a>
        <div class="navbar-collapse collapse">
          {% block dashboard_title %}
          {% endblock dashboard_title %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                <i data-feather="settings"></i>
                <span class="text-dark">{{ user.username }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}"><i class="align-middle mr-1"
                                                                       data-feather="user"></i>Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'auth_logout' %}">Sign out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <main style="min-height: calc(100% - 125px);" class="content">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              <div class="alert alert-success text-center" role="alert"><h4><br>{{ message }}</h4></div>
            </div>
          {% endfor %}
        {% endif %}
        {% block admin_content %}
        {% endblock admin_content %}
      </main>
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-left">
            </div>
            <div class="col-6 text-right">
              <p class="mb-0">
                &copy; 2019 - <a href="https://www.wott.io" class="text-muted">WoTT</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static '/js/csrf.js' %}"></script>
  <script type="text/javascript">
      $(() => {
          feather.replace();
      });
    {% if MIXPANEL_TOKEN %}
      $('.sidebar-link').click((e) => {
          mixpanel.track("Sidebar", {element: e.target.id});
      });
      $('#logout').click(() => {
          mixpanel.reset();
      });

      {% if signed_up %}
      mixpanel.alias("{{ user.email }}");
      mixpanel.track("Signed Up");
      {% elif signed_in %}
      mixpanel.track("Signed In");
      {% endif %}
      mixpanel.identify("{{ user.email }}");
      mixpanel.people.set({
          "$first_name": "{{ user.first_name }}",
          "$last_name": "{{ user.last_name }}",
          "$email": "{{ user.email }}",
          "$phone": "{{ user.profile.phone }}"
      });
    {% endif %}
  </script>
{% endblock %}
