{% extends "base.html" %}
{% load static %}
{% load highlight_selector %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block title %}WoTT - Dashboard{% endblock title %}

{% block content %}
  <div class="wrapper">
    <nav class="sidebar sidebar-sticky">
      <div class="sidebar-content">
        <a class="sidebar-brand" href="{% url 'root' %}">
          <img class="logo-image" src="{% static '/media/logo.png' %}" alt="wott">
        </a>
        <button type="button" class="btn btn-wott-primary btn-lg btn-block" id="admin-inst-btn">
          Add A Node
          <img src="{% static '/media/plus.png' %}" alt="plus">
        </button>

        {% with url_name=request.resolver_match.url_name %}
          <ul class="sidebar-nav">
            <li class="sidebar-item {% if url_name|is_menu_highlight_id:'root' %}active{% endif %}">
              <a class="sidebar-link" id="sidebar-root" href="{% url 'root' %}">
                {% if url_name|is_menu_highlight_id:'root' %}
                <img src="{% static '/media/dashboard-selected.png' %}" alt="dashboard">
                {% else %}
                <img src="{% static '/media/dashboard.png' %}" alt="dashboard">
                {% endif %}
                <h4>Dashboard</h4>
              </a>
            </li>
            <li class="sidebar-item {% if url_name|is_menu_highlight_id:'cve' %}active{% endif %}">
              <a class="sidebar-link" id="sidebar-cve" href="#">
                {% if url_name|is_menu_highlight_id:'cve' %}
                <img src="{% static '/media/cve-selected.png' %}" alt="cve">
                {% else %}
                <img src="{% static '/media/cve.png' %}" alt="cve">
                {% endif %}
                <h4>CVE</h4>
              </a>
            </li>
            <li class="sidebar-item {% if url_name|is_menu_highlight_id:'nodes' %}active{% endif %}">
              <a class="sidebar-link" id="sidebar-nodes" href="#">
                {% if url_name|is_menu_highlight_id:'nodes' %}
                <img src="{% static '/media/nodes-selected.png' %}" alt="nodes">
                {% else %}
                <img id="nodes-image" src="{% static '/media/nodes.png' %}" alt="nodes">
                {% endif %}
                <h4>Nodes</h4>
              </a>
            </li>
            <li class="sidebar-item {% if url_name|is_menu_highlight_id:'claim-device' %}active{% endif %}">
              <a class="sidebar-link" id="sidebar-claim-device" href="{% url 'claim-device' %}">
                {% if url_name|is_menu_highlight_id:'claim-device' %}
                <img src="{% static '/media/add-node-selected.png' %}" alt="claim device">
                {% else %}
                <img src="{% static '/media/add-node.png' %}" alt="claim device">
                {% endif %}
                <h4>Claim Node</h4>
              </a>
            </li>
            <li class="sidebar-item {% if url_name|is_menu_highlight_id:'actions' %}active{% endif %}">
              <a class="sidebar-link" id="sidebar-recommended-actions" href="{% url 'actions' %}">
                {% if url_name|is_menu_highlight_id:'actions' %}
                <img src="{% static '/media/verified-selected.png' %}" alt="recommended actions">
                {% else %}
                <img id="actions-image" src="{% static '/media/verified.png' %}" alt="recommended actions">
                {% endif %}
                <h4>Recommended Actions</h4>
                {% with user.profile.actions_count as actions_count %}
                {% if actions_count %}
                <div class="badge wott-badge-pill">
                  <span id="actions-sidebar" class="wott-badge-text">{{ actions_count }}</span>
                </div>
                {% endif %}
                {% endwith %}
              </a>
            </li>
            <li class="sidebar-item {% if url_name|is_menu_highlight_id:'global_policies' %}active{% endif %}">
              <a class="sidebar-link" id="sidebar-policies" href="{% url 'global_policies' %}">
                {% if url_name|is_menu_highlight_id:'global_policies' %}
                <img src="{% static '/media/policies-selected.png' %}" alt="globalpolicies">
                {% else %}
                <img src="{% static '/media/policies.png' %}" alt="global policies">
                {% endif %}
                <h4>Global Policies</h4>
              </a>
            </li>
          </ul>
        {% endwith %}

      </div>

      <div class="sidebar-bottom">
        <h2>Status Overview</h2>
        <div class="sidebar-bottom-box">
          <div class="sidebar-bottom-item">
            <p>Current Trust Score</p>
            <p id="trust-score">75%</p>
          </div>
          <div id="trust-graph-100">
            <span id="trust-graph-var"></span>
          </div>
          <div id="action-solved-block" class="sidebar-bottom-item">
            <p>Actions Solved</p>
            <p id="action-solved">29/50</p>
          </div>
          <div id="action-solved-graph">
            <span id="action-solved-var"></span>
          </div>
        </div>
      </div>

    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light">
        <div class="navbar-collapse collapse">
          {% block dashboard_title %}
          {% endblock dashboard_title %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-linkq" href="#" data-toggle="dropdown">
              <div id="username-box" class="text-dark">{{ user.username }}</div>
              <div class="icon-container"><span class="dropdown-toggle"></span></div>
            </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'profile' %}"><i class="align-middle mr-1" data-feather="user"></i>Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'auth_logout' %}">Sign out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <main style="min-height: calc(100% - 125px);" class="content">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              <div class="alert alert-success text-center" role="alert"><h4><br>{{ message }}</h4></div>
            </div>
          {% endfor %}
        {% endif %}
        {% block admin_content %}
        {% endblock admin_content %}
      </main>
    </div>
  </div>
  
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- Hardcoded style for graphic -->
  <style>
    #action-solved-var {
      width: 58%;
    }

    #trust-graph-var {
      width: 75%;
    }
    
  </style>
  <script src="{% static '/js/csrf.js' %}"></script>
  <script type="text/javascript">
      $(() => {
          feather.replace();
      });
    {% if MIXPANEL_TOKEN %}
      $('.sidebar-link').click((e) => {
          mixpanel.track("Sidebar", {element: e.target.id});
      });
      $('#logout').click(() => {
          mixpanel.reset();
      });
      {% if signed_up %}
      mixpanel.alias("{{ user.email }}");
      mixpanel.track("Signed Up");
      {% elif signed_in %}
      mixpanel.track("Signed In");
      {% endif %}
      mixpanel.identify("{{ user.email }}");
      mixpanel.people.set({
          "$first_name": "{{ user.first_name }}",
          "$last_name": "{{ user.last_name }}",
          "$email": "{{ user.email }}",
          "$phone": "{{ user.profile.phone }}"
      });
      
    {% endif %}
  </script>
{% endblock %}
