{% extends "base.html" %}
{% load static %}
{% load highlight_selector %}
{% load misc %}
{% load static %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block title %}WoTT - Dashboard{% endblock title %}

{% block content %}
  <div class="wrapper">
    <nav class="sidebar sidebar-sticky">
      <div class="sidebar-content">
        <a class="sidebar-brand" href="{% url 'dashboard' %}">
          <img class="logo-image" src="{% static '/media/logo.svg' %}" alt="wott">
        </a>
        <button type="button" class="btn btn-wott-primary btn-lg btn-block" id="admin-inst-btn">
          Add Node
          <img src="{% static '/media/plus.svg' %}" alt="plus">
        </button>

        {% with url_name=request.resolver_match.url_name %}
          <ul class="sidebar-nav">
            {% include "sidebar_item.html" with url='dashboard' id='sidebar-root' label="Dashboard" image='/media/dashboard.svg' image_selected='/media/dashboard-selected.svg' %}
            {% include "sidebar_item.html" with url='cve' id='sidebar-cve' label="Vulnerabilities" image='/media/cve.svg' image_selected='/media/cve-selected.svg' %}
            {% include "sidebar_item.html" with url='root' id='sidebar-nodes' label="Nodes" image='/media/nodes.svg' image_selected='/media/nodes-selected.svg' %}
            {% include "sidebar_item.html" with url='claim-device' id='sidebar-claim-device' label="Claim Node" image='/media/add-node.svg' image_selected='/media/add-node-selected.svg' %}
            {% include "sidebar_item.html" with url='actions' id='sidebar-recommended-actions' label="Recommended Actions" image='/media/recommended-actions.svg' image_selected='/media/recommended-actions-selected.svg' badge=user.profile.actions_count %}
            {% include "sidebar_item.html" with url='global_policies' id='sidebar-policies' label="Global Policies" image='/media/policies.svg' image_selected='/media/policies-selected.svg' %}
          </ul>
        {% endwith %}

      </div>

      <div class="sidebar-bottom">
        <h2>Status Overview</h2>
        <div class="sidebar-bottom-box">
          <div class="sidebar-bottom-item">
            <p>Current Trust Score</p>
            <p id="trust-score">{% widthratio user.profile.average_trust_score 1 100 %}</p>
          </div>
          <div id="trust-graph-100">
            <span id="trust-graph-var"></span>
          </div>
          <div id="action-solved-block" class="sidebar-bottom-item">
            <p>Actions Solved</p>
            <p id="action-solved">{{ user.profile.actions_resolved_since_monday }}/{% settings_value "MAX_WEEKLY_RA" %}</p>
          </div>
          <div id="action-solved-graph">
            <span id="action-solved-var"></span>
          </div>
        </div>
      </div>

    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light">
        <div id="dropdown-settings-nav" class="navbar-collapse collapse">
          {% block dashboard_title %}
          {% endblock dashboard_title %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-linkq" href="#" data-toggle="dropdown">
              <div id="username-box" class="text-dark">{{ user.username }}</div>
              <div class="icon-container">
                <span class="sort-symbol">
                  <i class="fas fa-caret-right" id="wott-dropdown-arrow"></i>
                </span>
              </div>
            </a>
              <div class="dropdown-menu dropdown-menu-right wott-box-shadow">
                <div class="p-relative">
                  <div class="dropdown-nav-block">
                    {% include "menu_item.html" with tab=tab_account url='profile' image='/media/account.svg' image_selected='/media/account-selected.svg' label="Account" %}
                    {% include "menu_item.html" with tab=tab_password url='profile_password' image='/media/password.svg' image_selected='/media/password-selected.svg' label="Password" %}
                    {% include "menu_item.html" with tab=tab_api_token url='profile_token' image='/media/api.svg' image_selected='/media/api-selected.svg' label="API Token" %}
                    {% include "menu_item.html" with tab=tab_github_integration url='github_integration' image='/media/github.svg' image_selected='/media/github-selected.svg' label="GitHub Integration" beta_badge=False %}
                    {% include "menu_item.html" with tab=tab_slack_integration url='slack_integration' image='/media/slack.svg' image_selected='/media/slack-selected.svg' label="Slack Integration"%}
                    {% include "menu_item.html" with tab=tab_payment_plan url='payment_plan' image='/media/payment.svg' image_selected='/media/payment-selected.svg' label="Billing" %}
                    <div class="dropdown-divider mt-0 mb-0" ></div>
                    <div class="sidebar-item py-2">
                      <a class="sidebar-link py-3 px-0 d-flex border-0" href="{% url 'auth_logout' %}">
                        <img src="{% static '/media/logout.svg'%}" alt="Logout">
                        <h4 class="wott-blue">Sign out</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <main style="min-height: 85vh;" class="content">
        {% if messages %}
          {% for message in messages %}
            <div class="wott-rounded-lg wott-alert-full mb-4" role="alert"><h4 class="wott-medium-text">{{ message }}</h4></div>
          {% endfor %}
        {% endif %}
        {% block admin_content %}
        {% endblock admin_content %}
      </main>
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-left">
            </div>
            <div class="col-6 text-right">
              <p class="mb-0">
                &copy; 2020 - <a href="https://www.wott.io" class="text-muted">Web of Secure Things, Ltd</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <div class="wott-rounded-lg wott-modal-container" tabindex="-1" role="dialog" id="wott-instruction-modal">
    <div class="w-100" role="document">
      <div class="modal-content">
        <div class="wott-modal-header wott-modal-header-box">
          <h2 class="wott-modal-title" id="modal-title-h2">Add new node</h2>
          <button type="button" class="wott-img-btn" data-dismiss="modal" aria-label="Close">
            <img src="{% static '/media/close.svg' %}" alt="">
          </button>
        </div>
        <div class="wott-modal-body">
          <h4 class="wott-modal-instructions" id="modal-title"></h4>
          <p id="modal-msg" class="w-100 mb-0 position-relative"></p>
          <div class="wott-modal-alert-box" role="alert" id="modal-alert">
            <span class="wott-modal-alert">Server error</span>
          </div>
        </div>
        <div class="wott-modal-footer mt-0">
          <span>
            <a href="https://github.com/WoTTsecurity/agent#supported-operating-systems" target="_blank">
                Supported operating systems
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <template id="bash_block">   
    <h1 class="wott-bash-title">Terminal</h1>
    <pre class="mb-0">
      <code class="bash"><!-- text --></code>
    </pre>
    <button type="button" class="btn wott-btn-inside-bash" aria-label="Left Align" btn_id="bash">
      <span class="wott-left-title-btn">Copy to clipboard</span>
      <span class="fas fa-copy" aria-hidden="true" data-toggle="popover"
            data-placement="top" title="Copy to clipboard."></span>
    </button>
    <textarea hidden id="bash-clipboard"><!-- copy --></textarea>
  </template>
  <style>
  footer {
    position: static !important;
    bottom: 20px;
    right: 0px;
    width: 100%;
    height: 45px;
    padding: 2rem 2rem;
    color: rgb(181, 176, 176) !important;
  }
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static '/js/csrf.js' %}"></script>
  <script type="text/javascript">
    $(() => {
        feather.replace();
        $('#action-solved-var').width("{% widthratio user.profile.actions_resolved_since_monday 5 100 %}%");
        $('#trust-graph-var').width("{% widthratio user.profile.average_trust_score 1 100 %}%");
    });

    $('#admin-inst-btn,#inst-btn').on('click', show_install_msg );
    function show_install_msg() {
      $.ajax({
        url: '/ajax-pairing-keys/add_dev/',
        type: "POST",
        data: JSON.stringify({}),
        contentType: 'application/json',
      }).done(function (e) {
        console.log('success');
        let title = "To add a node, simply SSH in and run the following commands:";
        let msg = bash_block(
                 `$ export CLAIM_TOKEN="${e.key}"\n`
               + `$ curl -sL https://install.wott.io | sudo -E bash`);

        show_dialog(title, msg);
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block);
        });
        $("button[btn_id='bash']").on("click", copy_bash);
      }).fail(function (e) {
        console.log('error');
        console.log(e.status, e.responseText);
        show_dialog('Error', e.status, e.responseText);
      })
    }

    /***
     *  setup dialog parameters and toggle on.
     *  @param title - dialog title
     *  @param message - dialog message
     *  @param errors - the errors string to display, if is not null.
     */
    function show_dialog(title, message, errors=null, h2_title='Add new node' )
    {
        $('#modal-title-h2')[0].innerText = h2_title;
        $('#modal-title')[0].innerText = title;
        $('#modal-msg')[0].innerHTML = message;
        if(errors == null)
          $('#modal-alert')[0].style.display = 'none';
        else
        {
          $('#modal-alert')[0].style.display = 'block';
          $('#modal-alert')[0].innerText = errors;
        }
        $('#wott-instruction-modal').modal('toggle');
    }

    function copy_bash(e) {
      let text = $('#bash-clipboard').text();
      text = text.replace(/(\r\n|\n)/gm, ' && ')+'\n';
      copyToClipboard(text).then(function() {
        /* clipboard successfully set */
        console.log("COPIED");
      }, function() {
          alert("Cannot copy to clipboard, please enable clipboard access in browser permissions.");
      });

    }

    function bash_block(text){
        let s = $('#bash_block').html();
        let copy_text = text.replace(/^(\$ )/gm, '');
        return s.replace('<!-- text -->', text).replace('&lt;!-- copy --&gt;', copy_text);
    }

  {% if MIXPANEL_TOKEN %}
    $('.sidebar-link').click((e) => {
        mixpanel.track("Sidebar", {element: e.target.id});
    });
    $('#logout').click(() => {
        mixpanel.reset();
    });
    {% if signed_up %}
    mixpanel.alias("{{ user.email }}");
    mixpanel.track("Signed Up");
    {% elif signed_in %}
    mixpanel.track("Signed In");
    {% endif %}
    mixpanel.identify("{{ user.email }}");
    mixpanel.people.set({
        "$first_name": "{{ user.first_name }}",
        "$last_name": "{{ user.last_name }}",
        "$email": "{{ user.email }}",
        "$phone": "{{ user.profile.phone }}"
    });
    $("#admin-inst-btn,#inst-btn").on('click', () => mixpanel.track("Add Node"));
  {% endif %}

    /*
      Dropdown arrow interaction.
      Arrow points right when collapsed and down when expanded.
      Clicking anywhere inside nav-item dropdown will cause it to expand or collapse.
      Clicking outside of nav-item dropdown will cause it to collapse if expanded.
     */

    function toggleDropdownArrow(expanded) {
        let arrow = $('#wott-dropdown-arrow');
        arrow.toggleClass('fa-caret-down', expanded)
             .toggleClass('fa-caret-right', !expanded);
    }

    $('.nav-item.dropdown')
      .on('show.bs.dropdown', () => {
        toggleDropdownArrow(true);
    }).on('hide.bs.dropdown', () => {
        toggleDropdownArrow(false);
    });
  </script>
{% endblock %}
