  <template id="batch-footer-tmplate">
    <div class="dropdown" id="device-list-columns">
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#batch-actions-collapse" id="batch-expand">
        Batch Actions
      </button>
      <div class="collapse row" id="batch-actions-collapse">
        <div class="input-group mb-3 col-2">
          <select class="custom-select" id="subject_select">
            <option selected>Subject...</option>
          </select>
        </div>
        <div class="input-group mb-3 col-2">
          <select class="custom-select" id="action_select">
            <option selected>Action...</option>
          </select>
        </div>
        <div class="col-4" id="subj_element_div">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-secondary" id="action_button">Apply</button>
        </div>
      </div>
    </div>
  </template>

  <script>
      /**
       *  Using sample:
       *
       *
       *
       *
       * /


      /**
       *  creates batch actions controls
       *  @returns batchControl object.
       *            batchControl.refresh() - refresh batch controls data and events
       **/
       function initBatchControls(options){

          let defaultOptions = {
              get_object_pk_for_batch: function( action, row ) {
                  return row['pk'];
              },
              table_id: 'datatables-basic',
          };



          function get_object_pk( action, row )
          {
              return row['pk'];
          }

          batchControl = {};
          let subjects=[];
          let actions=[];

          const action_select_default = 'Action...';
          const subject_select_default = 'Subject...';


          refresh_subject_select_events();
          refresh_action_select_events();
          refresh_action_button_events();

          $.ajax({
              url: 'ajax-batch/list/device',
              method: 'GET',
          }).done(function(a) {
             actions = a;
             let subject_select = $('#subject_select')
             subject_select.empty().append(`<option selected>${subject_select_default}</option>`);

             for(let i in actions){
                 actions[i].init = eval(`(${actions[i].js_init})`);
                 actions[i].post_process = eval(`(${actions[i].js_postprocess})`);
                 actions[i].get_args = eval(`(${actions[i].js_get})`);
                 if (!(subjects.includes(actions[i].subject)) )
                 {
                     subjects.push(actions[i].subject);
                     subject_select.append(
                         `<option value="${actions[i].subject}">${actions[i].subject}</option>`
                     );
                 }
             }
          });

          function refresh_subject_select()
          {
              let subject_select = $('#subject_select');
              subject_select.empty().append(`<option selected>${subject_select_default}</option>`);
              for( let i in subjects){
                  subject_select.append(
                      `<option value="${subjects[i]}">${subjects[i]}</option>`
                  );
              }
          }

          function refresh_subject_select_events(){
              $('#subject_select').on('change', function(e){
                  let action_select = $('#action_select');
                  action_select.empty().append(`<option selected>${action_select_default}</option>`);
                  if( this.value != subject_select_default)
                  {
                      for(let i in actions){
                          if( actions[i].subject == this.value )
                          {
                             action_select.append(
                                 `<option value="${i}">${actions[i].display_name}</option>`
                             );
                          }
                      }
                  }
              });
          }

          function refresh_action_select_events() {
              $('#action_select').on('change', function(e){
                  let batch_args_div = document.getElementById("subj_element_div");
                  while (batch_args_div.firstChild) {
                      batch_args_div.removeChild(batch_args_div.firstChild);
                  }

                  if(this.value != action_select_default)
                  {
                      if( actions.length > this.value )
                      {
                          let elem = actions[this.value].init();
                          batch_args_div.appendChild( elem );
                          actions[this.value].post_process(elem);
                      }
                  }
              });
          }

          function refresh_action_button_events(){
              $('#action_button').on('click', function(e){
                  e.preventDefault();
                  let subject = $('#subject_select').val();
                  let action_idx = $('#action_select').val();
                  if( subject === subject_select_default || action_idx === subject_select_default){
                      return;
                  }

                  let items_to_batch = []
                  let a_table = $('#datatables-basic').dataTable().api();
                  a_table.rows({ selected: true }).every( function ( rowIdx, tableLoop, rowLoop ) {
                      let data = this.data();
                      let pk = get_object_pk_for_batch( actions[action_idx], data);
                      if (pk !== null) items_to_batch.push({pk: pk});
                  } );

                  let action_name = actions[action_idx].name;
                  let args = actions[action_idx].get_args( $(`#batch_${action_name}`).val() );

                  $.ajax({
                      url: `${actions[action_idx].url}`,
                      data: JSON.stringify({
                          action: action_name,
                          objects: items_to_batch,
                          args: args,
                      }),
                      method: 'POST',
                      contentType: 'application/json',
                  }).done(function(e){
                     alert("ok");
                  });
              });
          }

          batchControl.refresh = function(){
              refresh_subject_select();
              refresh_subject_select_events();
              refresh_action_select_events();
              refresh_action_button_events();
          }
          return batchControl;
      }

  </script>