{% extends "admin_base.html" %}

{% load bootstrap4 %}

{% block title %}WoTT - Create Policy{% endblock title %}

{% block dashboard_title %}
  <h1>Create Policy</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ object }}</h5>
        </div>
        <div class="card-body">
          <form method="POST" action="" id="policy-form">
            {% csrf_token %}
            {% bootstrap_form form  %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">Save</button>
              <a href="{% url 'global_policies' %}" class="btn btn-secondary" role="button" style="float: right;">Cancel</a>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  {% include "policy_editor.html" %}

  <script>
      $(() => {
          let ports_table = init_policy_ports_editor(JSON.parse($('#id_ports').text()));

          $('#policy-form').submit(function (e) {
              $('#id_ports').html( parse_policy_ports_editor(ports_table));
              return true;
          });

      });
  </script>
{% endblock scripts %}