{% extends "admin_base.html" %}

{% load bootstrap4 %}

{% block title %}WoTT - Create Policy{% endblock title %}

{% block dashboard_title %}
  <h1>Create Policy</h1>
{% endblock dashboard_title %}

{% block admin_content %}
<div id="create-policie-tab">
  <div class="row">
    <div class="col-12">
      <div class="wott-card wott-box-shadow">
        <div class="wott-card-body">
          <form method="POST" action="" id="policy-form" class="py-3 px-4">
            {% csrf_token %}
            {% include "form_field.html" with field=form.name %}
            {% include "form_field.html" with field=form.policy %}
            {% include "form_field.html" with field=form.ports form_group_class="mb-4" %}
            <div class="separator"></div>
            <hr class="my-4 hr-create-policy">
            {% buttons %}
            <div class="form-group mb-0">
              <div class="d-flex justify-content-between">
                <a href="{% url 'global_policies' %}" class="btn d-flex justify-content-center align-items-center wott-btn-medium btn-wott-tertiary mr-2" role="button">Cancel</a>
                <button type="submit" class="btn wott-btn-medium btn-wott-primary">Save</button>
              </div>
            </div>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  {% include "policy_editor.html" %}

  <script>
      $(() => {
          let ports_table = init_policy_ports_editor(JSON.parse($('#id_ports').text()));

          $('#policy-form').submit(function (e) {
              $('#id_ports').html( parse_policy_ports_editor(ports_table));
              return true;
          });

      });
  </script>
{% endblock scripts %}