{% extends "admin_base.html" %}

{% block title %}WoTT - Credentials{% endblock title %}

{% block dashboard_title %}
  <h1>Credentials</h1>
    <style>
        .input-with-icon #value{
            padding-left: 40px;
        }

        .input-with-icon{
            position: relative;
        }

        .input-with-icon i{
            position: absolute;
            left: 8px;
            top: 32px;
            padding: 9px 8px;
            color: #aaa;
            transition: .3s;
        }

        .input-with-icon svg{
            position: relative;
            left: 8px;
            top: -26px;
            color: #aaa;
            transition: .3s;
            focusable: true;
        }
    </style>

{% endblock dashboard_title %}

{% block admin_content %}

  <div class="modal show fade" tabindex="-1" role="dialog" id="wott-cred-modal">
    <div class="modal-dialog modal-xl" role="document">
      <form class="modal-content" id="wott-cred-form" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h2 class="modal-title" id="modal-title-h2">Add New Credential</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
              </div>
              <div class="form-group col-md-6">
                <label for="linux_user" data-toggle="tooltip" data-placement="top" title="Real linux user on your device, which would be permitted to this credential data reading. Could be blank for root as well as be root." >
                  File owner
                  <i class="fas fa-info-circle"></i>
                </label>
                <input type="text" class="form-control" id="linux_user" placeholder="Owner" name="linux_user">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <table id="kv-editor-table" class="table table-striped table-responsive-xs" style="width:100%">
                </table>
                <textarea style="display:none;" id="data" name="data"></textarea>
                <button type="button" class="btn btn-success" id="add-kv-row-btn">＋ Add Row</button>
                <span class="fas fa-eye fa-lg fa-fw" aria-hidden="true" id="value-eye"  data-toggle="popover"
                      data-placement="top" title="Show Values" data-content="Press and hold mouse button on eye-icon to show the values."
                      onmousedown="show_modal_values(true)"  onmouseup="show_modal_values(false)">
                </span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="tags">Tags</label>
                <input type="text" data-tagulous="true" class="form-control" id="tags" placeholder="Tags" name="tags" data-tag-url="/ajax/tags/autocomplete/"
                  data-tag-options="{&quot;force_lowercase&quot;: true, &quot;space_delimiter&quot;: true}"  autocomplete="off" >
              </div>
              <input type="hidden" name="pk" id="pk">
              <input type="hidden" name="method" id="method">
            </div>

            <div class="alert alert-warning wott-form-alert p-1" role="alert" id="edit_alert">
              Server error
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="wott-confirm-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm-title">Confirm Removal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="confirm-msg">Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirm-btn">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
            <div class="alert alert-warning wott-form-alert p-1" role="alert" id="confirm-alert">
              Server error
            </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Credentials</h5>
            <h6 class="card-subtitle text-muted">View credentials.</h6>
          </div>
          <div class="card-body">
            <table id="datatables-basic" class="table table-striped table-responsive-xs" style="width:100%">
              <thead>
              <tr>
                <th>Name</th>
                <th>Key - Value</th>
                <th>Tags</th>
                <th width="10%">File owner</th>
                <th width="20%"></th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
{#  <div class="row">#}
  <button type="button" class="btn btn-success" id="wott-add-creds-btn">＋ Add Credential</button>
{#  </div>#}

{% endblock admin_content %}

{% block scripts %}
  <style>
  .btn {
    color: white;
  }
  .wott-form-alert {
    color: black;
    display: none;
  }
  td.wott-cred-btns .btn {
    visibility: hidden;
    display: inline;
  }
  #datatables-basic tr:hover td.wott-cred-btns .btn {
    visibility: visible;
  }
  </style>
  <script>
    const del_modal_idx = 1;
    const edit_modal_idx = 0;

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    function show_modal_values(state){
        if(state) {
            $("#value-eye").css("color", "dodgerblue");
            $(".hide-value").attr("type", "text");
        }
        else{
            $(".hide-value").attr("type", "password");
            $("#value-eye").css( "color","#aaa");
        }
    }


    function update_popovers()
    {
        $('[data-toggle="popover"]').popover({
            trigger : "hover focus click",
            title: "Path to credentials file.",
        });

        $('[data-toggle="popover"]').on('inserted.bs.popover', function (obj) {
            $('[data-toggle="popover"]').not(this).popover('hide');
        })
    }

    $(function () {
        update_popovers();
    });

    const columns={
        name : 0,
        data: 1,
        data_tags:2,
        linux_user:3,
        buttons:4
    }

    var table;
    var kv_editor_table;
    document.addEventListener("DOMContentLoaded", function () {

      // key-value editor
      kv_editor_table = create_kv_editor(null, {
          key_class: "form-control",
          value_class: "hide-value form-control",
          value_type: "password",
          ask_delete_confirmation: false,
          show_err_msg_func: function(errors){
            wott_alert_strings(errors, edit_modal_idx);
          }
      });

      // Datatables basic
      table = $('#datatables-basic').DataTable({
        responsive: true,
        ajax: '/ajax-credentials/',
        columns: [
            {'data': 'name'},
            {'data': 'data', sorting:false},
            {'data': 'tags_data'},
            {'data': 'linux_user'},
        ],
        language: {
            emptyTable: "No credentials added."
        },
        rowId: 'pk',
        columnDefs: [ {
            targets: columns.buttons,
            orderable: false,
            data: null,
            className: 'wott-cred-btns',
            defaultContent: "<button class='btn btn-success wott-creds-edit-btn inline'>Edit</button> " +
                            "<button class='btn btn-danger wott-creds-del-btn inline'>Remove</button>"

        }, {
            targets: columns.name,
            render: function(data, type, row, meta){
                if( type == "sort" ) return data;
                let credential_path = "{{ pi_credentials_path }}"
                    + ( row.linux_user == '' ?  "/" : "/" + row.linux_user + '/' )
                    + data + ".json";
                return "<span data-container=\"body\" data-toggle=\"popover\" data-placement=\"right\" "
                       + "data-content=\"" + credential_path + "\" >" + data + "</span>";
            }
         } ,{
            targets: columns.data_tags,
            render: render_tags_col
         }, {
            targets: columns.data,
            render: function (data, type, row, meta) {
                if (type == 'sort') return data;
                return get_kv_data_view( data, row.pk );
            }
        }
        ]
      });

      table.on( 'draw.dt', function () {
          Tagulous.select2($('input[id^="tags_id_"]'));
          update_popovers();
      });

    });


    function showDialog(method, header, data) {
      $('#modal-title-h2')[0].innerText = header;
      document.getElementById('method').value = method;

      if(data) {
          for(let k in data) {
              switch(k)
              {
                  case 'tags_data':
                      el = document.getElementById('tags');
                      el.value = tags_to_string(data[k]);
                      Tagulous.select2($(el));
                      break;
                  case 'data':
                      kv_editor_table.clear();
                      kv_editor_table.rows.add(obj_to_kv_editor_data(data.data));
                      kv_editor_table.draw();
                      break;
                  default:
                      document.getElementById(k).value = data[k];
              }
          }
      } else {
          for(let k of ['name', 'pk', 'tags', 'data', 'linux_user']) {
              document.getElementById(k).value = '';
          }
          kv_editor_table.clear();
          kv_editor_table.draw();
          Tagulous.select2($("#tags"));
      }

      $('.wott-form-alert')[edit_modal_idx].style.display = 'none';
      $('#wott-cred-modal').modal('toggle');
    }

    /**
     * show alert msg
     * @param messages  - array of error messages
     * @param alert_box_id - id of message placeholder
     */
    function wott_alert_strings(messages, alert_box_id){
        let alertbox = $('.wott-form-alert')[alert_box_id];
        alertbox.style.display = 'block';
        alertbox.innerText = messages.join("\n");
        return;
    }


    function alertbox_on_ajax_fail(a, box_idx){
        console.log('error');
        console.log(a.status, a.responseText);
        alertbox = $('.wott-form-alert')[box_idx];
        alertbox.style.display = 'block';
        if(a.status == 400 || a.status == 404 || a.status == 405) {
            errMsg = "";
            firstFailed = "";
            for (key in a.responseJSON) {
                if (firstFailed == "" && key != "detail" )
                    firstFailed = key;
                else
                    errMsg = errMsg + "\n";
                disp_key = (key == 'linux_user') ? 'owner' : key;
                errMsg = errMsg + disp_key + " : " + a.responseJSON[key];
                if ( key != "detail")
                {
                  el = $("#" + key)
                  el.attr("failed", true);
                  el.attr("onchange", "remove_failed_status(this)");
                }
            }
            alertbox.innerText = errMsg;
            $("#" + firstFailed).focus();
        }
        else alertbox.innerText = a.responseText;
    }


    $('#wott-cred-form').submit(function (e) {
          e.preventDefault();
          if ( !kv_editor_table.kv_to_json('#data') ) return false;
          let frm_data = {};
          for(let item of $('form').serializeArray()) {
              frm_data[item.name] = item.value;
          }
          let {name, pk, linux_user} = frm_data;
          let data = JSON.parse($('#data').html());

          let tags=[];
          Tagulous.parseTags( frm_data.tags, true, false ).forEach( function (tag) {
             tags.push({ "name" : tag  })
          });

          let type = pk? 'PATCH': 'POST',
          url = pk? `/ajax-credentials/${pk}/update/`:  `/ajax-credentials/create/`;
          $.ajax({
              url,
              type,
              data: JSON.stringify({name, data, tags, linux_user}),
              processData: false,
              contentType: 'application/json',

          }).done(function(a) {

              console.log('success', a);
              if(a.error) {
                alertbox = $('.wott-form-alert')[edit_modal_idx];
                alertbox.style.display = 'block';
                alertbox.innerText = a.error;
                return;
              }
              $('#wott-cred-modal').modal('toggle');
              table.ajax.reload();

          }).fail( function(a) {
                  alertbox_on_ajax_fail(a, edit_modal_idx);
          });
      });


    function remove_failed_status(el){
        el = $(el);
        el.removeAttr("failed");
        el.removeAttr("onchange")
    }

    const COMMA=',', SPACE=' ';

    function tags_to_string(data, quote='"') {
        let safe = [];
        for( let tag of data ) {
            let str = tag.name.replace(/"/g, quote + quote);
            if (!str) {
                continue;
            }
            if (str.indexOf(COMMA) > -1 || str.indexOf(SPACE) > -1) {
                safe.push(quote + str + quote);
            } else {
                safe.push(str);
            }
        }
        safe.sort();
        return safe.join(', ');
    }


    function render_tags_col(data, type, row, meta)
    {
        if( type == "sort" ) return data;

        let value = tags_to_string(data, '&quot;');
        let data_tag_list = JSON.stringify(data).replace( /"/g, "&quot;"); // data-tag-list

        return `<input type="text" data-tagulous="true"  data-tag-url="/ajax/tags/autocomplete/" style="width:100%" `
               + `value="${value}" readonly  id=tags_id_${row['pk']} data-tag-list="${data_tag_list}" >`;
    }


    $('#datatables-basic tbody').on( 'click', '.wott-creds-edit-btn', function () {
		var ab=$(this);
		var pb=ab.parents('tr'); if(pb.attr('class')=='child'){var pb=$(ab.parents('tbody').children()[pb.index()-1]);}; 
		var data = table.row(pb).data();
        showDialog('update', "Edit Credential", data);
    } );
    $('#wott-add-creds-btn').on('click', function () {
        showDialog('create', "Add Credential");
    });

    var deleted_pk;
    $('#datatables-basic tbody').on( 'click', '.wott-creds-del-btn', function () {
		var ab=$(this);
		var pb=ab.parents('tr'); if(pb.attr('class')=='child'){var pb=$(ab.parents('tbody').children()[pb.index()-1]);}; 
		var data = table.row(pb).data();
        deleted_pk = data.pk;
        show_confirm_dialog( "Confirm Removal", "Are you sure you want to delete?", "Delete" );
    });


    $('#confirm-btn').click(e => {
        console.log('del');

        $.ajax({
            url: `/ajax-credentials/${deleted_pk}/delete/`,
            type: "DELETE",
        }).done(function () {
            console.log('success');
            table.ajax.reload();
            $('#wott-confirm-modal').modal('toggle');
        }).fail(function (a) {
            console.log('error');
            console.log(a.status, a.responseText);
            alertbox_on_ajax_fail(a,del_modal_idx);
        });
    });

    function obj_to_kv_editor_data(obj)
    {
        let rows = [];
        for( let key in obj ) {
            rows.push( [key, obj[key]] );
        }
        return rows;
    }

    function get_kv_data_view(data, view_id, starred=true)
    {
        let rows = [];
        for( let key in data ){
            let val = data[key].toString();
            val = (starred) ? '*'.repeat(val.length) : htmlEntities(val);
            rows.push( "<tr><td>" + key + "</td><td>" + val + "</td></tr>" );
        }
        let value = JSON.stringify(data);

        return '<div id="kvv_' + view_id + '">\n<table>\n<tbody>\n'
             + rows.join('\n') + '\n</tbody></table>\n<textarea style="display:none;">' + value + '</textarea></div>';
    }

    function htmlEntities(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }

    /***
     *  setup confirm_dialog parameters and toggle on. button on click must be set up manually.
     *  @param title - dialog title
     *  @param message - dialog message
     *  @param btn_text - dialog confirm button text
     */
    function show_confirm_dialog(title, message, btn_text )
    {
        $('#confirm-title')[0].innerText = title;
        $('#confirm-msg')[0].innerText = message;
        $('#confirm-btn')[0].innerText = btn_text;
        $('#confirm-alert')[0].style.display = 'none';
        $('#wott-confirm-modal').modal('toggle');
    }

    function hide_confirm_dialog(){
        $('#wott-confirm-modal').modal('hide');
    }

  </script>

  {% include "key_value_editor.html" %}

{% endblock scripts %}