{% extends "admin_base.html" %}

{% block title %}WoTT - CVE list{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">VULNERABILITIES{% if device_name %} for {{ device_name }}{% endif %}</h1>
{% endblock dashboard_title %}

{% load static %}

{% block admin_content %}
  <!-- cve.html -->
  <div class="overlay"></div>
  <div class="cve-tab">
    <section class="top-section background-blue">

      <div class="left-container wott-rounded-lg wott-box-shadow">
        <div class="inner-left-box">
          <h3 class="title-left-box">CVE Overview</h3>
          <div class="cards-container">
            <div class="mini-card wott-rounded-lg d-flex flex-column">
              <span class="title-mini-card High font-strong">HIGH</span>
              <h1>{{ cve.high.count }}</h1>
            {% if cve.high.delta %}
              <p class="legend-mini-card wott-blue"><i class="fas {{ cve.high.arrow }}"></i> {{ cve.high.delta }}% LAST WEEK</p>
            {% endif %}
            </div>
            <div class="mini-card wott-rounded-lg d-flex flex-column">
              <span class="title-mini-card Medium font-strong">MEDIUM</span>
              <h1>{{ cve.medium.count }}</h1>
            {% if cve.medium.delta %}
              <p class="legend-mini-card wott-blue"><i class="fas {{ cve.medium.arrow }}"></i> {{ cve.medium.delta }}% LAST WEEK</p>
            {% endif %}
            </div>
            <div class="mini-card wott-rounded-lg d-flex flex-column">
              <span class="title-mini-card Low font-strong">LOW</span>
              <h1>{{ cve.low.count }}</h1>
            {% if cve.low.delta %}
              <p class="legend-mini-card wott-blue"><i class="fas {{ cve.low.arrow }}"></i> {{ cve.low.delta }}% LAST WEEK</p>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="inner-right-box wott-rounded-lg">

          <svg width="100%" height="100%" viewbox="0 0 42 42" class="donut">
            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>

            <circle id="high-circle-segment" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#EF2F20" stroke-width="3" stroke-dasharray="{{ cve.circle.high.0 }} {{ cve.circle.high.1 }}" stroke-dashoffset="{{ cve.circle.high.2 }}"></circle>
            <!-- <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#EF2F20" stroke-width="3" stroke-dasharray="<percentage1, (100 - percentage1)>" stroke-dashoffset="<initialValue>"></circle> -->
            <circle id="medium-circle-segment" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#EF8F20" stroke-width="3" stroke-dasharray="{{ cve.circle.medium.0 }} {{ cve.circle.medium.1 }}" stroke-dashoffset="{{ cve.circle.medium.2 }}"></circle>
            <!-- <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#EF8F20" stroke-width="3" stroke-dasharray="<percentage2, (100 - percentage2)>" stroke-dashoffset="<secondValue = 100 - percentage1 + initialValue>"></circle> -->
            <circle id="low-circle-segment" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#23BED6" stroke-width="3" stroke-dasharray="{{ cve.circle.low.0 }} {{ cve.circle.low.1 }}" stroke-dashoffset="{{ cve.circle.low.2 }}"></circle>
            <!-- <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#EF8F20" stroke-width="3" stroke-dasharray="<percentage3, (100 - percentage3)>" stroke-dashoffset="<100 - percentage2 + secondValue>"></circle> -->

            <g class="chart-text">
              <text id="cve-priority" x="50%" y="50%" class="chart-number">
                96 <!--HARDCODE-->
              </text>
              <text id="severity-inner-text" x="50%" y="50%" class="chart-label">
                low <!--HARDCODE-->
              </text>
              <text x="50%" y="50%" class="chart-label2">
                priority
              </text>
              <text x="50%" y="50%" class="chart-label3">
                cve
              </text>
            </g>
          </svg>
        </div>
      </div>
      <!-- The container bellow will be used in further layout improvements -->
      <!-- <div class="right-container"></div> -->

    </section>


    <section class="my-4">
          <table class="container-fluid wott-rounded-lg wott-box-shadow" >
            <div class="table-header">
              <thead>
                <tr class="row">
                  <th class="col-2 wott-blue pl-5 pr-0">CVE NAME</th>
                  <th class="col-2 px-0 text-center">DATE</th>
                  <th class="col-1 px-0">SEVERITY</th>
                  <th class="col-4 pl-3 pr-0">PACKAGE AFFECTED</th>
                  {% if not device_name %}
                  <th class="col-sm-auto text-center px-0">NODES AFFECTED</th>
                  {% endif %}
                  <th id="solve-header" class="col-sm-auto">SOLVE</th>
                </tr>
              </thead>
            </div>
            <tbody>
            {% for row in table_rows %}
            <tr class="row border-table">
              <td class="col-2 pl-3 pr-0 d-flex align-items-center medium-text font-weight-bold">
                <span class="pr-3 bullet-lg {{ row.severity }} pb-1">&#8226</span>
                <a href="{{ row.cve_link.href }}">{{ row.cve_link.text }}</a>
              </td>
              <td class="col-2 d-flex align-items-center justify-content-center px-0 medium-text">{{ row.cve_date|date:"Y-m-d"|default:"N/A" }}</td>
              <td class="col-1 d-flex align-items-center font-strong {{ row.severity }} medium-text px-0">{{ row.severity }}</td>
              <td class="col-4 d-flex align-items-center pl-3 pr-0 small-text">
                {% for p in row.packages %}
                 {{ p.name }}
                  <br>
                {% endfor %}
              </td>
              {% if not device_name %}
              <td class="col-1 text-center small-text">
                {% for p in row.packages %}
                  <a href="#" id="device-url" class="wott-popover">
                    {{ p.devices_count }}
                    <template>
                      <div class="popover-box">
                        <div class="popover-title"> 
                          <h1 class="mb-0">All Affected Nodes</h1>
                          <span id="close-popover-buttton"><img src="{% static '/media/close-icon.png' %}" alt="close"></span>
                        </div>
                        <hr class="popover-title-line">
                      {% for du in p.devices %}
                        <a class="wott-blue" href="{{ du.href }}">{{  du.text }}</a>
                      {% endfor %}
                      </div>
                    </template>
                  </a>
                  <br>
                {% endfor %}
              </td>
              {% endif %}
              <td id="solve-cel" class="col-2 small-text">
                {% for p in row.packages %}
                  <a href="#" class="wott-popover">
                    Instructions
                    <template>
                      <div class="popover-box instructions-box">
                        <h4>Run the following command:</h4>
                        <hr class="popover-title-line">
                        <div>
                          <pre class="wott-blue">{{ p.upgrade_command }}</pre>
                        </div>
                      </div>
                    </template>
                  </a>
                  <br>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </section>
  </div>
{% endblock admin_content %}

{% block scripts %}
{{ block.super }}

  <script>
  let popoverShown = null;

  $(function () {
    $('[data-toggle="popover"]').popover()
  });

  $('.wott-popover').click((e) => {
    e.preventDefault(); // prevent scrolling to the top (because <a href="#">)
    if(popoverShown)  // hide previous popover
      $(popoverShown).popover('hide');
    $(e.target).popover('show');
    popoverShown = e.target;
  }).popover({
    html: true,
    title: "",
    trigger: 'click',
    content: function() {
      return $(this).children('template').html();
    }
  });

  $('body').click((e) => {
    if(e.target == popoverShown || $(e.target).parents('.popover').length) {
      // clicked on popover link or inside popover
      return;
    }
    if(popoverShown) {
      // clicked anywhere outside the popover while it's shown -> hide it
      $(popoverShown).popover('hide');
      popoverShown = null;
    }
  });

  let selectedSector = null;
  function selectSector(sector, text) {
      colors = {
          high: '#EF2F20',
          medium: '#EF8F20',
          low: '#23BED6'
      };
      if(selectedSector)
          $(`#${selectedSector}-circle-segment`).css({strokeWidth: 3});
      $(`#${sector}-circle-segment`).css({strokeWidth: 4});
      $('#cve-priority').css({fill: colors[sector]}).text(text);
      $('#severity-inner-text').text(text);
      selectedSector = sector;
  }

 // TODO: Popover JS require 2 functions
 // ## When opening the popover we should do => document.getElementById(.overlay).style.display = block;
 // ## When we close the popover we should do => document.getElementById('.overlay').style.display = hidden;
 
  </script>
{% endblock scripts %}