{% extends "admin_base.html" %}

{% block title %}WoTT - Dashboard{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Dashboard</h1>
{% endblock dashboard_title %}

{% load static %}

{% block admin_content %}
 
<div class="dashboard-tab">
  <div id="onboard-container" style="background-image: url({% static 'media/login-bg.png' %});">
    <div class="left-box py-4">
      <h1 class="big-text text-center">Welcome User</h1>
      <p class="text-center close-text">Looks like you are<span class="bold wott-blue"> new around here</span></p>
      <p class="text-center pb-4 close-text">You can start your journey by adding a node.</p>
      <button type="button" class="btn wott-btn btn-wott-primary d-block m-auto">
        Add A Node
        <img src="{% static '/media/plus.png' %}" alt="plus">
      </button>
    </div>
    <div>
      <img src="{% static '/media/server.png'%}" alt="server">
    </div>
  </div>
  <section class="top-section pt-2">
    <div class="left-box card mb-0 wott-box-shadow">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="title-left-box">Weekly Recommended Actions</h3>
        <div class="weekly-progress">
          <div class="graphic-title">Weekly Progress</div>
          <div id="week-progress-100">  
            <span id="week-progress-var">
              <p class="mb-0" id="week-progres-text">75%</p><!--HARDCODE | Need function to set #week-progres-text width-->
            </span>
          </div>
        </div>
      </div>
      <ul class="weekly-card-body">
        <li class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <div class="round">
              <input type="checkbox" id="weekly-ra-1"/> <!--ID FROM DB | use: id="weekly-ra-{index}-->
              <label for="weekly-ra-1"></label> <!--LABEL.FOR FROM DB | use: id="weekly-ra-{index}-->
            </div>
            <h3 class="list-title mb-0">Default credentials detected</h3><!--HARDCODE-->
            <h3 class="list-subtitle mb-0">Consider changing them as soom as possible</h3><!--HARDCODE-->
          </div>
          <div class="rect-badge-high">HIGH</div><!--HARDCODE | for the class use: "react-badge-{severity}-->
        </li>
        <li class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <div class="round">
              <input type="checkbox" id="weekly-ra-2"/> <!--ID FROM DB | use: id="weekly-ra-{index}-->
              <label for="weekly-ra-2"></label> <!--LABEL.FOR FROM DB | use: id="weekly-ra-{index}-->
            </div>
            <h3 class="list-title mb-0">Default credentials detected</h3> <!--HARDCODE-->
            <h3 class="list-subtitle mb-0">Consider changing them as soom as possible</h3> <!--HARDCODE-->
          </div>
          <div class="rect-badge-high">HIGH</div><!--HARDCODE | for the class use: "react-badge-{severity}-->
        </li>
        <li class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <div class="round">
              <input type="checkbox" id="weekly-ra-3"/> <!--ID FROM DB | use: id="weekly-ra-{index}-->
              <label for="weekly-ra-3"></label> <!--LABEL.FOR FROM DB | use: id="weekly-ra-{index}-->
            </div>
            <h3 class="list-title mb-0">Permissive Firewall policy detected</h3><!--HARDCODE-->
            <h3 class="list-subtitle mb-0">Consider changing them as soom as possible</h3><!--HARDCODE-->
          </div>
          <div class="rect-badge-high">HIGH</div><!--HARDCODE | for the class use: "react-badge-{severity}-->
        </li>
        <li class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <div class="round">
              <input type="checkbox" id="weekly-ra-4" checked/> <!--ID FROM DB | use: id="weekly-ra-{index}-->
              <label for="weekly-ra-4"></label> <!--LABEL.FOR FROM DB | use: id="weekly-ra-{index}-->
            </div>
            <h3 class="list-title mb-0 solved-dash">Valnerable packages found</h3> <!--HARDCODE-->
            <h3 class="list-subtitle mb-0">Consider changing them as soom as possible</h3> <!--HARDCODE-->
          </div>
          <div class="rect-badge-medium">MEDIUM</div><!--HARDCODE | for the class use: "react-badge-{severity}-->
        </li>
        <li class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <div class="round">
              <input type="checkbox" id="weekly-ra-5" checked/> <!--ID FROM DB | use: id="weekly-ra-{index}-->
              <label for="weekly-ra-5"></label> <!--LABEL.FOR FROM DB | use: id="weekly-ra-{index}-->
            </div>
            <h3 class="list-title mb-0 solved-dash">Default credentials detected</h3> <!--HARDCODE-->
            <h3 class="list-subtitle mb-0">Consider changing them as soom as possible</h3> <!--HARDCODE-->
          </div>
          <div class="rect-badge-low">LOW</div><!--HARDCODE | for the class use: "react-badge-{severity}-->
        </li>
      </ul>
    </div>
    <section class="right-graphic-container">
      <div class="graph-title">Your Trust Score</div>
      <div class="graph-half-moon">
  
        <svg width="80%" height="100%" viewbox="-0.6 0 42 42" class="donut">
          <defs>
            <lineargradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:rgb(0,135,243);stop-opacity:1" />
              <stop offset="100%" style="stop-color:rgb(6,210,233);stop-opacity:1" />
            </lineargradient>
            <lineargradient id="grad3" x1="50%" y1="50%" x2="50%" y2="50%">
              <stop offset="0%" style="stop-color:rgb(0,135,243);stop-opacity:1" />
              <stop offset="100%" style="stop-color:white;stop-opacity:1" />
            </lineargradient>
          </defs>
          <circle class="donut-hole gradient" cx="21" cy="21" r="15.91549430918954" fill="transparent"></circle>
          <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="transparent" stroke-width="2"></circle>
          
          <circle id="trust-score-circle-segment" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="url(#grad2)" stroke-width="2" stroke-dasharray="75 25" stroke-dashoffset="63"></circle>
          <circle class="graphic-ball" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="white" stroke-dasharray="0.2 99.8" stroke-dashoffset="-38" stroke-width="4.5"></circle> <!--small ball position = stroke-dashoffset | Check commented function in script-->
          <circle class="graphic-ball" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#007DD5" stroke-dasharray="0.2 99.8" stroke-dashoffset="-38" stroke-width="3"></circle> <!--small ball position = stroke-dashoffset | Check commented function in script-->
          
          <g class="chart-text">
            <text id="cve-priority" x="50%" y="50%" class="chart-number">
              80 <!--HARDCODE-->
            </text>
            <text id="severity-inner-text" x="50%" y="50%" class="chart-label">
              of 100 <!--HARDCODE-->
            </text>
            <text x="50%" y="50%" class="chart-label2">
            </text>
            <text x="50%" y="50%" class="chart-label3">
              good <!--HARCODE-->
            </text>
          </g>
        </svg>
  
      </div>
      <div class="graph-footer"><i class="fas fa-sort-down"></i><span> UP</span> 5% OVER THE LAST WEEK</div>
    </section>
  </section>
</div>
<style>
  .big-text {
    font-size: 2rem;
    font-weight: 600;
  }

  .close-text {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  #onboard-container {
    display: flex !important;
    padding: 2rem;
    overflow: visible;
    background-size: 120%;
    width: 120%;
    margin-left: -10%;
    height: 326%;
    margin-top: -24px;
    margin-bottom: -56px;
  }

  .content {
    padding-top: 1.5rem;  
  }
</style>
{% endblock admin_content %}

{% block scripts %}
{{ block.super }}

<!-- The percentage could be scaled with this function bellow -->

<!-- function scalePercentage(percentage) {
  if (percentage >= 0 && percentage <=100) {
    let newPercentage = parseInt(percentage * .74);
    return -newPercentage - 38 
  }
  else return false;
} -->


{% endblock scripts %}