{% extends "admin_base.html" %}
{% load split_string %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Device Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row">
    <div class="col-12">
      <div class="tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'device-detail' object.pk %}" role="tab" aria-selected="true">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-software' object.pk %}" role="tab" aria-selected="false">Software</a>
          </li>
        {% if portscan and firewall %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-security' object.pk %}" role="tab" aria-selected="false">Security</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-network' object.pk %}" role="tab" aria-selected="false">Network</a>
          </li>
        {% if portscan %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-hardware' object.pk %}" role="tab" aria-selected="false">Hardware</a>
          </li>
        {% endif %}
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="overview" role="tabpanel">
            <h4 class="tab-title">Overview</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Device ID</th>
                <td>{{ object.device_id }}</td>
              </tr>
              <tr>
                <th scope="row">Hardware Type</th>
                <td>{{ object.deviceinfo.get_hardware_type|default_if_none:'Unknown'}}</td>
              </tr>
              <tr>
                <th scope="row">Last Heartbeat</th>
                <td>{{ object.last_ping | timesince }} ago</td>
              </tr>
              <tr>
                <th scope="row">Comment</th>
                <td>
                  <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ form.non_field_errors }}
                      {{ form.comment.errors }}
                      {{ form.comment }}
                      <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                  </form>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

