{% extends "admin_base.html" %}

{% load split_string %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Node Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row node-profile-network">
    <div class="col-12">
      <div class="tab wott-box-shadow">
        {% include 'device_info_tabs.html' with active="network" %}
        <div class="wott-table-content">
          <div class="tab-pane active" id="network" role="tabpanel">
            <h4 class="wott-table-title wott-table-py">Network</h4>
            <table class="wott-table px-0">
              <tbody>
              <tr>
                <td class="wott-table-label" scope="row">
                    Node ID
                    <a href="https://wott.io/documentation/faq#what-is-devicenode-id" target="_blank">
                      {% include "badge.html" with icon="question-circle" color="primary" %}
                    </a>
                </td>
                <td>{{ object.device_id|default:'N/A' }}</td>
              </tr>
              <tr>
                <td class="wott-table-label" scope="row">
                    FQDN
                    <a href="https://wott.io/documentation/faq#whats-an-fqdn" target="_blank">
                      {% include "badge.html" with icon="question-circle" color="primary" %}
                    </a>
                </td>
                <td>{{ object.deviceinfo.fqdn|default:'N/A' }}</td>
              </tr>
              <tr>
                <td class="wott-table-label" scope="row">IP</td>
                <td>{{ object.deviceinfo.ipv4_address|default:'N/A' }}</td>
              </tr>
              <tr>
                <td class="wott-table-label" scope="row">Last Heartbeat</td>
                <td>{% if object.last_ping %}{{ object.last_ping|timesince }} ago{% else %}N/A{% endif %}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}
