{% extends "admin_base.html" %}
{% load split_string %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Node Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row node-profile-software">
    <div class="col-12">
      <div class="tab wott-box-shadow">
        {% include 'device_info_tabs.html' with active="software" %}
        <div class="wott-table-content">
          <div class="tab-pane active" id="software" role="tabpanel">
            <table class="wott-table px-0">
              <tbody>
                <h4 class="wott-table-title wott-table-py">Software</h4>
                <tr>
                  <td class="wott-table-label" scope="row">Operating System</td>
                  <td class="pl-4">{{ object.deviceinfo.device_operating_system|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <td class="wott-table-label" scope="row">Operating System Version</td>
                  <td class="pl-4">{{ object.deviceinfo.device_operating_system_version|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <td class="wott-table-label" scope="row">Distribution</td>
                  <td class="pl-4">{{ object.distribution|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <td class="wott-table-label" scope="row">End of Life</td>
                  <td class="pl-4" id="eol_info">
                    {% with object.eol_info as eol_info %}
                      {% if eol_info.passed %}
                        {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                      {% endif %}
                      {{ eol_info.eol|default_if_none:'N/A' }}
                    {% endwith %}
                  </td>
                </tr>
                <tr>
                  <td class="wott-table-label" scope="row">Agent Version</td>
                  <td class="pl-4">{{ object.agent_version|default:'N/A' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

