{% extends "admin_base.html" %}
{% load split_string %}
{% load misc %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Node Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row">
    <div class="col-12">
      <div class="tab">
        {% include 'device_info_tabs.html' with active="security" %}
        <div class="tab-content">
          {% if portscan and firewall %}
            <div class="tab-pane active" id="security" role="tabpanel">
              <h4 class="tab-title">Security</h4>
              <table class="table table-striped table-responsive-xs">
                <tbody>
                <tr>
                  <th scope="row">Vulnerable Packages</th>
                  <td>
                    {% with object.vulnerable_packages as vulnerable_packages %}
                    {% if vulnerable_packages is None %}
                      N/A
                    {% elif vulnerable_packages.exists %}
                      <ul>
                        {% for package in vulnerable_packages %}
                          <li>{{ package.name }} / {{ package.version }}
                            ({% for v in package.vulnerabilities.all %}<a href="https://security-tracker.debian.org/tracker/{{ v.name }}"
                               target="_blank">{{ v.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                     {% include "badge.html" with icon="check" color="success" %}
                    {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                {% with object.heartbleed_vulnerable as heartbleed_vulnerable %}
                {% if heartbleed_vulnerable is not None %}
                 <tr>
                   <th scope="row">
                     Patched against Heartbleed
                   </th>
                   <td>
                     {% if not heartbleed_vulnerable %}
                         {% include "badge.html" with icon="check" color="success" %}
                         Yes
                     {% else %}
                         {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                         No
                     {% endif %}
                   </td>
                 </tr>
                 {% endif %}
                 {% endwith %}
                {% if object.cpu.vendor == 'GenuineIntel' %}
                <tr>
                  <th scope="row">
                    Patched against Meltdown/Spectre
                  </th>
                  <td>
                    {% with object.cpu_vulnerable as cpu_vulnerable %}
                    {% if cpu_vulnerable is False %}
                        {% include "badge.html" with icon="check" color="success" %}
                        Yes
                    {% elif cpu_vulnerable is True %}
                        {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                        No
                    {% else %}
                        N/A
                    {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <th scope="row">
                    Default Credentials
                    <a href="https://wott.io/documentation/faq#what-are-default-credentials"
                       target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                  </th>
                  <td>
                    {% if object.deviceinfo.default_password is None %}N/A{% else %}
                      {% if not object.deviceinfo.default_password %}
                        {% include "badge.html" with icon="check" color="success" %}
                        No default credentials detected.
                      {% else %}
                        {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                        Default credentials detected!
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                <tr>
                  <th scope="row">System File Audit</th>
                  <td>
                    {% if object.audit_files %}
                      <table class="table table-borderless table-sm">
                        <thead class="thead-light">
                        <tr>
                          <th scope="col">Path</th>
                          <th scope="col">Checksum (SHA-256)</th>
                          <th scope="col">Last Modified</th>
                        </tr>
                        </thead>
                        {% for file in object.audit_files %}
                          <tr>
                            <td>{{ file.name }}</td>
                            <td>{{ file.sha256 }}</td>
                            <td>
                              {% if file.last_modified %}{{ file.last_modified|fromunix|timesince }} ago{% endif %}</td>
                          </tr>
                        {% endfor %}
                      </table>
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Configuration Audit</th>
                  <td>
                    {% with object.sshd_issues as sshd_issues %}
                      {% if sshd_issues is None %}
                        N/A
                      {% elif sshd_issues %}
                        <h5>OpenSSH</h5>
                        <ul style="list-style-type:none; padding: 0;">
                          {% for param_name, param_info in sshd_issues.items %}
                            <li>{% include "badge.html" with icon="exclamation-circle" color="danger" %} Consider
                              changing "{{ param_name }}" from "{{ param_info.unsafe_value }}" to "{{ param_info.safe_value }}"
                              {% if param_info.severity %}
                                <a href="{{ param_info.severity }}"
                                   target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        {% include "badge.html" with icon="check" color="success" %}
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                <tr>
                <tr>
                  <th scope="row">Insecure Services</th>
                  <td>
                    {% with object.insecure_services as services %}
                      {% if services %}
                        <ul style="list-style-type:none; padding: 0">
                          {% for service in services %}
                            <li>{% include "badge.html" with icon="exclamation-circle" color="danger" %} {{ service.name }}</li>
                          {% endfor %}
                        </ul>
                      {% elif services is not None %}
                        No insecure services detected.
                      {% else %}
                        N/A
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Automatic Security Update</th>
                  <td>
                    {% if object.auto_upgrades_enabled is True %}
                      {% include "badge.html" with icon="check" color="success" %}
                    {% elif object.auto_upgrades_enabled is False %}
                      {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                        Automatic security update disabled!
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
                <th scope="row">Logins</th>
                <td>
                  {% if object.deviceinfo.logins %}
                    <pre>{{ object.deviceinfo.beautified_logins }}</pre>
                  {% else %}
                    No recent login attempts detected.
                  {% endif %}
                </td>
                </tr>
                <tr>
                  <th scope="row">
                    SELinux
                    <a href="https://wott.io/documentation/faq#what-is-selinux"
                       target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                  </th>
                  <td>
                    {% if object.deviceinfo.selinux_state.enabled and object.deviceinfo.selinux_state.mode == 'enforcing' %}
                      {% include "badge.html" with icon="check" color="success" %}
                    {% elif object.deviceinfo.selinux_state.enabled is not None %}
                      {% include "badge.html" with icon="exclamation-circle" color="warning" %}
                    {% endif %}

                    {% if object.deviceinfo.selinux_state.enabled %}
                      {{ object.deviceinfo.selinux_state.mode|default:'Enabled (unknown)' }}
                    {% elif object.deviceinfo.selinux_state.enabled is False %}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    AppArmor
                    <a href="https://wott.io/documentation/faq#what-is-apparmor"
                       target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                  </th>
                  <td>
                    {% if object.deviceinfo.app_armor_enabled is None %}N/A{% else %}
                      {% if object.deviceinfo.app_armor_enabled %}
                        {% include "badge.html" with icon="check" color="success" %}
                      {% else %}
                        {% include "badge.html" with icon="exclamation-circle" color="warning" %}
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Firewall Rules</th>
                  <td>
                    <div id="firewall-rules">
                      <style>
                        button.collapser.collapsed:before {
                          content: 'show';
                        }

                        button.collapser:before {
                          content: 'hide';
                        }
                      </style>
                      <div>
                        <div id="firewall-rules-btn">
                          <button class="btn btn-link m-0 p-0 collapser collapsed" type="button" data-toggle="collapse"
                                  data-target="#firewall-rules-collapse" aria-expanded="false"
                                  aria-controls="firewall-rules-collapse"></button>
                        </div>

                        <div id="firewall-rules-collapse" class="collapse" aria-labelledby="firewall-rules-btn"
                             data-parent="#firewall-rules">
                          <div>
                            <pre>{{ object.firewallstate.beautified_rules }}</pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Global Policy
                    <a href="https://wott.io/documentation/faq#what-is-a-global-policy"
                       target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                  </th>
                  <td>
                    <form method="POST" action="">
                      {% csrf_token %}
                      <div class="form-group">
                        {{ global_policy_form.global_policy }}
                      </div>
                      <button class="btn btn-success btn-sm" type="submit">Apply</button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    {% if has_global_policy %}
                      Open Ports
                    {% else %}
                      Firewall Ports Policy
                      <a href="https://wott.io/documentation/faq#what-is-firewall-policy"
                         target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    {% endif %}
                  </th>
                  <td>
                    {% if has_global_policy %}
                      <table id="firewall-ports-table" class="table table-borderless table-sm">
                        <thead class="thead-light">
                        <tr>
                          <th scope="col">IP</th>
                          <th scope="col">Address</th>
                          <th scope="col">Port</th>
                          <th scope="col">Proto</th>
                          <th scope="col">Info</th>
                        </tr>
                        </thead>
                        {% for port in portscan.scan_info %}
                          <tr>
                            <td>v{{ port.ip_version }}</td>
                            <td>{{ port.host }}</td>
                            <td>{{ port.port }}</td>
                            <td>{{ port.proto|upper }}</td>
                            <td>
                              {% with process_info=port|get_process_info_html:portscan %}
                                {% if process_info %}
                                  <span class="badge badge-info" data-container="body" data-toggle="popover"
                                        data-placement="top" data-trigger="hover"
                                        data-content="{{ process_info }}">Info</span>
                                {% endif %}
                              {% endwith %}
                            </td>
                          </tr>
                        {% endfor %}
                      </table>
                    {% else %}
                      <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                          {{ ports_form.policy }}
                        </div>
                        <div class="form-group">
                          {% if ports_choices %}
                            <div class="table-responsive" id="ports-table">
                              <table  id="firewall-ports-table" class="table table-borderless table-sm">
                                <thead class="thead-light">
                                <tr>
                                  <th scope="col" width="5%" nowrap>
                                  <input type="checkbox" value="0"  id="ports-check-all">
                                      <span
                                      id="ports-table-column-1">{% if firewall.policy == 1 %}
                                    Blocked{% elif firewall.policy == 2 %}Allowed{% endif %}</span></th>
                                  <th scope="col">IP</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Port</th>
                                  <th scope="col">Proto</th>
                                  <th scope="col">Info</th>
                                </tr>
                                </thead>
                                {% for checkbox in ports_form.open_ports %}
                                  <tr>
                                    <td>{{ checkbox.tag }}</td>
                                    <td>v{{ choices_extra_data|keyvalue:checkbox.data.value|list_index:3 }}</td>
                                    <td>{{ choices_extra_data|keyvalue:checkbox.data.value|list_index:0 }}</td>
                                    <td>{{ choices_extra_data|keyvalue:checkbox.data.value|list_index:1 }}</td>
                                    <td>{{ choices_extra_data|keyvalue:checkbox.data.value|list_index:2 }}</td>
                                    <td>
                                      {% with process_info=choices_extra_data|keyvalue:checkbox.data.value|list_index:4 %}
                                        {% if process_info %}
                                          <span class="badge badge-info" data-container="body" data-toggle="popover"
                                                data-placement="top" data-trigger="hover"
                                                data-content="{{ process_info }}">Info</span>
                                        {% endif %}
                                      {% endwith %}
                                    </td>
                                  </tr>
                                {% endfor %}
                              </table>
                            </div>
                          {% endif %}
                          {{ ports_form.is_ports_form }}
                          <button class="btn btn-success btn-sm" type="submit">Apply</button>
                        </div>
                      </form>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Open Connections
                    <a href="https://wott.io/documentation/faq#what-are-open-connections"
                       target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                  </th>
                  <td>
                    {% if has_global_policy %}
                      <table class="table table-borderless table-sm">
                        <thead class="thead-light">
                        <tr>
                          <th scope="col">IP</th>
                          <th scope="col">Rem addr</th>
                          <th scope="col">Rem port</th>
                          <th scope="col">Loc addr</th>
                          <th scope="col">Loc port</th>
                          <th scope="col">Type</th>
                          <th scope="col">Status</th>
                          <th scope="col">PID</th>
                        </tr>
                        </thead>
                        {% for connection in portscan.netstat %}
                          <tr>
                            <td>v{{ connection.ip_version }}</td>
                            <td>{{ connection.remote_address.0 }}</td>
                            <td>{{ connection.remote_address.1 }}</td>
                            <td>{{ connection.local_address.0 }}</td>
                            <td>{{ connection.local_address.1 }}</td>
                            <td>{{ connection.type|upper }}</td>
                            <td>{{ connection.status }}</td>
                            <td>{{ connection.pid|default:'' }}</td>
                          </tr>
                        {% endfor %}
                      </table>
                    {% else %}
                      {% if connections_choices %}
                        <form method="POST" action="">
                          {% csrf_token %}
                          <div class="form-group">
                            <div class="table-responsive">
                              <table class="table table-borderless table-sm" id="connections-table">
                                <thead class="thead-light">
                                <tr>
                                  <th scope="col" width="5%" nowrap>
                                      <input type="checkbox" value="0"  id="connections-check-all">
                                      Blocked</th>
                                  <th scope="col">IP</th>
                                  <th scope="col">Rem addr</th>
                                  <th scope="col">Rem port</th>
                                  <th scope="col">Loc addr</th>
                                  <th scope="col">Loc port</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">PID</th>
                                </tr>
                                </thead>
                                {% for checkbox in connections_form.open_connections %}
                                  <tr>
                                    <td>{{ checkbox.tag }}</td>
                                    <td>v{{ checkbox.choice_label|split_index:"/,4" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,0" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,1" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,2" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,3" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,5" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,6" }}</td>
                                    <td>{{ checkbox.choice_label|split_index:"/,7" }}</td>
                                  </tr>
                                {% endfor %}
                              </table>
                            </div>
                            {{ connections_form.is_connections_form }}
                            <button class="btn btn-success btn-sm" type="submit">Apply</button>
                          </div>
                        </form>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% if not has_global_policy %}
                  <tr>
                    <th>
                      <a href="{% url 'save_as_policy' object.pk %}" class="btn btn-info" role="button">Save
                        ports/connections rules as global policy</a>
                    </th>
                    <td></td>
                  </tr>
                {% endif %}
                <tr>
                  <th scope="row">
                    Download Node Certificate
                    <a href="https://wott.io/documentation/faq#what-is-a-device-certificate"
                       target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                  </th>
                  <td>
                    {% if object.certificate %}
                      <a href="{% url 'download_device_cert' object.device_id %}">{{ object.device_id }}.crt</a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Certificate
                    {% if object.certificate and object.certificate_expired %}Expired{% else %}Expires{% endif %}
                  </th>
                  <td>
                    {% if object.certificate %}
                      {% if object.certificate_expired %}
                        {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                        On {{ object.certificate_expires|date:"Y-m-d" }}
                      {% else %}
                        In {{ object.certificate_expires|timeuntil }}
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(() => {
      $('[data-toggle="popover"]').popover({
          html: true
      });

      $('#id_policy').on('change', function () {
          $('#ports-table :checkbox').each(function () {
              this.checked = !this.checked;
          });
          if (this.value === '1') {
              $('#ports-table-column-1').text('Blocked');
          } else if (this.value === '2') {
              $('#ports-table-column-1').text('Allowed');
          }
          updateCheckAll('#ports-check-all', '#ports-table');
      });

      function updateCheckAll(checkbox, table) {
          let value = $(checkbox).prop('checked');
          if(value && $(table + ' .list-unstyled:checkbox:unchecked').length > 0)
              value = false;
          else if(!value && $(table + ' .list-unstyled:checkbox:unchecked').length==0)
              value = true;
          $(checkbox).prop('checked', value);
      }

      function setupCheckAll(checkbox, table) {
          $(checkbox).change((e) => {
              $(table + ' :checkbox').each((i,el) => {
                  el.checked = e.target.checked;
              });
          });
          $(table + ' :checkbox').change(() => updateCheckAll(checkbox, table));

          updateCheckAll(checkbox, table);
      }
      setupCheckAll('#ports-check-all', '#ports-table');
      setupCheckAll('#connections-check-all', '#connections-table');

    });

  </script>
{% endblock %}
