{% extends "admin_base.html" %}
{% load split_string %}
{% load misc %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Node Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row node-profile-security">
    <div class="col-12">
      <div class="tab wott-box-shadow">
        {% include 'device_info_tabs.html' with active="security" %}
        <div class="wott-table-content">
          {% if portscan and firewall %}
            <div class="tab-pane active" id="security" role="tabpanel">
              <table class="wott-table px-0">
                <tbody>
                  <h4 class="wott-table-title wott-table-py">Security</h4>
                  <tr>
                    <th class="wott-table-label" scope="row">Vulnerable Packages</th>
                    <td class="d-flex flex-column justify-content-between w-60">
                      {% with object.cve_count as cve_count %}
                        {% if cve_count is None %}
                          <span class="wott-blue font-weight-bold">N/A</span>
                        {% else %}
                          <span class="High font-weight-bold pr-3">High: {{  cve_count.high }}</span>
                          <span class="Medium font-weight-bold pr-3">Medium: {{ cve_count.med }}</span>
                          <span class="Low font-weight-bold pr-4">Low: {{ cve_count.low }}</span>
                          <a class="pr-4" href="{% url 'device_cve' object.pk %}">Detailed View</a>
                        {% endif %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% with object.heartbleed_vulnerable as heartbleed_vulnerable %}
                    {% if heartbleed_vulnerable is not None %}
                    <tr>
                      <th class="wott-table-label" scope="row">
                        Patched against Heartbleed
                      </th>
                      <td>
                        {% if heartbleed_vulnerable is False %}
                            {% include "badge.html" with icon="check" color="success" %}
                            Yes
                        {% else %}
                            {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                            No
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                  {% endwith %}
                  {% if object.cpu.vendor == 'GenuineIntel' %}
                  <tr>
                    <th class="wott-table-label" scope="row">
                      Patched against Meltdown/Spectre
                    </th>
                    <td>
                      {% with object.cpu_vulnerable as cpu_vulnerable %}
                        {% if cpu_vulnerable is False %}
                            {% include "badge.html" with icon="check" color="success" %}
                            Yes
                          {% elif cpu_vulnerable is True %}
                              {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                              No
                          {% else %}
                            <span class="wott-blue">N/A</span>
                        {% endif %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% endif %}
                  <tr>
                    <th class="wott-table-label" scope="row">
                      Default Credentials
                      <a href="https://wott.io/documentation/faq#what-are-default-credentials"
                        target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    </th>
                    <td>
                      {% if object.default_password is None %}
                        <span class="wott-blue">N/A</span>
                      {% else %}
                        {% if object.default_password_users %}
                          {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                          Users with default credentials: {{ object.default_password_users|join:", " }}
                        {% elif object.deviceinfo.default_password is True %}
                          {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                          Default credentials detected!
                        {% else %}
                          {% include "badge.html" with icon="check" color="success" %}
                          No default credentials detected.
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
        
                  <tr class="pb-4">
                    <th class="wott-table-label">System File Audit</th>
                  {% if not object.audit_files %}
                    <td>
                      <span class="wott-blue">N/A</span>
                    </td>
                  {% endif %}
                  </tr>

                {% if object.audit_files %}
                  <tr class="border-top-0 pt-0">
                    <td class="inner-table mb-4">
                        <table class="wott-table wott-box-shadow">
                          <thead class="">
                            <tr class="row">
                              <th class="col-2">Path</th>
                              <th class="col-8">Checksum (SHA-256)</th>
                              <th class="col-2">Last Modified</th>
                            </tr>
                          </thead>
                          {% for file in object.audit_files %}
                            <tr>
                              <td class="col-2">{{ file.name }}</td>
                              <td class="col-8">{{ file.sha256 }}</td>
                              <td class="col-2">
                                {% if file.last_modified %}{{ file.last_modified|fromunix|timesince }} ago{% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </table>
                    </td>
                  </tr>
                {% endif %}


                  {% with object.sshd_issues as sshd_issues %}
                    {% if sshd_issues is None %}
                      <tr class="pb-4">
                        <th class="wott-table-label pb-0" scope="row">Configuration Audit</th>
                        <td class="wott-blue font-weight-bold pt-3">N/A</td>
                      </tr>
                    {% elif sshd_issues %}
                      <tr class="pb-4">
                        <th class="wott-table-label pb-0" scope="row">Configuration Audit</th>
                      </tr>
                      <tr class="border-top-0 pt-0">
                        <td class="inner-table mb-4">
                          <table class="wott-table wott-box-shadow">
                            <thead class="">
                            <tr class="row">
                              <th class="col-12">OpenSSH</th>
                            </tr>
                            </thead>
                            {% for param_name, param_info in sshd_issues.items %}
                              <tr>
                                <td class="col-12">
                                  {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                                  Consider changing "{{ param_name }}" from "{{ param_info.unsafe_value }}" to
                                  "{{ param_info.safe_value }}"
                                  {% if param_info.doc_url %}
                                    <a href="{{ param_info.doc_url }}" target="_blank">
                                      {% include "badge.html" with icon="question-circle" color="primary" %}
                                    </a>
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </table>
                        </td>
                      </tr>
                    {% else %}
                      <tr class="pb-4">
                        <th class="wott-table-label pb-0" scope="row">Configuration Audit</th>
                        <td class="pt-3">{% include "badge.html" with icon="check" color="success" %}</td>
                      </tr>
                    {% endif %}
                  {% endwith %}

                  <tr>
                    <th class="wott-table-label" scope="row">Insecure Services</th>
                    <td>
                      {% with object.insecure_services as services %}
                        {% if services %}
                          <ul style="list-style-type:none; padding: 0">
                            {% for service in services %}
                              <li>
                                {% include "badge.html" with icon="exclamation-circle" color="danger" %} {{ service.name }}
                              </li>
                            {% endfor %}
                          </ul>
                        {% elif services is None %}
                          <span class="wott-blue">N/A</span>
                        {% else %}
                          {% include "badge.html" with icon="check" color="success" %}
                          No insecure services detected.
                        {% endif %}
                      {% endwith %}
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">Automatic Security Update</th>
                    <td>
                      {% if object.auto_upgrades_enabled is True %}
                        {% include "badge.html" with icon="check" color="success" %}
                      {% elif object.auto_upgrades_enabled is False %}
                        {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                        Automatic security update disabled!
                      {% else %}
                        <span class="wott-blue">N/A</span>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">Logins</th>
                    <td class="wott-inner-table-message ">
                      {% if object.deviceinfo.logins %}
                        <pre class="mb-0">{{ object.deviceinfo.beautified_logins }}</pre>
                      {% else %}
                        No recent login attempts detected.
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">
                      SELinux
                      <a href="https://wott.io/documentation/faq#what-is-selinux"
                         target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    </th>
                    <td>
                      {% if object.deviceinfo.selinux_state.enabled and object.deviceinfo.selinux_state.mode == 'enforcing' %}
                        {% include "badge.html" with icon="check" color="success" %}
                      {% elif object.deviceinfo.selinux_state.enabled is not None %}
                        {% include "badge.html" with icon="exclamation-circle" color="warning" %}
                      {% endif %}
                      {% if object.deviceinfo.selinux_state.enabled %}
                        {{ object.deviceinfo.selinux_state.mode|default:'Enabled (unknown)' }}
                      {% elif object.deviceinfo.selinux_state.enabled is None %}
                        <span class="wott-blue">N/A</span>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">
                      AppArmor
                      <a href="https://wott.io/documentation/faq#what-is-apparmor"
                         target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    </th>
                    <td>
                      {% if object.deviceinfo.app_armor_enabled is True %}
                        {% include "badge.html" with icon="check" color="success" %}
                      {% elif object.deviceinfo.app_armor_enabled is False %}
                        {% include "badge.html" with icon="exclamation-circle" color="warning" %}
                      {% else %}
                        <span class="wott-blue">N/A</span>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">Firewall Rules</th>
                    <td>
                      <div id="firewall-rules">
                        <style>
                          button.collapser.collapsed:before {
                            content: 'show';
                          }
                          button.collapser:before {
                            content: 'hide';
                          }
                        </style>
                        <div>
                          <div id="firewall-rules-btn">
                            <button class="btn btn-link m-0 p-0 collapser collapsed" type="button"
                                    data-toggle="collapse"
                                    data-target="#firewall-rules-collapse" aria-expanded="false"
                                    aria-controls="firewall-rules-collapse"></button>
                          </div>
                          <div id="firewall-rules-collapse" class="collapse" aria-labelledby="firewall-rules-btn"
                               data-parent="#firewall-rules">
                            <div>
                              <pre>{{ object.firewallstate.beautified_rules }}</pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">
                      Global Policy
                      <a href="https://wott.io/documentation/faq#what-is-a-global-policy"
                         target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    </th>
                    <td class="w-60">
                      <form method="POST" action="">
                        {% csrf_token %}
                        <div class="wott-form-group d-flex pr-4">
                          {{ global_policy_form.global_policy }}
                          <button class="btn btn-wott-primary wott-btn-small" type="submit">Apply</button>
                        </div>
                      </form>
                    </td>
                  </tr>

                  <tr class="pb-4">
                      <th class="wott-table-label pb-0" scope="row">
                        Open Ports
                      </th>
                  </tr>

                  <tr class="border-top-0 pt-0">
                    <td class="inner-table mb-4">
                        <table id="firewall-ports-table" class="wott-table wott-box-shadow">
                          <thead class="">
                          <tr class="row">
                            <th class="col-1" scope="col">IP</th>
                            <th class="col-5" scope="col">Address</th>
                            <th class="col-3" scope="col">Port</th>
                            <th class="col-2" scope="col">Proto</th>
                            <th class="col-1" scope="col">Info</th>
                          </tr>
                          </thead>
                          {% for port in portscan.scan_info %}
                            <tr>
                              <td class="col-1">v{{ port.ip_version }}</td>
                              <td class="col-5">{{ port.host }}</td>
                              <td class="col-3">{{ port.port }}</td>
                              <td class="col-2">{{ port.proto|upper }}</td>
                              <td class="col-1">
                                {% with process_info=port|get_process_info_html:portscan %}
                                  {% if process_info %}
                                    <span class="badge badge-info" data-container="body" data-toggle="popover"
                                          data-placement="top" data-trigger="hover"
                                          data-content="{{ process_info }}">Info</span>
                                  {% endif %}
                                {% endwith %}
                              </td>
                            </tr>
                          {% endfor %}
                        </table>
                    </td>
                  </tr>

                  <tr class="pb-4">
                    <th class="wott-table-label pb-0" scope="row">
                      Open Connections
                      <a href="https://wott.io/documentation/faq#what-are-open-connections"
                         target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    </th>
                  </tr>

                  <tr class="border-top-0 pt-0">
                    <td class="inner-table mb-4">
                        <table class="wott-table wott-box-shadow" id="connections-table">
                          <thead class="">
                          <tr class="row">
                            <th width="5%" scope="col">IP</th>
                            <th width="28%" scope="col">Rem addr</th>
                            <th width="9%" scope="col">Rem port</th>
                            <th width="28%" scope="col">Loc addr</th>
                            <th width="8%" scope="col">Loc port</th>
                            <th width="6%" scope="col">Type</th>
                            <th width="11%" scope="col">Status</th>
                            <th width="4%" scope="col">PID</th>
                          </tr>
                          </thead>
                          {% for connection in portscan.netstat %}
                            <tr class="row">
                              <td width="5%">v{{ connection.ip_version }}</td>
                              <td width="28%">{{ connection.remote_address.0 }}</td>
                              <td width="9%">{{ connection.remote_address.1 }}</td>
                              <td width="28%">{{ connection.local_address.0 }}</td>
                              <td width="8%">{{ connection.local_address.1 }}</td>
                              <td width="6%">{{ connection.type|upper }}</td>
                              <td width="11%">{{ connection.status }}</td>
                              <td width="4%">{{ connection.pid|default:'' }}</td>
                            </tr>
                          {% endfor %}
                        </table>
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">
                      Download Node Certificate
                      <a href="https://wott.io/documentation/faq#what-is-a-device-certificate"
                         target="_blank">{% include "badge.html" with icon="question-circle" color="primary" %}</a>
                    </th>
                    <td>
                      {% if object.certificate %}
                        <a id="certificate-download-link"
                           href="{% url 'download_device_cert' object.device_id %}">{{ object.device_id }}.crt</a>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <th class="wott-table-label" scope="row">
                      Certificate
                      {% if object.certificate and object.certificate_expired %}Expired{% else %}Expires{% endif %}
                    </th>
                    <td>
                      {% if object.certificate %}
                        {% if object.certificate_expired %}
                          {% include "badge.html" with icon="exclamation-circle" color="danger" %}
                          On {{ object.certificate_expires|date:"Y-m-d" }}
                        {% else %}
                          In {{ object.certificate_expires|timeuntil }}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(() => {
      $('[data-toggle="popover"]').popover({
          html: true
      });

      $('#id_policy').on('change', function () {
          $('#ports-table :checkbox').each(function () {
              this.checked = !this.checked;
          });
          if (this.value === '1') {
              $('#ports-table-column-1').text('Blocked');
          } else if (this.value === '2') {
              $('#ports-table-column-1').text('Allowed');
          }
          updateCheckAll('#ports-check-all', '#ports-table');
      });

      function updateCheckAll(checkbox, table) {
          let value = $(checkbox).prop('checked');
          if(value && $(table + ' .list-unstyled:checkbox:unchecked').length > 0)
              value = false;
          else if(!value && $(table + ' .list-unstyled:checkbox:unchecked').length==0)
              value = true;
          $(checkbox).prop('checked', value);
      }

      function setupCheckAll(checkbox, table) {
          $(checkbox).change((e) => {
              $(table + ' :checkbox').each((i,el) => {
                  el.checked = e.target.checked;
              });
          });
          $(table + ' :checkbox').change(() => updateCheckAll(checkbox, table));

          updateCheckAll(checkbox, table);
      }
      setupCheckAll('#ports-check-all', '#ports-table');
      setupCheckAll('#connections-check-all', '#connections-table');

    });

  </script>
{% endblock %}
