{% extends "admin_base.html" %}

{% block css %}
    {{ form_media.css }}
    <style type="text/css">
    .wott-form-alert {
      color: black;
      display: none;
    }
    input[failed]{
      border-color: red;
    }
    </style>
{% endblock %}

{% block js %}
    {{ form_media.js }}
{% endblock %}

{% load split_string %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Device Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
    <div class="modal" tabindex="-1" role="dialog" id="wott-confirm-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm mode change</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="confirm_msg">You do not save your changes. Switching mode will cause them to be lost. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail' object.pk %}" role="tab" aria-selected="false">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-software' object.pk %}" role="tab" aria-selected="false">Software</a>
          </li>
        {% if portscan and firewall %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-security' object.pk %}" role="tab" aria-selected="false">Security</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-network' object.pk %}" role="tab" aria-selected="false">Network</a>
          </li>
        {% if portscan %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'device-detail-hardware' object.pk %}" role="tab" aria-selected="false">Hardware</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'device-detail-metadata' object.pk %}" role="tab" aria-selected="true">Metadata</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="device-metadata" role="tabpanel">
            <h4 class="tab-title">Metadata</h4>
            <form method="POST" action="" id="dev-md-form">
              <table class="table table-striped table-responsive-xs">
                <tbody>
                <tr>
                  <th scope="row" width="20%">Device Name</th>
                  <td width="80%">{{ object.name|default_if_none:object.deviceinfo.fqdn|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <th scope="row" width="20%">Device ID</th>
                  <td width="80%">{{  object.device_id|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <th scope="row" width="20%">Manufacturer</th>
                  <td width="80%">{{  object.deviceinfo.device_manufacturer|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <th scope="row" width="20%">Model</th>
                  <td width="80%">{{  object.deviceinfo.get_model|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <th scope="row" width="20%">
                    User values<br>
                    <select size="1" id="editor-mode-select">
                      <option value="kv_editor">Key-Value List Mode</option>
                      <option value="js_editor">JSON Editor Mode</option>
                    </select>
                  </th>
                  <td width="80%">
                    <div class="form-group" id="kv_editor">
                      {% csrf_token %}
                      <table id="dev-md-table" class="table table-striped table-responsive-xs" style="width:100%" >
                      </table>
                      <button class="btn btn-primary" id="add-row" type="button">+</button>
                    </div>
                    <div class="form-group" id="js_editor" style="display: none">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      {{ form.device_metadata.errors }}
                      {{ form.device_metadata }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row" width="20%"> </th>
                  <td>
                    <div class="alert alert-warning wott-form-alert p-1" role="alert" id="edit_alert">
                      Server error
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    var table;
    var edited = false;
    var previous_mode;
    document.addEventListener("DOMContentLoaded", function () {
        // data-table sorting. to place empty at the end
      jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "str-add-pre": function ( a ) {
            if ( a == "" || a == undefined ) return "zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz";
            return a;
        },

        "str-add-asc": function ( a, b ) {
          return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "str-add-desc": function ( a, b ) {
          return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
      } );

        // data-table
      table = $('#dev-md-table').DataTable({
        searching: false,
        sorting:false,
        paging: false,
        info: false,
        data: {{ dev_md|safe }},
        language: {
          emptyTable: "No user values defined."
        },
        columns: [
            { title: 'key', width:'45%', render: kv_render},
            { title: 'value', width:'45%', render: kv_render},
            { title: '', width:'10%', data: null, render: kv_render_remove_btn, sorting: false }
        ],
        columnDefs: [
            { type: "str-add", targets: 0 },
            { type: "str-add", targets: 1 }
        ]
      });

      $('#add-row').on( 'click', function (){
        table.row.add(["",""]).draw(false);
      });


        /***
         *  toggle key-vale or json editor.
          * @param e.data = { from: editor-div-id, to: editor-div-id }
         */
      function switch_editor_mode(e)
      {
          $("#"+e.data.from).hide();
          $("#"+e.data.to).show();
          previous_mode = e.data.to;
          $("#editor-mode-select").val(e.data.to);
          if( $("#wott-confirm-modal").is(":visible") )
              $('#wott-confirm-modal').modal('toggle');
      }

      $("#editor-mode-select").on('focus', function () {
          // Store the current value on focus and on change
          previous_mode = this.value;
      }).change(function() {

          if( previous_mode == "kv_editor" && edited )
          {
              $('#wott-confirm-modal').on("click", {from:previous_mode, to:this.value}, switch_editor_mode );
              $('#wott-confirm-modal').modal('toggle');

              this.value = previous_mode;
              return;
          }

          switch_editor_mode( {data:{from:previous_mode, to:this.value}} );
      });

      function wott_alert_strings(messages){
          alertbox = $('.wott-form-alert')[0];
          alertbox.style.display = 'block';
          alertbox.innerText = messages.join("\n");
          return;
      }

        /**
         * copy data from key-value editor to json-widget textarea. (used before  save)
         * @returns if some value are not valid for json then show warinng and returns false
         */
      function kv_to_json_widget(){
          let json_errors = [];
          let result = {};
          table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
              var data = table.row( rowIdx ).data();
              var s = String(data[1]).trim();

              var left = (s === '') ?  s : s.substr(0,1);
              var right = (s === '') ? s : s.slice(-1);

              if ( s === "true" || s === "fasle" || s === "null" || (left === right && left === '"' )
                 || ( left === "{"  && right === "}" ) || ( left === "[" && right === "]" ) || isFinite(s))
              {
                  try
                  {
                      result[data[0]] = JSON.parse(s);
                  }
                  catch(e)
                  {
                      let id = '#md_' + rowIdx + '_value';
                      $(id).removeClass("failed").addClass("failed");
                      json_errors.push( "'" + data[1] + "' value error: " + e.message);
                  }
              }
              else
                result[ data[0] ] = data[1];
          });
          $('#id_device_metadata').html( JSON.stringify(result) );
          if (json_errors.length != 0) wott_alert_strings(json_errors);
          return json_errors.length == 0;
      }

      /* save values */
      $('#dev-md-form').submit(function() {
          if( $("#kv_editor").is(":visible") )
          {
              if( !kv_to_json_widget() ) {
                  return false;
              }
          }
          return true;
      });
    });

    /* key-value table functions.  */
    function kv_render(data, type, row, meta){
      if( type == 'sort' ) return data;
      let data_h = htmlEntities(data);
      let columns=['key','value']
      return '<input type="text" value="' + data_h +'" style="width:100%" id="md_' + meta.row + '_' + columns[meta.col] +
             '" oninput="kv_update(this)">';
    }

    function kv_update(e){
        cell = table.cell(e.parentElement)[0][0];
        table.data()[cell.row][cell.column] = e.value;
        $(e).removeClass("failed");
        edited = true;
    }

    function kv_render_remove_btn(data, type, row, meta){
      if( type == 'sort' ) return data;
      return '<button type="button" class="btn btn-danger" onclick="kv_remove(this)">x</i>';
    }

    function kv_remove(e){
        table.rows(e.parentElement.parentElement).remove().draw(false);
    }

    function htmlEntities(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }

  </script>
{% endblock admin_content %}

