{% extends "admin_base.html" %}
{% load split_string %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Device Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row">
    <div class="col-12">
      <div class="tab">
        {% include 'device_info_tabs.html' with active="software" %}
        <div class="tab-content">
          <div class="tab-pane active" id="software" role="tabpanel">
            <h4 class="tab-title">Software</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Operating System</th>
                <td>{{ object.deviceinfo.device_operating_system|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">Operating System Version</th>
                <td>{{ object.deviceinfo.device_operating_system_version|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">Agent Version</th>
                <td>{{ object.agent_version|default:'N/A' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

