{% if MIXPANEL_TOKEN %}
<script type="text/javascript">
  $(() => {
    mixpanel.register({device_id: "{{ object.pk }}"});
    $('#recommended-actions').click(() => mixpanel.track("Recommended Actions"))
  });
</script>
{% endif %}

<div class="top-color-section d-flex">
  <div class="left-box">
    <span class="node-title mb-2 pr-3">{{ object.get_name }}
    </span>
    <div class="d-flex align-items-center">
      {%  with actions_count=object.actions_count %}
        {% if actions_count %}
        <a id="recommended-actions"
        href="{% url 'device_actions' object.pk %}"
        class="wott-recommended-actions"
        role="button">
        <span class="badge wott-badge-pill wott-badge-pill-light">{{ actions_count }}</span>
            <span class="wott-actions-badge-text">Recommended Actions</span> 
          </a>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="right-box d-flex">
    <div class="left-card d-flex flex-column align-items m-auto w-50">
      <div class="d-flex flex-column pl-4 align-items-center">
     
        <span class="recommended-action-info">
          <div class="d-flex justify-content-start w-100">
            <h1 class="recommended-action-number">
              {% with object.actions_count_delta as actions_count_delta %}
              <i class="fas fa-sort-{{ actions_count_delta.arrow }} position-absolute node-profile-arrow"></i>
              {{ actions_count_delta.count }}
              {% endwith %}
            </h1>
          </div>
          recomended<br>
          actions<br>
          this week
        </span>
      </div>
    </div>
    
    <div class="right-card w-50">

      <svg width="100%" height="100%" viewbox="0 1 39 39" class="donut">
        <circle class="donut-hole gradient" cx="21" cy="21" r="15.91549430918954" fill="transparent"></circle>
        <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#417EE7" stroke-width="2"></circle>
        {% if object.trust_score is not None %}
        <circle id="trust-score-circle-segment" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
                fill="transparent" stroke="#33D3EC" stroke-width="2" stroke-linecap="round"
                stroke-dashoffset="75"
                stroke-dasharray="{{ object.trust_score_percent }} {{ object.trust_score_minus100 }}">
        </circle>
        <g class="wott-chart-block-info">
          {% if object.trust_score_percent < 10 %}
            <text id="trust-score-percentage" x="44%" y="46%" class="wott-chart-big-info">
              {{ object.trust_score_percent }}
            </text>
          {% else %}
            <text id="trust-score-percentage" x="38%" y="46%" class="wott-chart-big-info">
              {{ object.trust_score_percent }}
            </text>
          {% endif %}
        {% else %}
        <circle id="trust-score-circle-segment" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
                fill="transparent" stroke="#33D3EC" stroke-width="2" stroke-linecap="round"
                stroke-dashoffset="75"
                stroke-dasharray="3 97">
        </circle> 
        <g class="wott-chart-block-info"> 
          <text id="trust-score-percentage" x="44%" y="46%" class="wott-chart-big-info">
            0
          </text>
        {% endif %}
          <text class="wott-chart-small-info" x="40%" y="59%">
            OF 100
          </text>
          <text x="40%" y="71%" class="wott-chart-small-info wott-chart-light-text">
            NEEDS
          </text>
          <text x="40%" y="79%" class="wott-chart-small-info wott-chart-light-text">
            WORK
          </text>
        </g> 
      </svg>
      
    </div>
  </div>
  
</div>
<script>

let node_title = $('.node-title').text();

function class_by_text_length(text) {
  if(text.length > 35) {
    return 'node-title-sm';
  } if(text.length > 25) {
      return 'node-title-md'
  } else return 'node-title-lg'
}

$(() => {
  $('.node-title').addClass(class_by_text_length(node_title))
})

</script>