{% extends "admin_base.html" %}

{% load split_string %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Node Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  {% include 'device_info_top_block.html' %}
  <div class="row node-profile-hardware">
    <div class="col-12">
      <div class="tab wott-box-shadow">
        {% include 'device_info_tabs.html' with active="hardware" %}
        <div class="wott-table-content">
          <div class="tab-pane active" id="hardware" role="tabpanel">
            <table class="wott-table px-0">
              <tbody>
              <h4 class="wott-table-title wott-table-py">Hardware</h4>
                <tr>
                  <td class="wott-table-label" scope="row">Manufacturer</td>
                  <td>{{ object.deviceinfo.device_manufacturer|default:'N/A' }}</td>
                </tr>
                <tr>
                  <td class="wott-table-label" scope="row">Model</td>
                  <td>{{ object.deviceinfo.get_model|default_if_none:'N/A' }}</td>
                </tr>
                <tr>
                  <td class="wott-table-label" scope="row">Architecture</td>
                  <td>{{ object.deviceinfo.device_architecture|default:'N/A'|upper }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .node-profile-hardware .wott-table tr {
      font-size: 1rem!important;
      display: -webkit-box!important;
      display: flex!important;
      -webkit-box-align: center!important;
      align-items: center!important;
      border-top: 1px solid hsla(0,0%,84.7%,.5)!important;
   }

   .node-profile-hardware .wott-table-label  {
     width: 40% !important;
   } 
  </style>
{% endblock admin_content %}

