{% extends "admin_base.html" %}

{% block title %}WoTT - Device Info{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Device Profile</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  <div class="row">
    <div class="col">
      <h2 style="
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 5px">{{ device.device_id }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link active" href="#overview" data-toggle="tab" role="tab"
                                  aria-selected="true">Overview</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#software" data-toggle="tab" role="tab" aria-selected="false">Software</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#security" data-toggle="tab" role="tab" aria-selected="false">Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#network" data-toggle="tab" role="tab" aria-selected="false">Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hardware" data-toggle="tab" role="tab" aria-selected="false">Hardware</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="overview" role="tabpanel">
            <h4 class="tab-title">Overview</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Device ID</th>
                <td>{{ device.device_id }}</td>
              </tr>
              <tr>
                <th scope="row">Trust Store</th>
                <td>0.6</td>
              </tr>
              <tr>
                <th scope="row">Hardware Type</th>
                <td>{{ device_info.get_hardware_type|default_if_none:'Unknown'}}</td>
              </tr>
              <tr>
                <th scope="row">Last Ping</th>
                <td>{{ device.last_ping | timesince }} ago</td>
              </tr>
              <tr>
                <th scope="row">Comment</th>
                <td>
                  <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-control" rows="4" placeholder="Comment"
                                name="comment">{{ device.comment |default_if_none:'' }}</textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                  </form>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="software" role="tabpanel">
            <h4 class="tab-title">Software</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Operating System</th>
                <td>{{ device_info.device_operating_system|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">Operating System Version</th>
                <td>{{ device_info.device_operating_system_version|default_if_none:'N/A' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="security" role="tabpanel">
            <h4 class="tab-title">Security</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Firewall Enabled</th>
                <td>{{ firewall_state.enabled }}</td>
              </tr>
              <tr>
                <th scope="row">Firmware Rules</th>
                <!-- Change after YC demo --!>
                <td>Allow connections on 22/tcp</td>
              </tr>
              <tr>
                <th scope="row">Open Ports</th>
                <!-- <td>{% for scan in device.get_latest_portscan %}{{ scan.port}}/{{ scan.proto }}{% empty %}N/A{% endfor %}</td> --!>
                <td>
                <ul>
                <li>SSH (22/tcp)</li>
                <li>HTTP (80/tcp)</li>
                <li>HTTPS (443/tcp)</li>
                </ul>
                </td>
              </tr>
              {% if  not is_expired %}
                <tr>
                  <th scope="row">Download Certificate</th>
                  <td>
                    <a href="{{ device.get_cert_url }}">{{ device.device_id }}.crt</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Certificate Expires</th>
                  <td>In {{ device.get_cert_expiration_date|timeuntil }}</td>
                </tr>
              [% else %}
                <tr>
                  <th scope="row">Download Certificate</th>
                  <td>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Certificate Expired</th>
                  <td>On {{ device.get_cert_expiration_date|date:"Y-m-d" }}</td>
                </tr>
              [% endif %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="network" role="tabpanel">
            <h4 class="tab-title">Network</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Hostname</th>
                <td>{{ device.device_id|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">FQDN</th>
                <td>{{ device_info.fqdn|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">IP</th>
                <td>{{ device_info.ipv4_address|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">Last Ping</th>
                <td>{{ device.last_ping|timesince }} ago</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="hardware" role="tabpanel">
            <h4 class="tab-title">Hardware</h4>
            <table class="table table-striped table-responsive-xs">
              <tbody>
              <tr>
                <th scope="row">Manufacturer</th>
                <td>{{ device_info.device_manufacturer|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">Model</th>
                <td>{{ device_info.get_model|default_if_none:'N/A' }}</td>
              </tr>
              <tr>
                <th scope="row">Architecture</th>
                <td>{{ device_info.device_architecture|default_if_none:'N/A' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

