{% extends "admin_base.html" %}

{% load bootstrap4 %}

{% block title %}WoTT - Edit Policy{% endblock title %}

{% block dashboard_title %}
  <h1>Edit Policy</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  <div class="row">
    <div class="col-12">
      <div class="wott-card  wott-box-shadow">
        <div class="">
          <h5 class="wott-card-title">{{ object }}</h5>
        </div>
        <div class="wott-card-body px-5 pb-5">

          <form method="POST" action="" id="edit-policy-form">
            {% csrf_token %}
            {% include "form_field.html" with field=form.name %}
            {% include "form_field.html" with field=form.policy %}
            {% include "form_field.html" with field=form.ports form_group_class="mb-4" %}
            <hr>
              <div class="box-btns d-flex justify-content-between mt-4">
              <button class="btn wott-btn-medium btn-wott-primary" id="save-button" type="button">Save changes</button>
              <div class="d-flex">
                <a href="{% url 'global_policies' %}" class="btn wott-btn-medium btn-wott-tertiary mr-2" role="button">Cancel</a>
                <button class="btn wott-btn-medium wott-btn-danger" id="delete-button" type="button">Delete</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock admin_content %}

{% block scripts %}
  {{ block.super }}
  {% include "policy_editor.html" %}
  <script type="text/javascript">
      $(() => {
          let data = JSON.parse($('#id_ports').text()),
              ports_table = init_policy_ports_editor(data);

          $('#edit-policy-form').submit(function (e) {
              $('#id_ports').html( parse_policy_ports_editor(ports_table));
              return true;
          });

      });

      function deletePolicy(url) {
          $.post({
              url,
              success: () => location.href = '{% url 'global_policies' %}'
          })
      }

      $('#delete-button').on('click', function () {
          $.ajax({
              dataType: "json",
              url: '{% url "ajax_policy_device_nr" object.pk %}',
              success: function (data) {
                  if (data.devices_nr > 0)
                      $.confirm({
                          title: 'Confirmation required',
                          content: 'This policy applied to <b>' + data.devices_nr + '</b> devices.<br>Are you sure you want to delete it?',
                          icon: 'fa fa-question-circle',
                          buttons: {
                              delete: {
                                  btnClass: 'btn-danger',
                                  action: function () {
                                      deletePolicy('{% url "delete_global_policy" object.pk %}');
                                  }
                              },
                              cancel: {
                                  btnClass: 'btn-secondary'
                              }
                          }
                      });
                  else
                      deletePolicy('{% url "delete_global_policy" object.pk %}');
              }
          });
      });

      $('#save-button').on('click', function () {
          $.ajax({
              dataType: "json",
              url: '{% url "ajax_policy_device_nr" object.pk %}',
              success: function (data) {
                  if (data.devices_nr > 0)
                      $.confirm({
                          title: 'Confirmation required',
                          content: 'This policy applied to <b>' + data.devices_nr + '</b> devices.<br>Are you sure you want to modify it?',
                          icon: 'fa fa-question-circle',
                          buttons: {
                              modify: {
                                  btnClass: 'btn-danger',
                                  action: function () {
                                      $('#edit-policy-form').submit();
                                  }
                              },
                              cancel: {
                                  btnClass: 'btn-secondary'
                              }
                          }
                      });
                  else {
                      $('#edit-policy-form').submit();
                  }
              }
          });
      });
  </script>
{% endblock %}
