{% extends "admin_base.html" %}

{% block css %}
    {{ form_media.css }}
    <style>
    .btn {
      color: white;
    }
    .wott-form-alert {
      color: black;
      display: none;
    }
    td.wott-cred-btns .btn {
      visibility: hidden;
    }
    #datatables-basic tr:hover td.wott-cred-btns .btn {
      visibility: visible;
    }
    input[modified]{
      border-color: gold;
    }
    </style>
{% endblock %}
{% block js %}
    {{ form_media.js }}
{% endblock %}

{% block title %}WoTT - Credentials{% endblock title %}

{% block dashboard_title %}
  <h1>Pairing Keys</h1>
{% endblock dashboard_title %}

{% block admin_content %}
  <form>
  <div class="modal" tabindex="-1" role="dialog" id="wott-confirm-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm-title">Confirm delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="confirm-msg">Are you sure want to delete this key?</p>
        </div>
        <div class="alert alert-warning wott-form-alert p-1" role="alert" id="confirm-alert">
          Server error
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirm-btn">Yes</button>
          <button type="button" class="btn btn-warning" id="confirm-all-btn" style="display: none">All</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </form>

  <form method="POST" action="" id="pairing-keys-form">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Pairing Keys</h5>
              <h6 class="card-subtitle text-muted">List of keys not yet applied.</h6>
            </div>
            <div class="card-body">
              <table id="datatables-basic" class="table table-striped table-responsive-xs" style="width:100%">
                <thead>
                <tr>
                  <th width="20%">Created</th>
                  <th width="25%">Key</th>
                  <th width="25%">Comment</th>
                  <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="alert alert-warning wott-form-alert p-1" role="alert" id="main-alert">
              Server error
            </div>
          </div>
        </div>
    </div>
{#  <div class="row">#}
    {% csrf_token %}
    <button type="button" class="btn btn-success" id="create-new-btn" onclick="create_new_key()">＋ Create Pairing Key</button>
{#  </div>#}
  </form>
{% endblock admin_content %}

{% block scripts %}
  <script>

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({
          trigger: "hover"
      });
    });

    const cols = {
        created: 0,
        key: 1,
        comment: 2,
        buttons: 3
    }

    var table;
    document.addEventListener("DOMContentLoaded", function () {
      // Datatables basic
      table = $('#datatables-basic').DataTable({
        responsive: true,
        ajax: {
          url:  "/ajax-pairing-keys/",
          dataSrc: "",
        },
        columns: [
            { data: 'created', sorting: true },
            { data: 'key', sorting: false },
            { data: 'comment', render: render_comment, sorting: true },
        ],
        columnDefs: [ {
          targets: cols.buttons,
          orderable: false,
          data: null,
          className: 'wott-cred-btns',
          render: render_buttons,
        }],
        language: {
          emptyTable: "No key created."
        },
        rowId: 'key',
      });

      table.on( 'draw.dt', function () {
        $('input').on('input', function (e) {
           let el = e.currentTarget;
           if ( el.value == el.defaultValue ){
               el.removeAttribute('modified');
           } else {
               el.setAttribute('modified', true);
           }
        });
      });
    });

    function render_comment( data, type, row, meta )
    {
        if( type == 'sort' ) return data;
        let h_data = htmlEntities(data);
        return `<input type="text" value="${h_data}" style="width:100%" ></input>`;
    }

    function fa_button( type, btn, fa, onclick, popover=undefined)
    {
        let pop = ( popover === undefined ) ? "" : ' data-toggle="popover" data-placement="top" title="' +
            popover.title + (popover.content === undefined ? '"' : `" data-content="${popover.content}"`);

        return `<button type="${type}" class="btn ${btn}" aria-label="Left Align"><span class="${fa}" `
             + `aria-hidden="true" onclick="${onclick}" ${pop} ></span></button>`;
    }

    function render_buttons(data, type, row, meta)
    {
        let save_url = `location.href='/pairing-keys/download?pk=${row.key}';`;

        return  fa_button( "button", "btn-info", "fas fa-check fa-lg", "update_comment(this)",
                { title:"Update key comment", content: "Save enrollment key comment."} )
            + fa_button( "button", "btn-primary", "fas fa-copy fa-lg", "copy_key(this, '" + row.key + "')",
                {
                    title: "Copy key to clipboard",
                    content: "Copy the enrollment string to the clipboard. The string is in the form 'key = value' " +
                             "to simply paste to config.ini file."
                })
            + fa_button( "button", "btn-success", "fas fa-save fa-lg", save_url,
                { title:"Store key to disk", content: "Store generated enrollment key as ready to go config.ini file." } )
            + fa_button( "button", "btn-danger", "fas fa-trash fa-lg", "revoke_key(this)",
                { title:"Revoke the enrollment key"} )
    }

    function revoke_key(a){
      wott_alert_hide("main-alert");
      $('#confirm-btn').on("click", {key: a.parentElement.parentElement.parentElement.id}, delete_key );
      show_dialog("Confirm Revoke Key",
          "Are you sure you want to revoke?",
          "Revoke"
      );
    }


    function show_popover(el, title, content='')
    {
        let title_store = el.attr('title');
        let content_store = el.attr('data-content');
        el.attr('title', title);
        el.attr('data-content', content);
        el.attr('title', title);
        el.popover('show');
        el.attr('title', title_store);
        el.attr('data-content', content_store);
        el.on( "mouseout", function (ev) {
            let el = $(ev.currentTarget);
            el.off("mouseout");
            el.popover('hide');
        });
    }

    function copy_key(btn, key){
        let key_text = "enroll_token = " + key;
        navigator.clipboard.writeText(key_text).then(function() {
            show_popover($(btn), 'Copied', key_text);
        }, function() {
            let successful = copyToClipboard(key_text);
            let title = successful ? 'Copied' : 'Could not copy to clipboard. Check the browser permissions.';
            let msg = successful ? key_text : '';
            show_popover($(btn), title, msg);
        });
    }

    /***
     *  on confirm delete
     *  @param e - e.data.key <- key to delete
     */
    function delete_key(e)
    {
        hide_dialog();
        $.ajax({
            url: `/ajax-pairing-keys/${e.data.key}/delete/`,
            type: "DELETE",
        }).done(function () {
            console.log('success');
            table.ajax.reload();
        }).fail(function (a) {
            console.log('error');
            console.log(a.status, a.responseText);
            alertbox_on_ajax_fail(a, "confirm-alert");
        });
    }

    var ajax_update_count = 0;
    function update_comment(e)
    {
        ajax_update_count = 0;
        wott_alert_hide("main-alert");
        let row = e.parentElement.parentElement.parentElement;
        let input_el = row.children[cols.comment].children[0];
        let comment = input_el.value;
        let others = $('input[modified="true"]').not(input_el);
        let has_other = ( others != undefined && others.length > 0);
        if(has_other)
        {
            $('#confirm-btn').on("click", {row:row, others:null}, update_many_comments );
            $('#confirm-all-btn').on("click", {row:row, others:others}, update_many_comments );
            show_dialog("Confirm bulk/single update",
                "You have more than one modified key comments. You can save only current key comment." +
                " All keys comments or cancel.",
                "Current", true
            );
        }
        else
        {
          ajax_update_comment(row.id, comment);
        }
    }

    function update_many_comments(e)
    {
        hide_dialog();
        let row = e.data.row;
        let others = e.data.others;
        let reload_count = (others == null) ? 0 : others.length;
        ajax_update_comment(row.id, row.children[cols.comment].children[0].value, reload_count);
        if(others != null)
        {
          for( let i =0; i < others.length; i++ )
          {
              let current_row = others[i].parentElement.parentElement;
              ajax_update_comment(current_row.id, current_row.children[cols.comment].children[0].value, reload_count);
          }
        }
    }

    function ajax_update_comment(id, comment, reload_on=0)
    {
        $.ajax({
            url: `/ajax-pairing-keys/${id}/update/`,
            type: "PATCH",
            data: JSON.stringify({ comment: comment }),
            contentType: 'application/json',
        }).done(function () {
            console.log('success');
            ajax_update_count++;
            if(ajax_update_count > reload_on)
                table.ajax.reload();
        }).fail(function (a) {
            console.log('error');
            console.log(a.status, a.responseText);
            alertbox_on_ajax_fail(a, "main-alert");
        });
    }

    function create_new_key(){
        wott_alert_hide("main-alert");
        $.ajax({
            url: '/ajax-pairing-keys/create/',
            type: "POST",
            data: JSON.stringify({}),
            contentType: 'application/json',
        }).done(function () {
            console.log('success');
            table.ajax.reload();
        }).fail(function (a) {
            console.log('error');
            console.log(a.status, a.responseText);
            alertbox_on_ajax_fail(a, "main-alert");
        });
    }

    /***
     *  setup dialog parameters and toggle on
     *  @param title - dialog title
     *  @param message - dialog message
     *  @param btn_text - dialog confirm button text
     */
    function show_dialog(title, message, btn_text, third_key=false )
    {
        $('#confirm-title')[0].innerText = title;
        $('#confirm-msg')[0].innerText = message;
        $('#confirm-btn')[0].innerText = btn_text;
        $('#confirm-alert')[0].style.display = 'none';
        $('#confirm-all-btn')[0].style.display = (third_key) ? 'block' : 'none';
        $('#wott-confirm-modal').modal('toggle');
    }

    function hide_dialog()
    {
        $('#wott-confirm-modal').modal('hide');
    }

    function wott_alert_hide(alert_box_id)
    {
        let alertbox = $("#"+alert_box_id)[0];
        alertbox.style.display = 'none';
    }
    /**
     * show alert msg
     * @param messages  - array of error messages
     * @param alert_box_id - html element id of message placeholder
     */
    function wott_alert_strings(messages, alert_box_id){
        let alertbox = $("#"+alert_box_id)[0];
        alertbox.style.display = 'block';
        alertbox.innerText = messages.join("\n");
        return;
    }

    function alertbox_on_ajax_fail(a, alert_box_id){
        console.log('error');
        console.log(a.status, a.responseText);

        errMsgs = []
        if(a.status == 400 || a.status == 404 || a.status == 405) {
            for (key in a.responseJSON) {
                errMsgs.push( key + " : " + a.responseJSON[key] );
            }
        }
        else errMsgs.push(a.responseText);
        wott_alert_strings(errMsgs, alert_box_id);
    }

    const copyToClipboard = str => {
        const el = document.createElement('textarea');  // Create a <textarea> element
        el.value = str;                                 // Set its value to the string that you want copied
        el.setAttribute('readonly', '');                // Make it readonly to be tamper-proof
        el.style.position = 'absolute';
        el.style.left = '-9999px';                      // Move outside the screen to make it invisible
        document.body.appendChild(el);                  // Append the <textarea> element to the HTML document
        const selected =
          document.getSelection().rangeCount > 0        // Check if there is any content selected previously
            ? document.getSelection().getRangeAt(0)     // Store selection if found
            : false;                                    // Mark as false to know no selection existed before
        el.select();                                    // Select the <textarea> content
        let res = document.execCommand('copy');                   // Copy - only works as a result of a user action (e.g. click events)
        document.body.removeChild(el);                  // Remove the <textarea> element
        if (selected) {                                 // If a selection existed before copying
            document.getSelection().removeAllRanges();  // Unselect everything on the HTML document
            document.getSelection().addRange(selected); // Restore the original selection
        }
        return res;
    };

    function htmlEntities(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }

  </script>
{% endblock scripts %}