{% block css %}
  <style>
    td.wott-kv-btns .btn {
      visibility: hidden;
    }
    table tr:hover td.wott-kv-btns .btn {
      visibility: visible;
    }
    .failed{
      border-color: red;
    }

  </style>
{% endblock css %}

{% load static %}

{# TODO @dvidotti: please style this dialog #}
<div class="wott-rounded-lg wott-modal-container" tabindex="-1" role="dialog" id="wott-policy-modal">
  <div class="" role="document">
    <form class="modal-content" id="wott-policy-form" method="post">
      {% csrf_token %}
      <div class="wott-modal-header wott-modal-header-box">
        <h2 class="wott-modal-title" id="modal-title-h2">Add New Port Rule</h2>
        <button type="button" class="wott-img-btn" data-dismiss="modal" aria-label="Close">
          <img src="{% static '/media/close.svg' %}" alt="Close">
        </button>
      </div>
      <div class="wott-modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="wott-label" for="address">Source Address</label>
              <input type="text" class="form-control wott-form-control wott-rounded-lg" id="address" placeholder="Address" name="address">
            </div>
            <div class="form-group col-md-2">
              <label class="wott-label" for="protocol">Protocol</label>
              <select class="custom-select wott-form-control wott-rounded-lg" id="protocol" name="protocol">
                <option value="tcp" selected>TCP</option>
                <option value="udp">UDP</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label class="wott-label" for="port">Port</label>
              <input type="text" class="form-control wott-form-control wott-rounded-lg" id="port" placeholder="Port" name="port">
            </div>
            <div class="form-group col-md-2">
              <label class="wott-label" for="ip_version">IP version</label>
              <select class="custom-select wott-form-control wott-rounded-lg" id="ip_version" name="ip_version">
                <option value="true">IPv6</option>
                <option value="false">IPv4</option>
              </select>
            </div>
            <input type="hidden" name="method" id="method">
            <input type="hidden" name="row" id="row">
          </div>
          <div class="wott-modal-alert-box" role="alert" id="edit-alert">
            <span class="wott-modal-alert">Server error</span>
          </div>
      </div>
      <hr class="wott-line-split">
      <div class="wott-modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-wott-tertiary  wott-btn-medium mr-2" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-wott-primary wott-btn-medium" id="edit-ok-btn">OK</button>
      </div>
    </form>
  </div>
</div>

{# TODO @dvidotti: please style this dialog #}
<div class="wott-rounded-lg wott-modal-container" tabindex="-1" role="dialog" id="wott-confirm-modal">
  <div class="" role="document">
    <div class="modal-content">
      <div class="wott-modal-header wott-modal-header-box">
        <h2 class="wott-modal-title" id="confirm-title">Confirm delete</h2>
        <button type="button" class="wott-img-btn" data-dismiss="modal" aria-label="Close">
          <img src="{% static '/media/close.svg' %}" alt="Close">
        </button>
      </div>
      <div class="wott-modal-body mt-5 pt-0 mb-0">
        <div class="wott-modal-alert-box">
          <span class="wott-modal-alert" id="confirm-msg">Are you sure want to delete this rule?</span>
        </div>
      </div>
      <div class="wott-modal-alert-box" role="alert" id="confirm-alert">
        <span class="wott-modal-alert">Server error</span>
      </div>
      <hr class="wott-line-split">
      <div class="wott-modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-wott-tertiary  wott-btn-medium mr-2" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn wott-btn-danger wott-btn-medium" id="confirm-btn">Yes</button>
      </div>
    </div>
  </div>
</div>

<template id="policy-table-template">
  <table id="ports-table" class="table table-striped table-responsive-xs wott-box-shadow wott-border-radius-lg" style="width: 100%;">
    <thead>
      <th width="5%"> </th>
      <th width="30%">Address</th>
      <th width="10%">Protocol</th>
      <th width="20%">Port</th>
      <th width="20%">IP version</th>
      <th width="20%"></th>
    </thead>
    <tbody class="wott-border-radius-lg">
    </tbody>
  </table>
  <button type="button" class="btn wott-btn-small btn-wott-secondary mt-0 pr-4" id="add-port-btn">＋ Add Port</button>
</template>
{% block scripts %}
<script>
    function init_policy_ports_editor(ports)
    {
        let ports_table;
        let ports_el = $("#id_ports");
        let ports_group = ports_el.parent();
        ports_group.append($('#policy-table-template').html());

        let fields = ['address', 'protocol', 'port', 'ip_version'];

        ports_table = window.ports_table = $(`#ports-table`).DataTable({
            searching: false,
            ordering: true,
            paging: false,
            info: false,
            data: ports,
            language: {
                emptyTable: "No port rules defined."
            },
            columns: [
                {data: null, render: (data, type, row, meta) => {
                        return render_rule_icons();
                    }, orderable: false},
                {data:'address'},
                {data:'protocol'},
                {data:'port'},
                {data:'ip_version', render: (data, type, row, meta) => `v`+ (String(data)=='true' ? '6': '4') },
                {data: null, className: 'wott-kv-btns', defaultContent: render_ports_buttons(), orderable: false },
            ],
            "order": [[ 1, 'asc' ]]
        });

        $('#id_policy').on('change', () => {
            console.log('CHANGE');
            let data = ports_table.data().toArray();
            ports_table.clear();
            for(let d of data) {
                ports_table.row.add(d);
            }
            ports_table.draw();
            refresh_port_table_button_events();
        });

        $('#add-port-btn').on('click', function () {
            wott_alert_hide('edit-alert');
            showDialog('add', 'Add New Port Rule',  null, add_policy_port);
        });

        function add_policy_port(e) {
            e.preventDefault();
            let [values, errors] = validateEditorValues();
            if( errors !== null ){
              alertbox_errors(errors, 'edit-alert');
              return false;
            }
            let data = validated_to_table(values);
            ports_table.row.add( data ).draw(false);

            $('#wott-policy-modal').modal('hide');
            refresh_port_table_button_events();
        }

        function edit_policy_port(e) {
            e.preventDefault();
            let [values, errors] = validateEditorValues();
            if( errors !== null ){
              alertbox_errors(errors, 'edit-alert');
              return false;
            }
            let data = validated_to_table(values);
            ports_table.row(values['row']).data( data ).draw(false);
            $('#wott-policy-modal').modal('hide');
            refresh_port_table_button_events();
        }

        function validateEditorValues() {
            let res = {};
            for(let k of fields) {
                res[k] = document.getElementById(k).value;
            }
            res.row = document.getElementById('row').value;
            let errors = [];
            for(const [idx,data] of ports_table.rows().data().toArray().entries()) {
                if(idx == res.row )
                  continue;

                let is_equal = true;
                for(let k in data) {
                    if(String(data[k]) != String(res[k])) {
                        is_equal = false;
                        break;
                    }
                }
                if(is_equal) {
                    errors.push({'duplicate error': 'the same rule already exists.'});
                    break;
                }
            }
            if((res.port != "0" && !/^[1-9]\d*$/.test(res.port)) || Number(res.port) > 65535) {
                errors.push({'port': 'must be an integer within the range of 0..65535.'});
            }
            if(!(res.ip_version == "false"? ip.v4: ip.v6)({exact: true}).test(res.address)) {
                errors.push({'address': 'invalid IP address.'});
            }

            errors = (errors.length > 0) ? res['errors'] = errors : null;
            return [res, errors];
        }

        function validated_to_table(values) {
            let data = {};
            for(let k of fields) {
                data[k] =  values[k];
            }
            return data;
        }

        function showDialog(method, header, data, on_submit) {
          $('#modal-title-h2')[0].innerText = header;
          $('#method').val(method);

          if(data) {
              for(let k in data) {
                  document.getElementById(k).value = data[k];
              }
          } else {
              document.getElementById('address').value = '0.0.0.0';
              document.getElementById('protocol').value = 'udp';
              document.getElementById('port').value = '0';
              document.getElementById('ip_version').value = false;
              document.getElementById('row').value = -1;
          }

          $('#edit-ok-btn').off('click');
          $('#edit-ok-btn').on('click', on_submit );
          $('#edit-alert')[0].style.display = 'none';
          $('#wott-policy-modal').modal('show');
        }


        function show_confirm_dialog(title, message, btn_text, on_confirm=null )
        {
            if( on_confirm !== null ){
                $('#confirm-btn').off("click");
                $('#confirm-btn').on("click", on_confirm );
            }
            $('#confirm-title')[0].innerText = title;
            $('#confirm-msg')[0].innerText = message;
            $('#confirm-btn')[0].innerText = btn_text;
            $('#confirm-alert')[0].style.display = 'none';
            $('#wott-confirm-modal').modal('show');
        }

        function hide_confirm_dialog()
        {
            $('#wott-confirm-modal').modal('hide');
        }

        function wott_alert_hide(alert_box_id)
        {
            $(".failed").removeClass('failed');
            let alertbox = $(`#${alert_box_id}`)[0];
            alertbox.style.display = 'none';
        }
        /**
         * show alert msg
         * @param messages  - array of error messages
         * @param alert_box_id - html element id of message placeholder
         */
        function wott_alert_strings(messages, alert_box_id){
            let alertbox = $("#"+alert_box_id)[0];
            alertbox.style.display = 'block';
            alertbox.innerText = messages.join("\n");
        }

        function alertbox_errors(errors, alert_box_id){
            let errMsgs = [];
            for (let i in errors) {
                for( let key in errors[i]){
                  errMsgs.push( key + " : " + errors[i][key] );
                  if(fields.includes(key)){
                      document.getElementById(key).classList.add('failed');
                  }
                }
            }
            wott_alert_strings(errMsgs, alert_box_id);
        }

        function refresh_port_table_button_events() {
            $('.wott-port-edit-btn').off('click');
            $('.wott-port-edit-btn').click((e) => {
                e.preventDefault();
                wott_alert_hide('edit-alert');
                let row = ports_table.row(e.currentTarget.parentElement.parentElement);
                let data = row.data(),
                    values = {'row': row.index()};
                for (let key in fields) {
                    values[fields[key]] = data[fields[key]];
                }
                showDialog('edit', 'Edit Port Rule', values, edit_policy_port);
            });
            $('.wott-port-del-btn').off('click');
            $('.wott-port-del-btn').click((e) => {
                let row = ports_table.row(e.currentTarget.parentElement.parentElement);
                show_confirm_dialog('Confirm delete', 'Are you sure want to delete this rule?', 'Delete',
                    function (e) {
                        e.preventDefault();
                        hide_confirm_dialog();
                        ports_table.rows(row).remove().draw(false);
                    });
            });
        }
        refresh_port_table_button_events();

        return ports_table;
    }
    /**
     * Create Font Awesome Button Conrol
     * @param type - is a button type ("submit", "button"...)
     * @param btn  - button btn class. ("btn-danger", "btn-info"...)
     * @param fa   - fa icon class ("fas fa-trash fa-lg" ...)
     * @param onclick - onclick event handler, if needed. in string form
     * @param popover - title and content params for bootstrap popover, if needed.
     *                  { title:"title", content:"content" }. The content is optional
     */
    function fa_button( type, btn, fa, onclick=undefined, popover=undefined)
    {
        let pop = ( popover === undefined ) ? "" : ' data-toggle="popover" data-placement="top" title="' +
            popover.title + (popover.content === undefined ? '"' : ('" data-content="' +  popover.content + '"'));

        let click = ( onclick === undefined ) ? "" : ' onclick="' + onclick + '" ';
        return `<button type="${type}" class="btn ${btn}" aria-label="Left Align"><span class="${fa}"`
             + ` aria-hidden="true" ${click}${pop}></span></button>`;
    }

    /***
     * DataTable del buttons cell render function
     */
    function render_ports_buttons(){
      return fa_button( "button", "btn-success  wott-port-edit-btn", "fas fa-edit fa-lg", undefined
                       , { title:"Edit policy port rule."} )
           + fa_button( "button", "btn-danger wott-port-del-btn", "fas fa-trash fa-lg", undefined
                       , { title:"Remove policy port rule."} );
    }
    
    function render_rule_icons() {
        let policy = $('#id_policy')[0].selectedIndex;
        if(policy > 0) {
            let icon = policy == 1 ? 'ban' : 'check-circle',
                color = policy == 1 ? 'danger' : 'success';
            return `<i class="wott-rule-icon fas fa-${icon} text-${color}"></i>`;
        } else {
            return '';
        }
    }    


    function parse_policy_ports_editor(ports_table)
    {
        let result = [];
        ports_table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            let data = ports_table.row( rowIdx ).data();
            result.push( {
                'address': data['address'],
                'protocol': data['protocol'],
                'port': Number(data['port']),
                'ip_version': (String(data['ip_version']) == 'true')
            });
        });
        return JSON.stringify(result);
    }
</script>

{% endblock scripts %}
