{% extends "admin_base.html" %}
{% load static %}

{% block title %}WoTT - Nodes{% endblock title %}

{% block dashboard_title %}
  <h1 style="margin-bottom: 0">Nodes List</h1>
{% endblock dashboard_title %}

{% block admin_content %}
<div id="node-list-tab">
  <div class="toast fixed-top float-right" role="alert" style="
    left: unset;
    top: 2em;
    right: 2em;
    width: 350px;
    background-color: transparent;
  ">
    <div class="toast-header">
{#      <i class="fas fa-info mr-1"></i>#}
      <strong class="mr-auto" id="wott-toast-title"></strong>
      <small id="wott-toast-extra"></small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body" id="wott-toast-message"></div>
  </div>

  <div class="container-fluid p-0">
{% for device in mirai_devices %}
<div class="alert alert-danger" role="alert">
    <p><br />
    <strong>Warning!</strong>
    Detected Mirai (botnet) on {{ device.device_id }}. We've proactively blocked the connection to Mirai's Command and Control nodes.</p>
</div>
{% endfor %}

<!--FILTER WITH SEARCH INPUT + ADD NODE BUTTON-->
<div class="d-flex justify-content-between w-100">
  <div class="d-flex input-with-btn">
    <!-- <div id="datatables-basic_filter" class="dataTables_filter">
      <input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="datatables-basic">
    </div> -->

    <div class="input-group filter-btn-box">
      <span class="input-group-append">
          <div class="input-group-text wott-form-control wott-small-input bg-white border-right-0 pl-4 pr-3"><i class="fa fa-search"></i></div>
      </span>
      <div id="datatables-basic_filter" class="dataTables_filter">
        <input type="search" id="wott-search-field" class="wott-form-control py-2 border-left-0" placeholder="Search" aria-controls="datatables-basic">
      </div>
    </div>

    <button class="btn wott-btn-filter" type="button" data-toggle="collapse" data-target="#collapseExample" id="filters-expand">
      <span class="mr-2">
        <img src="{% static '/media/filter-white.svg' %}" alt="filter">
      </span>
      <span class="btn-text">Filters</span>
      <i class="fa fa-sort-down ml-3"></i>
    </button>
  </div>
  <div class="select-all-box d-none">
    <div id="select-all-info-title">XXX rows selected on page.</div>
    <a href="#" id="select-all-info-link" onclick="select_all('all', true)">Select all XX items.</a>
  </div>

  <button type="button" class="btn btn-wott-primary wott-btn-medium" id="admin-inst-btn">
    <span>Add Node</span>
    <img class="ml-3" src="{% static '/media/plus.svg' %}" alt="plus">
  </button>
</div>

<div class="collapse mt-3" id="collapseExample">
  <div class="wott-card-body bg-white wott-box-shadow wott-rounded-lg">
    <form class="filter-collapse-box">
      <div class="form d-flex w-100 justify-content-between">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="filter-check">
          <label class="custom-control-label mt-1 wott-checkbox-label-round" for="filter-check"></label>
        </div>
        <div class="input-small" id="filter-name-div">
          <select class="custom-select wott-filter-select" id="filter-selector" >
          {% for filter_param in filter_params %}
            <option name="{{ filter_param.0 }}" value="{{ filter_param.2 }}">{{ filter_param.1 }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="input-small" id="filter-predicate-div">

        </div>
        <div class="input-medium" id="filter-value-div">

        </div>
      </div>
      <button type="submit" class="btn btn-wott-primary wott-btn-medium wott-btn-margin" id="filter-apply">Apply</button>
    </form>
  </div>

</div>
<!--END OF FILTER WITH SEARCH INPUT + ADD NODE BUTTON-->





    {# Table #}
    <div class="row">
      <div class="col-12">
        <div class="">
          <div class="">
            <table id="datatables-basic" class="table table-striped table-responsive-xs wott-box-shadow wott-rounded" style="width:100%">
              <thead>

              <!-- <tr>
                <th width="5%" id="select-all"></th>
                {% for column_name in column_names %}
                <th>{{ column_name }}</th>
                {% endfor %}
              </tr> -->

              <!------- the <tr> commented above should look like the one bellow ---->

              <tr role="row">
                <th width="5%" id="select-all1" class="sorting_asc" rowspan="1" colspan="1" style="width: 37px;" aria-label="">
                  <div class="btn-group dropdown">
                    <!-- added wott-select-all-->
                    <button type="button" class="btn wott-select-all" onclick="toggle_page(this)">
{#                      <span class="far fa-square" data-toggle="popover" data-placement="top" title="Select/unselect" id="select-all-toggle"></span>#}
                    </button>
                  </div>
                </th>
                <th class="sorting" tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" style="width: 80px;" aria-label="Node Name: activate to sort column ascending">Node Name</th>
                <th class="sorting" tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" style="width: 70px;" aria-label="Hostname: activate to sort column ascending">Hostname</th>
                <th class="sorting" tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" style="width: 91px;" aria-label="Last Ping: activate to sort column ascending">Last Ping</th>
                <th class="sorting" tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" style="width: 76px;" aria-label="Trust Score: activate to sort column ascending">Trust Score</th>
                <th class="sorting" tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" style="width: 154px;" aria-label="Recommended Actions: activate to sort column ascending">Actions</th><!--Changed from Recommended Actions to Actions-->
              </tr>
              </thead>

              <tfoot>
              <th colspan="6"></th>
              </tfoot>

              <tbody>

              <!-------The rows should look like the one bellow -->
                <tr role="row" class="odd"> 
                  <td class="sorting_1 round" tabindex="0"> <!--ADDED ROUND-->
                    <input type="checkbox" class="dt-checkbox wott-round-checkbox" id="index1"> <!--ADDED INDEX Must be unique added wott-round-checkbox-->
                    <label for="index1"></label> <!--ADDED <label> for must match input id-->
                  </td>
                  <td><a href="/devices/1/">artem-linux-gf</a></td>
                  <td>artem-linux-gf</td><td>3&nbsp;months, 2&nbsp;weeks ago</td>
                  <td>
                    <div class="position-relative">
                      <div id="trust-progress-100" class="w-100" role="progressbar"></div> <!--added id=trust-score-100-->
                      <span id="trust-progress-var" class="justify-content-center d-flex position-absolute">81%</span> <!--added id=trust-score-var-->
                    </div>
                  </td>
                  <!-------Added wott-badge-pill-------->
                  <td style=""><a class="wott-badge-pill" href="/devices/1/actions/" }="">2</a></td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% include "select_all_control.html" %}
  {% include "batch_actions_control.html" %}

  <template id="str_options">
    <select class="custom-select wott-filter-select" id="filter-predicate">
      <option value="eq">matches</option>
      <option value="neq">not matches</option>
      <option value="c">contains</option>
      <option value="nc">not contains</option>
    </select>
  </template>
  <template id="str_value">
    <input type="text" class="custom-select wott-filter-select bg-white wott-rounded-lg" placeholder="Value">
  </template>

  <template id="datetime_options">
    <select class="custom-select wott-filter-select" id="filter-predicate">
      <option value="eq">matches</option>
      <option value="neq">not matches</option>
      <option value="lt">greater than</option>
      <option value="gt">less than</option>
    </select>
  </template>
  <template id="datetime_value">
    <div class="form-row">
      <div class="col">
        <input type="number" class="custom-select wott-filter-select bg-white wott-rounded-lg" min="0">
      </div>
      <div class="col">
        <select class="custom-select wott-filter-select" id="datetime-scale">
          <option value="hours">hours</option>
          <option value="days">days</option>
        </select>
      </div>
      <div class="col mt-1">
        <label id="ago" for="datetime-scale">ago</label>
      </div>
    </div>
  </template>

  <template id="float_options">
    <select class="custom-select wott-filter-select" id="filter-predicate">
      <option value="eq">matches</option>
      <option value="neq">not matches</option>
      <option value="gt">greater than</option>
      <option value="lt">less than</option>
    </select>
  </template>
  <template id="float_value">
    <input type="number" class="custom-select wott-filter-select bg-white wott-rounded-lg" placeholder="Value" step="0.01">
  </template>

  <template id="bool_options">
    <select class="custom-select wott-filter-select" id="filter-predicate">
      <option value="eq">matches</option>
      <option value="neq">not matches</option>
    </select>
  </template>
  <template id="bool_value">
    <select class="custom-select wott-filter-select">
      <option>True</option>
      <option>False</option>
    </select>
  </template>

  <template id="tags_options">
    <select class="custom-select wott-filter-select" id="filter-predicate">
      <option value="c">contains</option>
      <option value="nc">not contains</option>
    </select>
  </template>
  <template id="tags_value">
    <input type="text"
           data-tagulous="true"
           data-tag-url="/ajax/tags/autocomplete/"
           data-tag-options='{
              "force_lowercase": true,
              "space_delimiter": true,
              "required": false
            }'
           id="filter-tags"
           name="filter-tags"
           data-tag-list=""
           style="width:20rem;" >
  </template>


  
  <!-- <template id="device-list-toolbar-template">
    <div class="dropdown" id="device-list-columns">
      <button class="btn btn-facebook dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Columns
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        {% for column_name in column_names %}
        <div class="dropdown-item form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck{{ forloop.counter }}" data-column="{{ forloop.counter }}" checked>
            <label class="form-check-label" for="dropdownCheck{{ forloop.counter }}">
              {{ column_name }}
            </label>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <button class="btn btn-facebook" type="button" data-toggle="collapse" data-target="#collapseExample" id="filters-expand">
      Filters
    </button> -->

    {% if filter %}
    <span id="clear-filters">
        <a href="." class="wott-blue" style="text-decoration: underline">Clear filters</a>
    </span>
    {% endif %}

  <template id="trust-score-template">
    <div class="position-relative">
      <div id="trust-progress-100"  class="w-100" role="progressbar"></div>
      <span id="trust-progress-var"
            class="justify-content-center d-flex position-absolute"
            style="width: 0000%">
            <!--trust_score_percent-->%
      </span>
    </div>
  </template>
</div>


<!-- <div class="select2-container select2-container-multi" id="s2id_filter-tags" style="width: 95%;/* border-color: azure; */">
  <ul class="select2-choices">
    <li class="select2-search-field">
      <label for="s2id_autogen1" class="select2-offscreen"></label>
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen1" placeholder="" style="width: 20px;">
    </li>
  </ul>
</div> -->

<style>

#device-list-columns {
      display: inline;
    }
    .toolbar { float: left; }

    .custom-control-label:before {
      background-color: white;
    }

    .shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-right .shepherd-arrow {
      right: 5px;
    }
    
</style>

{% endblock admin_content %}

{% block scripts %}
    {{ block.super }}

  <script>
    var table, data_timestamp, data_timer;
    const UPDATE_INTERVAL = 5000;

    function confirm_goto_payment() {
      $.confirm({
          title: 'Unpaid node warning',
          content: 'This node is out of your paid nodes list. In order to access its check details, ' +
              'please buy/extend your subscription.',
          icon: 'fas fa-dollar-sign',
          buttons: {
              buy: {
                  btnClass: 'btn-success',
                  action: function () {
                      location.href = '{% url 'payment_plan' %}';
                  }
              },
              cancel: {
                  btnClass: 'btn-secondary'
              }
          }
      });
  }

    $(() => {
  
        // last-ping sorting
        const minute = 60;
        const hour = 60 * minute;
        const day = hour * 24;
        const week = day * 7;
        const month = day * 30;
        const year = day * 365;
        const time_chunks = {
            'year': year, 'years': year,
            'month': month, 'months': month,
            'week': week, 'weeks':week,
            'day': day, 'days': day,
            'hour': hour, 'hours': hour,
            'minute': minute, 'minutes': minute
            };
  
        $.extend( $.fn.dataTable.ext.type.order, {
            "last-ping-pre": function (data){
                if( !data.endsWith('ago')) return 0;
                data = data.slice(0, -4);
                let parts = data.split(',');
                value = 0;
                for(let i in parts){
                  let vals = parts[i].trim().replace("\xA0", "\x20").split(" ");
                  value += ( Number(vals[0].trim()) * time_chunks[vals[1].trim()] );
                }
                return value;
            }
        } );
  
        // batch control initialization.
        var batchControl = initBatchControls({ get_row_pk: get_object_pk_for_batch });
  
        /**
         *  DataTable Initialization (Devce List)
         */
        $('#inst-btn').on('click', show_install_msg );
        table = $('#datatables-basic').DataTable({
          processing: true,
          ajax: dt_ajax,
          responsive: true,
          dom: 'rtip',
          "footerCallback": batch_footer,
          columns:[
              {data: null, render: render_checkbox, orderable: false, sortable:false, className: 'round'},
              {data: 'get_name' , render: render_device_name },
              {data: 'hostname' },
              {data: 'last_ping', type: 'last-ping' , orderable: true, sortable:true,},
              {data: 'trust_score', render: render_trustscore },
              {data: 'actions', render: render_actions_count }
          ],
          select: {
              style:    'os multi+shift',
              selector: 'td:first-child'
          },
          language: {
            emptyTable: `Looks like you got no nodes added. Press the <a id="inst-btn-link" href="#" onclick="show_install_msg()">Add Node</a> button to enroll your first
                         node and get a security audit.`
          }
        });

        $('#wott-search-field').on('input', (e) => {
            table.search(e.target.value).draw();
        });

        // apply column selection
        $("div.toolbar").html($('#device-list-toolbar-template').html());
        $('#filters-expand').click((e) => {
            $(e.target).toggleClass('active');
        });
  
        // apply 'select all' features to table.
        $("#select-all").html($("#select-all-template").html());
        set_select_all_link_toolbar();

        table.on( 'select', function ( e, dt, type, indexes ) {
            for(let i in indexes){
               let item =  table[ type ]( indexes[i] ).nodes().to$().children()[0].children[0];
               item.checked = true;
            }
        } );
  
        table.on( 'deselect', function ( e, dt, type, indexes ) {
            for(let i in indexes){
               let item =  table[ type ]( indexes[i] ).nodes().to$().children()[0].children[0];
               item.checked = false;
            }
        } );
  
        // data table ajax processing
        function dt_ajax(data, callback, settings)
        {
            serializeUrlParams(data); // add url params (fiter) to payload
            let orig_data = data;
            function set_timestamp_callback(d, cb) {
                data_timestamp = d.timestamp;
                if(data_timer) {
                    clearInterval(data_timer);
                }
                data_timer = setInterval(() => {
                    dt_ajax_update();
                }, UPDATE_INTERVAL);
                cb(d);
            }
            $.ajax({
                url: '/ajax-devices/list?length=100',
                type: 'GET',
                data: data,
                success: function (data) {
                    if(data.recordsFiltered > 100)
                    {
                        set_timestamp_callback(data, callback);
                        $('.dataTables_processing', $('#datatables-basic').closest('.dataTables_wrapper')).show();
                        $.ajax({
                            url: '/ajax-devices/list?start=100',
                            type: 'GET',
                            data: orig_data,
                            success: function (data) {
                                set_timestamp_callback(data, callback);
                            },
                            error: dt_ajax_fail
                        });
                    }
                    else set_timestamp_callback(data, callback);
                },
                error: dt_ajax_fail
            });
        }
        // data table ajax errors processing
        function dt_ajax_fail(jqXHR, textStatus, errorThrown)
        {
            $('.dataTables_processing', $('#datatables-basic').closest('.dataTables_wrapper')).hide();
            show_dialog(`${textStatus} ${jqXHR.status}`, errorThrown, jqXHR.responseText, 'Data retrieving error');
        }
  
        function dt_ajax_update()
        {
            let data = {};
            serializeUrlParams(data);
            data['since'] = data_timestamp;
            $.ajax({
                url: '/ajax-devices/list?',
                type: 'GET',
                data: data,
                success: (d) => {
                    if(d.data.length)
                      table.rows.add(d.data).draw(false);
                    data_timestamp = d.timestamp;
                }
            });
        }
  
        /**
         * DataTable footerCallback. Place batch action control to footer
         */
        function batch_footer( row, data, start, end, display ) {
            var api = this.api();
            $(api.table().footer()).html('<th colspan="6">\n' + $('#batch-footer-tmplate').html() + '\n</th>');
            batchControl.refresh();
        }
  
        /**
         * callback function. called by batch action 'apply' button handler for each table row
         *
         * @param action. action object.
         * @param row - row data. the array of table columns of processed row
         * @returns {null|string | *} must return pk of object in a row to process batch function
         * or null if you do not want to apply batch function to this object
         */
        function get_object_pk_for_batch( action, row )
        {
            return Number(row.id);
        }
  
  
        $('#filters-expand').click((e) => {
            $(e.target).toggleClass('active');
        });
  
        $('.form-check-input').click((e) => {
            var column = table.column( e.target.getAttribute('data-column') );
            console.log('CLICK', column);
            column.visible( e.target.checked );
        });

        $('#filter-selector').change((e) => {
            updateFilter(e.target.value);
        });

        $('#filter-apply').click((e) => {
            e.preventDefault();
            let query = '';
            if($('#filter-check').prop('checked')) {
              let by = $('#filter-selector')[0].selectedOptions[0].getAttribute('name');
              let predicate = $('#filter-predicate').val();
              let value = $('#filter-value-div').children(0).val(),
                  type = $('#filter-selector').val();
              if(type == 'datetime') {
                  value = $('#filter-value-div input').val() + ',' + $('#filter-value-div select').val();
              } else if(type == 'tags') {
                  value = $('form').serializeArray()[0].value;
                  value = Tagulous.parseTags(value).join(',');
              }
              query = `?filter_by=${by}&filter_predicate=${predicate}&filter_value=${value}`;
            }
            document.location.replace(window.location.pathname+query);
        });

        $('#filter-check').click((e) => {
          enableFilter(e.target.checked);
        });

        updateFilter($('#filter-selector')[0].options[0].value);

        {% if filter %}
        let type = "{{ filter.type }}",
            value = "{{ filter.value | default_if_none:'' }}";
        updateFilter(type);
        setFilter("{{ filter.by }}", "{{ filter.predicate }}", value, type);
        {% else %}
        enableFilter(false);
        {% endif %}
    });
  
        function setFilter(name, predicate, value, type) {
            $(`option[name=${name}`)[0].selected = true;
            $('#filter-predicate')[0].value = predicate;
            if(type == 'datetime' && value) {
                let [n, m] = value.split(',');
                $('#filter-value-div input').val(n);
                $('#filter-value-div select').val(m);
            } else {
                if(type == 'tags' && value) {
                    let tags = value.split(',');
                    value = Tagulous.renderTags(tags);
                }
                $('#filter-value-div').children(0).val(value);
            }
  
            $('#filter-check').prop('checked', true);
            enableFilter(true);
            if(type == 'tags')
              Tagulous.select2($('#filter-tags'));
        }

        function updateFilter(opt_type) {
              $('#filter-predicate-div').html($(`#${opt_type}_options`).html());
              $('#filter-value-div').html($(`#${opt_type}_value`).html());
              if(opt_type == 'tags')
                Tagulous.select2($('#filter-tags'));
          }

        function enableFilter(b) {
            $('#filter-name-div,#filter-predicate-div,#filter-value-div').children().attr('disabled', !b)
        }
  
        /**
         * fill payload with url params
         * @param payload
         */
        function serializeUrlParams(payload)
        {
            let hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(let i = 0; i < hashes.length; i++)
            {
                let hash = hashes[i].split('=');
                payload[hash[0]] = hash[1];
            }
        }
  
    /**
     *  datatable cell rendering callback for selection checkbox column
     * @param data - cell data
     * @param type - call type (mode)
     * @param row  - row data
     * @param meta - meta: [meta.column, meta.row - int]
     * @returns {string}
     */
        function render_checkbox(data, type, row, meta){
            if(type === 'display'){
                data = `
                  <input type="checkbox" class="dt-checkbox wott-round-checkbox"></checkbox>
                  <label></label>
                `;
            }
            return data;
        }
  
    /**
     * datatable cell rendering callback for node name column
     * @param data - cell data
     * @param type - call type (mode)
     * @param row  - row data
     * @param meta - meta: [meta.column, meta.row - int]
     * @returns {string|*}
     */
    function render_device_name(data, type, row, meta) {
        if (type === 'sort') return data;
        if (row['payment_status'] === 'unpaid')
            return `<a href="#" onclick="confirm_goto_payment();"><s>${data}</s></a>`;
        else
            return `<a href="/devices/${row['id']}/">${data}</a>`;
    }
  
    /**
     * datatable cell rendering callback for trustscore column
     * @param data - cell data
     * @param type - call type (mode)
     * @param row  - row data
     * @param meta - meta: [meta.column, meta.row - int]
     * @returns {string|*}
     */
        function render_trustscore(data, type, row, meta){
            if (type == 'sort') return data;
            if (data == null || data == '') return '';
            let template = $("#trust-score-template").html()
                .replace('white', row['trust_score_color'])
                .replace('0000', row['trust_score_percent'])
                .replace('<!--trust_score_percent-->', row['trust_score_percent']);
  
            return template;
        }
        $('.toast').toast({delay: 5000});
        $('.toast').hide();

    function render_actions_count(data, type, row, meta) {
        if (type == 'sort') return data;
        if (row['payment_status'] === 'unpaid')
            return data ? `<a class="badge badge-pill badge-danger" href="#" onclick="confirm_goto_payment();">${data.count}</span>` : "";
        else
            return data ? `<a class="badge badge-pill badge-danger" href="${data.url}">${data.count}</span>` : "";
    }
  
    {% if not user.profile.wizard_shown %}
      $(() => {
          const tour = new Shepherd.Tour({
            defaultStepOptions: {
              cancelIcon: {
                enabled: true
              },
              classes: 'class-1 class-2'
            },
            useModalOverlay: true
          });
          tour.addSteps([{
            title: 'Add Node',
            text: `To get started with WoTT, you need to install
                the WoTT agent on your node(s). WoTT will then automatically
                perform a security audit of your node(s) and provide you with
                customized recommendations based on your particular configuration.`,
            buttons: [{
              action: function() {
                return this.cancel();
              },
              secondary: true,
              text: "Exit"
            }, {
              action: function() {
                return this.next();
              },
              text: 'Next'
            }],
            canClickTarget: false,
            attachTo: {
              element: '#admin-inst-btn',
              on: 'left'
          }}, {
            title: 'Recommended Actions',
            text: `Recommended Actions are specific security changes tailored to
              your node(s). We will help you avoid making common security pitfalls,
              which could put your data and node(s) at risk.`,
            buttons: [{
              action: function() {
                return this.complete();
              },
              text: "Finish"
            }, {
              action: function() {
                return this.back();
              },
              text: 'Back',
              secondary: true
            }],
            attachTo: {
              element: '#sidebar-recommended-actions',
              on: 'right'
          }}]);
  
          tour.start();
  
          function wizardShown() {
              $.post('/user/profile/wizard-complete/')
          }
          tour.on('complete', wizardShown).on('cancel', wizardShown);
          window.tour = tour;
      });
    {% endif %}

    </script>
{% endblock scripts %}