 {% block css %}
  <style xmlns:cursor="http://www.w3.org/1999/xhtml">
  table.dataTable tbody tr.selected {
    color: #2d3646;
    background-color: #c2dbff;
  }

  table.dataTable tbody td.selected a,
  table.dataTable tbody th.selected a,
  table.dataTable tbody tr.selected a{
        color: #355fff !important;
  }

  table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    /* font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols" !important;*/
    font-family: EmojiSymbols !important;
    color: #454bc5;
  }


  .selectall-toolbar {
      float: left;
  }

  </style>
 {% endblock %}

  <template id="select-all-link-btn-template">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span id="select-all-info-title"></span>
    <button id="select-all-info-link" onclick="select_all('all', true)"
      style="background:none; color:blue; border:none; padding:0!important; font: inherit; border-bottom:1px solid #444; cursor: pointer;" >
    </button>
  </template>

  <template id="select-all-template">
    <div class="btn-group dropdown">
      <button type="button" class="btn btn-facebook" onclick="toggle_page(this)">
        <span class="far fa-square" data-toggle="popover" data-placement="top" title="Select/unselect"
              id="select-all-toggle"></span>
      </button>
    </div>
  </template>

  <script>

      /***
       * insert select-all link button panel into datatable toolbar, before search
       */
      function set_select_all_link_toolbar(dt_id='datatables-basic')
      {
        var dt_filter = $(`#${dt_id}_filter`)[0];
        var select_toolbar = document.createElement('div');
        select_toolbar.innerHTML = $('#select-all-link-btn-template').html();
        select_toolbar.classList.add('selectall-toolbar');
        var dt_wrapper = $(`#${dt_id}_wrapper`)[0];
        dt_wrapper.insertBefore(select_toolbar, dt_filter);
      }

      /* select all control for table */
      function clear_select_all_info(){
          $("#select-all-info-title").html('');
          $("#select-all-info-link").html('');
      }

      function toggle_page(e){
          let toggle_control = $('#select-all-toggle');
          let state = toggle_control.hasClass("fa-check-square");

          if(!state){
              toggle_control.addClass("fa-check-square");
              toggle_control.removeClass("fa-square");
              select_all('current', true);
          } else {
              toggle_control.removeClass("fa-check-square");
              toggle_control.addClass("fa-square");
              deselect_all('all');
          }
      }

      function _pagination(table, paginate=null, lengthChange=null)
      {
          let settings = table.settings();
          if ( paginate===null || lengthChange===null ){
              return [ settings[0].oFeatures.bPaginate, settings[0].oFeatures.bLengthChange ];
          } else {
              settings[0].oFeatures.bPaginate = paginate;
              settings[0].oFeatures.bLengthChange = lengthChange;
              return table.settings(settings);
          }
      }

      function select_all(page, extend_on_toolbar=false)
      {
          let table = $("#datatables-basic").dataTable().api();
          let page_info = table.page.info();
          let on_page = table.rows({page:'current'}).count();
          let total = page_info.recordsTotal;
          if (page == 'all' && page_info.serverSide)
          {
              let [paginate, lengthChange] = _pagination(table);
//              let sets = table.settings();
//              let paginate = sets[0].oFeatures.bPaginate;
//              let lengthChange = sets[0].oFeatures.bLengthChange;
              table.one('draw', function(e, settings){
                  //let settings = table.settings();
                  settings["deferRender"] = true;
                  table.settings(settings).rows({page:page}).select();
              });
              //let len = table.page.len();
              _pagination(table, false, false).ajax.reload(null,false);
              _pagination(table, paginate, lengthChange);
              /*
              sets[0].oFeatures.bPaginate = false;
              sets[0].oFeatures.bLengthChange = false;
              table.settings(sets).ajax.reload(null,false);
              sets[0].oFeatures.bPaginate = paginate;
              sets[0].oFeatures.bLengthChange = lengthChange;
              table.settings(sets);*/
          }
          else table.rows({page:page}).select();
          if(extend_on_toolbar){
              if ( total > on_page && page == 'current'){
                  $("#select-all-info-title").html(`${on_page} rows selected on page.`);
                  $("#select-all-info-link").html(`Select all ${total} items.`);
                  return;
              }
          }
          clear_select_all_info();
      }

      function deselect_all(page)
      {
          $("#datatables-basic").dataTable().api().rows({page:page}).deselect();
          clear_select_all_info();
      }

      function inverse_all(page){
          let table = $("#datatables-basic").dataTable().api();

          table.rows({page:page}).every( function ( rowIdx, tableLoop, rowLoop ){
            if ( table.row( this, { selected: true } ).any() ) {
                table.row( this ).deselect();
            }
            else {
                table.row( this ).select();
            }
          });
          clear_select_all_info();
      }

      /**
       *    Usage sample:
       *    table id must be 'datatables-basic'
       *    Applying on table column header. <th id="select-all">:
       *
       *        $('#datatables-basic').DataTable({
       *             responsive: true,
       *             columns:[
       *                 {data:'', orderable: false, sortable:false, className: 'select-checkbox'},
       *                 {data:0},
       *                 {data:1},
       *                 {data:2},
       *             ],
       *             select: {
       *                 style:    'multi+shift',
       *                 selector: 'td:first-child'
       *             },
       *         });
       *
       *
       *        $("#select-all").html($("#select-all-template").html());
       *        set_select_all_link_toolbar();
       */
  </script>
